<script>
$(function(){
});
</script>

<?php include('module/Message/view/message/navbar.phtml')?>

<h2><?php echo $pageTitle?></h2>

<div class="container">
<?php
echo $this->form()->openTag($form);
?>
<fieldset class="form-inline">
	<div class="form-group"><?echo $this->formRow($form->get('to'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('cc'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('bcc'));?></div>
</fieldset>

<fieldset class="form-inline">
	<div class="form-group"><?echo $this->formRow($form->get('priority'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('toall'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('bymessage'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('bymail'));?></div>
</fieldset>

<fieldset class="">
	<div class="form-group"><?echo $this->formRow($form->get('subject'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('body'));?></div>
</fieldset>

<fieldset>
	<div class="form-group"><?echo $this->formRow($form->get('validate'));?></div>
</fieldset>

<?php echo $this->form()->closeTag();?>
</div>
