{*Smarty template*}

<div id="favorites">

{section name=favorite loop=$favorites}
	<span class="button2">
    <a class="linkbut" href="{$baseurl}/session/manager/activate?containerid={$favorites[favorite].container_id}&space={$favorites[favorite].space_name}" >
    {$favorites[favorite].container_number}
    </a></span>
{/section}

</div>
