<?php
use Application\Model\Acl;
use Rbplm\People;

$siteName= 'Portal Users';
$currentUser = People\CurrentUser::get();
$username = $currentUser->getLogin();
$logoUrl = 'img/logo.png';
?>

<script>
$(function(){
	$(".enter-btn").click(function(e){
		var id = $(this).data('id');
		var url = "<?php echo $this->url('adminuser', array('action'=>'index'))?>"+id;
		window.open(url,"_self");
	});
	$(".edit-btn").click(function(e){
		var id = $(this).data('id');
		var url = "<?php echo $this->url('adminuser', array('action'=>'edit'))?>"+id;
		window.open(url,"_self");
	});
	$(".delete-btn").click(function(e){
		var ok = confirm('Are you Sure?');
		if(ok == true){
			var id = $(this).data('id');
			$url = "<?php echo $this->url('adminuser', array('action'=>'delete'))?>"+id;
			window.open($url,"_self");
		}
	});
});
</script>

<?php
function displaylist($headers, $list, $view, $mode='consult'){
	$currentUser = People\CurrentUser::get();
?>

<table class="table">
	<tr>
		<?php
		echo '<th>#</th>';
		foreach($headers as $h=>$p):
			echo '<th>'.$h.'</th>';
		endforeach;
		echo '<th></th>';
		?>
		<?php
		foreach($list as $item):
			$id = $item['id'];
			$uid = $item['uid'];
			echo '<tr>';
			echo '<td>'.$id.'</td>';
			foreach($headers as $p):
				echo '<td>'.$item[$p].'</td>';
			endforeach;
			?>
			<td>
				<div class="btn-group btn-group-xs project-btn" role="group" aria-label="...">
					<button type="button" class="btn btn-default enter-btn" id="" data-id="<?php echo $id?>">
						<?php echo $view->translate('See') ?>
					</button>
					<button type="button" class="btn btn-warning edit-btn" id="" data-id="<?php echo $id?>">
						<?php echo $view->translate('Edit') ?>
					</button>
					<button type="button" class="btn btn-danger delete-btn" id="" data-id="<?php echo $id?>">
						<?php echo $view->translate('Delete') ?>
					</button>
				</div>
			</td>
			<?php
			echo '</tr>';
		endforeach;
		?>

</table>
<?php } ?>

<div class="jumbotron">
	<h1>
		<?php echo sprintf($this->translate('%s'.$siteName.'%s'), '<span class="">', '</span>') ?>
	</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<?php echo $siteName ?>
				</h3>
			</div>
			<div class="panel-body">
				<?php displaylist($headers, $list, $this); ?>
				<p>
					<a class="btn btn-success add-btn pull-left add-btn"
						href="<?php echo $this->url('adminuser', array('action'=>'add'))?>">
						<?php echo $this->translate('Add') ?>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
