<ul class="ul-contextmenu" id="container-context-menu">
	<li>
		<a href="<?echo $baseurl?>/container/<?echo $spacename?>/edit" title="<?echo tra('Edit')?>">
		<img src="<?echo $baseurl?>/img/icons/edit.png" />
		<?echo tra('Edit')?>
		</a>
	</li>
	<li>
		<a href="<?echo $baseurl?>/container/history/index" title="<?echo tra('Get history')?>">
		<img src="<?echo $baseurl?>/img/icons/history.png" />
		<?echo tra('Get history')?>
		</a>
	</li>
	<li>
		<a href="<?echo $baseurl?>/container/<?echo $spacename?>/delete" title="<?echo tra('Delete')?>"
			data-confirm="The Container must be empty to be deleted, Do you want to continue?">
		<img src="<?echo $baseurl?>/img/icons/trash.png" />
		<?echo tra('Delete')?>
		</a>
	</li>
	<li>
		<a href="<?echo $baseurl?>/container/linkmetadata/display" title="<?echo tra('Metadatas')?>">
		<img src="<?echo $baseurl?>/img/icons/link_edit.png" />
		<?echo tra('Metadatas Links')?>
		</a>
	</li>
	<li>
		<a href="<?echo $baseurl?>/container/linkdoctype/display" title="<?echo tra('Doctypes')?>">
		<img src="<?echo $baseurl?>/img/icons/link_edit.png" />
		<?echo tra('Doctypes Links')?>
		</a>
	</li>
	<li>
		<a href="<?echo $baseurl?>/container/linkcategory/display" title="<?echo tra('Categories')?>">
		<img src="<?echo $baseurl?>/img/icons/link_edit.png" />
		<?echo tra('Categories Links')?>
		</a>
	</li>

	<li>
		<a href="<?echo $baseurl?>/container/<?echo $spacename?>/addPrefered" title="<?echo tra('Add prefered')?>">
		<img src="<?echo $baseurl?>/img/icons/container/heart_add.png" />
		<?echo tra('Add prefered')?>
		</a>
	</li><li>
		<a href="<?echo $baseurl?>/container/<?echo $spacename?>/removePrefered" title="<?echo tra('Remove prefered')?>">
		<img src="<?echo $baseurl?>/img/icons/container/heart_delete.png" />
		<?echo tra('Remove prefered')?>
		</a>
	</li><li>
		<a href="<?echo $baseurl?>/ged/notification/edit" data-idkey="referenceuid" data-valuekey="uid" title="<?echo tra('Notification')?>">
		<img src="<?echo $baseurl?>/img/icons/container/notification.png" />
		<?echo tra('Notification')?>
		</a>
	</li><li>
		<a href="<?echo $baseurl?>/user/roleadmin/display?areaid=10" data-idkey="resourceid" title="<?echo tra('Permissions')?>">
		<img alt="" src="<?echo $baseurl?>/img/icons/user.png" />
		<?echo tra('Permissions')?></a>
	</li>
</ul>

<ul class="ul-contextmenu" id="alias-context-menu">
	<li>
		<a href="<?echo $baseurl?>/container/alias/edit" title="<?echo tra('Edit this Alias')?>" data-class="alias">
		<img src="<?echo $baseurl?>/img/icons/edit.png" />
		<?echo tra('Edit')?></a>
	</li>
	<li>
		<a href="<?echo $baseurl?>/container/alias/delete" title="<?echo tra('Delete this Alias')?>"
			data-class="alias"
			data-confirm="Remove this Alias, Are you Sure?">
		<img src="<?echo $baseurl?>/img/icons/trash.png" />
		<?echo tra('Delete')?></a>
	</li>
</ul>
