<div id="action-menu" class="gabysbar">

<button class="btn btn-default btn-sm btn-refresh" type="submit" title="<? echo tra('Refresh') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/refresh.png" alt="<? echo tra('Refresh') ?>"/>
</button>

</div>
