<script>
$(function(){
	var url = window.location.origin + window.location.pathname;
	var orderby="<? echo $orderby ?>";
	var order="<? echo $order ?>";
	var spaceName = "<? echo $spacename ?>";
	var url = getUrlWithoutSort();
	initSortableHeader(orderby, order, url.url);

	$(".archive-btn").click(function(){
		if(confirm('Do you want really archive this documents?')){
			var url = document.baseurl+'/'+spaceName+'/workitem/archive';
			$("form[name='checkform']").attr('action', url);
			$("form[name='checkform']").submit();
		}
		return false;
	});

	/**
	*/
	function containerContextMenuAction(ahref, data)
	{
		var id = data.id;
		var uid = data.uid;
		var spacename = data.spacename;
		var basecamp = data.basecamp;
		var aliasId = data.aliasid;
		var currentUserId = data.currentUserId;

		var confirmMessage = $(this).data('confirm');
		if(typeof(confirmMessage) != 'undefined'){
			if(confirm(confirmMessage)){
				null;
			}
			else{
				return false;
			}
		}

		var url = ahref.attr('href');
		var urlDecomposed = url.split('?');
		var baseUrl = urlDecomposed[0];
		var searchUrl = urlDecomposed[1];

		var idkey = ahref.data('idkey');
		if(typeof(idkey)=='undefined'){
			idkey = 'containerid';
		}

		var dataclass = ahref.data('class');
		if(dataclass == 'alias'){
			idkey = 'aliasid';
			id = aliasId;
		}

		var valuekey = ahref.data('valuekey');
		if(valuekey=='uid'){
			id = uid;
		}
		else if(valuekey=='aliasId'){
			id = aliasId;
		}

		url = baseUrl+"?"+idkey+"="+id+"&spacename="+spacename;
		if(basecamp != ""){
			url = url+"&basecamp="+basecamp;
		}
		if(typeof(searchUrl) != "undefined"){
			url = url+"&"+searchUrl;
		}

		document.location.assign(url);
		return false;
	}

	/* CONTEXT MENU */
	initContextMenu(".contextmenu-showbtn", "#container-context-menu", function(e){
		e.preventDefault();
		var data = $(this).parents("#container-context-menu").first().data('menuItemData');
		containerContextMenuAction($(this), data);
		return false;
	});

	/* CONTEXT MENU */
	initContextMenu(".alias-contextmenu-showbtn", "#alias-context-menu", function(e){
		e.preventDefault();
		var data = $(this).parents("#alias-context-menu").first().data('menuItemData');
		containerContextMenuAction($(this), data);
		return false;
	});

});
</script>

<div class="container-fluid rbgui-container">

<? include('module/Ged/view/ged/container/manager/contextmenu.phtml')?>

<!-- --------------------Actions defintion-------------------------- -->
<div id="page-bar" class="panel panel-default">
<div class="panel-body">
<? include('module/Ged/view/ged/container/menubar1.phtml')?>
</div></div>

<h1 class="pagetitle"><? echo $pageTitle ?></h1>

<!-- -----------Favorites-------------------- -->
<? include('module/Ged/view/ged/container/favorites.phtml')?>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<? echo $filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?php echo $paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="post" action="#">
		<?include('module/Ged/view/ged/container/manager/list1.phtml')?>
		<?include('module/Ged/view/ged/container/manager/gabysbar.phtml')?>
		<input type="hidden" name="spacename" value="<?echo $spacename?>">
		<input type="hidden" name="layout" value="<?echo $layout?>">
		<input type="hidden" name="basecamp" value="<?echo $basecamp?>">
	</form>
	</div>
</div>
