<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered">
<thead><tr>
	<th class="heading auto">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading" style="width:150px"></th>
	<th class="heading sortable" data-field="uid"><? echo tra('Number') ?></th>
	<th class="heading sortable" data-field="description"><? echo tra('Description') ?></th>
	<th class="heading sortable" data-field="parentId"><? echo tra('Project') ?></th>
	<th class="heading sortable" data-field="status"><? echo tra('State') ?></th>

	<!-- Display extended metadatas -->
	<?php
	if ( $extended ) :
		foreach( $extended as $type ) :?>
	<th class="heading sortable" data-field="<?php echo $type['name']?>"><? echo tra($type['label']) ?></th>
	<?php
		endforeach;
	endif;
	?>

	<th class="heading">
		<? echo tra('Created')?>
			<span class="heading sortable" data-field="createById"><? echo tra('By') ?></span>
		- <span class="heading sortable" data-field="created"><? echo tra('Date') ?></span>
		<br />
		<? echo tra('Closed')?>
			<span class="heading sortable" data-field="closeById"><? echo tra('By') ?></span>
		- <span class="heading sortable" data-field="closed"><? echo tra('Date') ?></span>
		<br />
		<? echo tra('Forseen close date')?>
			<span class="heading sortable" data-field="forseenCloseDate"><? echo tra('Date') ?></span>
		<br />
	</th>

	<th class="heading sortable" data-field="default_file_path"><? echo tra('Reposit') ?></th>
	<th class="heading sortable" data-field="processId"><? echo tra('Default process') ?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';?>
<tr class="<?echo $cycle?>">

<?php
if($item['cid'] == '45c84a5zalias'){
	$containerId = $item['aliasOfId'];
	$aliasId = $item['id'];
	$contextMenuBtnclass = 'alias-contextmenu-showbtn';
	$aliasLabel = 'Alias of '.$item['aliasOfName'];
}
else{
	$containerId = $item['id'];
	$aliasId = null;
	$contextMenuBtnclass = 'contextmenu-showbtn';
	$aliasLabel = '';
}
?>
	<td class="selectable">
	<input type="checkbox" name="checked[]" value="<?echo $containerId?>" />
	</td>

	<td>
		<div>
		<button id="contextmenu" class="btn btn-default btn-sm <?php echo $contextMenuBtnclass?>"
			data-cid="<?echo $item['cid']?>"
			data-id="<?echo $containerId?>"
			data-uid="<?echo $item['uid']?>"
			data-aliasid="<?echo $aliasId?>"
			data-spacename="<?echo $spacename?>"
			data-basecamp="<?echo $basecamp?>">Actions Menu<span class="caret"></span></button>
		</div>
	</td>

	<!-- -Specifics fields- -->
	<td>
	<a class="btn btn-default btn-sm" title="Click to enter" href="<?echo $baseurl?>/session/manager/activate?containerid=<?echo $containerId?>&spacename=<?echo $spacename?>" ><?echo $item['number']?></a>
	<?php if($aliasLabel):?>
	<blockquote>
	<footer><?echo $aliasLabel?></footer>
	</blockquote>
	<?php endif;?>
	</td>
	<td class="selectable"><?echo $item['description']?></td>
	<td class="selectable"><?echo $this->projectIdToName($item['parentId'])?></td>
	<td class="selectable"><?echo $item['status']?></td>

	<!-- Display optionnals fields -->
	<?php
	if($extended):
	foreach($extended as $key=>$type):
		$fn = $type['appName'];
		echo '<td class="selectable">'.$item[$fn].'</td>';
	endforeach;
	endif;
	?>

	<td nowrap class="selectable">
	<?php
		echo '<p><em>'.tra('Created By').'</em>: ' . $this->userIdToName($item['createById']) . ' <em>' . tra('At') . '<em>: ' . $this->dateFormater($item['created']) . '</p>';
		echo '<p><em>'.tra('Closed By').'</em>: ' . $this->userIdToName($item['closeById']) . ' <em>' . tra('At') . '<em>: ' . $this->dateFormater($item['closed']) . '</p>';
		echo '<p><em>'.tra('Forseen Close').'</em>:' . tra('At') . '<em>: ' . $this->dateFormater($item['forseenCloseDate']);
	?>
	</td>

	<td class="selectable"><?echo $item['default_file_path']?></td>
	<td class="selectable"><?echo $this->processIdToName($item['processId'])?></td>

</tr>
<?php
endforeach;
else:?>
<tr><td colspan="40"><?php echo tra('No containers to display')?></td></tr>
<?endif;?>
</tbody>
</table>

