<?php
$form = $this->filterForm;
$form->prepare();
echo $this->form()->openTag($form);
?>

<fieldset>
	<div class="form-group"><?echo $this->formRow($form->get('quick_search'));?></div>

	<div class="form-group"><?echo $this->formRow($form->get('docsier_keyword'));?></div>

	<div class="form-group"><?echo $this->formRow($form->get('docsier_fournisseur'));?></div>

	<div class="form-group"><?echo $this->formRow($form->get('docsier_famille'));?></div>

	<input type="submit" name="filter" value="<?echo tra('filter')?>" class="btn btn-default btn-sm"/>
	<input type="submit" name="resetf" value="<?echo tra('Reset all filters')?>" class="btn btn-default btn-sm"/>
</fieldset>

<?php echo $this->form()->closeTag();?>
