<?php $this->headLink()
->prependStylesheet($this->basePath() . '/css/application.css')
->prependStylesheet($baseurl . '/styles/docsier.css');
?>

<h1 class="pagetitle"><img src="<?echo $baseurl?>/img/ranchbe.png" width="80px"/>RECHERCHE DANS LA DOCUMENTATION FOURNISSEUR</h1>

<div id="searchbar">
<?echo $this->filter->render($this)?>
</div>

<hr />

<a name="result" ></a>
<h1 class="pagetitle">RESULTATS</h1>

<b><font color="white"><?echo $countOutput?> documents trouvés</font></b><br />

<!-- {*--------------------Display messages------------------------------*} -->
<b><font color="red"><?echo $search_return?></font></b><br />

<!-- {*--------------------Display result--------------------------------*} -->
<form name="checkform" method="post" action="#">

<?
if($list):
foreach($list as $item):
?>

ID :
<?echo $list['number']?>
Annee :
<?echo $list['docsier_date']?>
Famille :
<?echo $list['docsier_famille']?>
Description :
<?echo $list['description']?>
Mots clés :
<?echo $list['docsier_keyword']?>

<hr size ="1" color ="#FFFF99" />

<?
endforeach;
endif;
?>

</form>
