{*Smarty template*}


<h3>Approve or reject</h3>
<br />
<form method="post">
	<input type="submit" name="reject" value="{tr}Reject{/tr}" />
	<input type="submit" name="approve" value="{tr}Approve{/tr}" />

<input type="submit" name="cancel" value="{tr}Cancel{/tr}" />

</form>
