<script>
$(function() {
	$('.submitOnClick').click(function(){
		return filterSubmit(this);
	});
	$('.submitOnChange').change(function(){
		return filterSubmit(this);
	});

});

function filterSubmit(element){
	$('#messagefilterform').submit();
}
</script>

<div id="sitesearchbar">
<?php
$form = $this->filterForm;
$form->setAttribute('id', 'messagefilterform');
echo $this->form()->openTag($form);
?>
<fieldset>
	<div class="form-group"><?echo $this->formRow($form->get('find_flags'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('find_priority'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('find'));?></div>

	<input type="submit" name="filter" value="<?echo tra('filter')?>" class="btn btn-default btn-sm"/>
	<input type="submit" name="resetf" value="<?echo tra('Reset all filters')?>" class="btn btn-default btn-sm"/>
</fieldset>
<?php echo $this->form()->closeTag();?>
</div>
