<div id="page-bar" class="panel panel-default">
<div class="panel-body">
	<a class="btn btn-default btn-xs" href="<?php echo $baseurl?>/message/mailbox/index"><?echo tra('Messages')?></a>
	<a class="btn btn-default btn-xs" href="<?php echo $baseurl?>/message/compose/send"><?echo tra('Compose')?></a>
	<a class="btn btn-default btn-xs" href="<?php echo $baseurl?>/message/sent/index"><?echo tra('Sent')?></a>
	<a class="btn btn-default btn-xs" href="<?php echo $baseurl?>/message/archive/index"><?echo tra('Archive')?></a>
</div></div>
