<script src="{$baseurl}/js/jQuery-MD5/jquery.md5.min.js"></script>

<style>
.dropfilezone{
	width: 400px;
	height: 60px;
	border: 3px dashed #BBBBBB;
	line-height:0px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0px;
	padding-top: 30px;
	}
</style>

<script>
$(function() {
	var dropfileDiv = $(".dropfilezone").last();

	dropfileDiv.on('dragenter', function() {
		$(this).css('border', '3px dashed red');
		return false;
	});

	dropfileDiv.on('dragover', function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).css('border', '3px dashed red');
		return false;
	});

	dropfileDiv.on('dragleave', function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).css('border', '3px dashed #BBBBBB');
		return false;
	});

	dropfileDiv.on('drop', function(e){
		var masterDiv = $("#rb-documentdetail");
		var rbDocumentDetail = new rbdocumentdetail(masterDiv);

		if (e.originalEvent.dataTransfer) {
			if (e.originalEvent.dataTransfer.files.length) {
				// Stop the propagation of the event
				e.preventDefault();
				e.stopPropagation();
				$(this).css('border', '3px dashed green');

				var files = e.originalEvent.dataTransfer.files;
				for (var i = 0, file; file = files[i]; i++) {
					var reader = new FileReader();
					reader.file = file;
					reader.url = document.baseurl + "/document/datamanager/assocfile";
					reader.rbContext = rbDocumentDetail;
					reader.onload = rbDocumentDetail.uploadAndAssociateFile;
					reader.readAsDataURL(file);
				}
			}
		}
		else {
			$(this).css('border', '3px dashed #BBBBBB');
		}
		return false;
	});
});
</script>

<div id="dropassociatedfile{$documentid}" class="dropfilezone">Drop an file here</div>

