<style>
body {
padding-top: 40px;
padding-bottom: 40px;
background-color: #eee;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 10px;
}

.form-signin .checkbox {
font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
z-index: 2;
}

.form-signin input{
margin-bottom: -1px;
margin-top: 0px;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
margin-bottom: 0px;
margin-top: 0px;
border-top-right-radius: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
.form-signin input[type="submit"] {
margin-top: 0px;
margin-bottom: 10px;
border-top-right-radius: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
}
.heading{
	width:200px;
	padding: 0px;
	margin: auto;
}
</style>

<?php
$title = 'Login';
$this->headTitle($title);
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-signin',
));
$form->prepare();
?>

<div class="container">

<?php echo $this->form()->openTag($form);?>
	<div class="heading">
	<h2 class="form-signin-heading">Please sign in <img src="<?php echo $this->basePath().'/'.$logo?>">
	<i>RANCHBE</i>&#169; <?php echo $ranchbe::VERSION?>
	</h2>
	</div>

	<?php echo $this->formHidden($form->get('logout'));?>
	<?php echo $this->FormInput($form->get('username')->setAttribute('class', 'form-control')->setAttribute('autofocus', 'autofocus')->setAttribute('required', 'required'));?>
	<?php echo $this->FormInput($form->get('password')->setAttribute('class', 'form-control')->setAttribute('autofocus', 'autofocus')->setAttribute('required', 'required'));?>
	<?php echo $this->formRow($form->get('submit')->setAttribute('class', 'btn btn-lg btn-primary btn-block'));?>
<?php echo $this->form()->closeTag();?>

</div> <!-- /container -->
