@brand-primary: darken  (#428bca, 6.5  %);
@brand-success: #5cb85c;
@brand-info:#5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:#d9534f;
/* Main Primary color */
@color-primary-0: #2D416F;
@color-primary-1: #C2CBE0;
@color-primary-2: #66779E;
@color-primary-3: #0C1C41;
@color-primary-4: #010612;

body {
}

/*Layout*/
#rb-main {
	background-color: #EFEFE7;
	/*background-image: linear-gradient(0deg, #6884AD, #EFEFE7);*/
	width: auto;
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 0px;
}

#rb-top {
}

#rb-body {
	margin: 18px;
}

#rb-footer {
}

.sortable {
	cursor: pointer;
	font-style: italic;
}

th.sortable>span{
}

.panel-heading.panel-heading-pagination{
	height:42px;
	padding:3px;
}
.form-control-paginator{
	height: 30px;
	font-size: 12px;
}

.btn-paginator-prev,.btn-paginator-next {
	height: 30px;
	width: 30px;
	font-size: 12px;
}

.control-panel {
	height: 60px;
	width: 1500px;
	position: absolute;
	top: 2px;
	left: 150px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: "";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

/*No wrap in menu*/
.ui-menu {
	width: auto;
	text-wrap: none;
	white-space: nowrap
}

/************** CONTEXT MENU **********/
.ul-contextmenu {
	display:block;
	position:absolute;
	z-index:1000;
	width:auto;
}
.ui-menu-item{
	font-size:10px;
}


/************** FORM **********/
.rbform-required-note {
	color: #ff0000;
}

.rbform-error-note {
	color: #ff0000;
}

td.form-label {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 50%;
}

div.form-label {
	
}

td.form-element {
	
}

div.form-element {
	
}

select.form-control {
	height: 35px;
	padding: 0px;
}
.form-control {
	width: auto;
}
/*********** DRAG AND DROP*************/
.draggable {
	cursor: move;
}

.document-box {
	margin: 0px;
}

.dropbox {
	width: 320px;
	height: 50px;
	border: 3px dashed #BBBBBB;
	line-height: 50px;
	text-align: center;
	align: center;
	position: absolute;
	top: 125px;
	right: 80px;
}

.dragOver {
	background-color: yellow;
	z-index: 0;
	border: 2px solid black;
}

/********* DOCUMENT **********************/
.fixedDocument{
	position: fixed;
	right: 35px;
	top: 55px;
	width: 600px;
}


/********* POSTIT **********************/
.rb-postit {
	background-color: #F4FA58;
}

.rb-postit-header {
	background-color: #F4FA58;
	display: inline;
	padding: 5px;
}

.rb-postit-content {
	background-color: #F4FA58;
	display: block;
	position: relative;
	padding: 5px
}
/************* GABYSBAR *******************/
.gabysbar { /*left fidding menu for mutli-selection actions*/
	background: #6884AD;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 0px;
	width: 60px;
	position: fixed;
	top: 60px;
	left: -45px;
	z-index: 5000;
	border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	-khtml-border-radius: 0px 10px 10px 0px;
}

.gabysbar:hover {
	left: 0px;
}

.icon{
	height:16px;
	width:16px;
}

/******** LIST TABLE ***********************************/
/********** Mark selected lines of table ***********/
table tr.marked th,table tr.marked {
	background: #D9EDF7;
}

table tr.marked:hover th,table tr.marked:hover {
	background-color: #D9EDF7;
}
/* The table */
table.normal {
	box-shadow: 0 0 5px black;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	width: 100%;
}

form > table.normal {
}

td {
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: top;
}

td.rb-historic {
	background-color: #F4FA58;
}

table.table>thead {
	background-image: linear-gradient(0deg, #418AAF, #03699C);
	font: 15px arial, sans-serif;
	color: #FFFFFF;
}
/* Table headings */
td.heading,td.thead {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: white;
	font-size: 12px;
	background-color: #6884ad;
	padding-left: 2px;
	padding-right: 5px;
}

th,th.thead {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: white;
	font-size: 12px;
	padding-left: 2px;
	padding-right: 5px;
}

td.selectable{
	cursor: pointer;
}

/*********** ALERTS AND FEEDBACKS *************/
.rb-feedbacks{
	position: absolute;
	top: 0px;
	right:0px;
	width: 700px;
	z-index:5000;
}

/****** TITLES ******************/
.pagetitle {
	font-weight: bold;
	font-size: 26px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #08639C;
	text-decoration: none;
}

.pagetitle:hover {
	font-weight: bold;
	font-size: 26px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #3184A5;
}

H1 {
	font-weight: bold;
	font-size: 26px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #08639C;
}

H2 {
	font-weight: bold;
	font-size: 22px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #08639C;
}

H3 {
	font-weight: bold;
	font-size: 20px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #08639C;
}

