{*Smarty template*} {include file="layouts/htmlheader.tpl"}

<h3>{$title}</h3>
<br />

<form method="post">

{if $list}
<fieldset><legend>Vérifiez que ces refus ont été appliqués sur ces documents :</legend>
<table>
	<tr><th>Documents</th><th>Rt associés</th></tr>
	{foreach from=$list item=curr_id}
	<tr>
	<td>
	{*<input type="checkbox" name="documents[]" value="{$curr_id.id}">{$curr_id.number}.v{$curr_id.version}-{$curr_id.iteration}</input>*}
	{$curr_id.number}.v{$curr_id.version}-{$curr_id.iteration}
	</td>
	<td><ul>
			{foreach from=$curr_id.rt item=curr_rt}
			<li>
			<a href="{$baseurl}/application/index/viewfile?document_id={$curr_rt.rt_id}&ticket={$ticket}&space={$space}">Voir</a>
			{$curr_rt.rt_number}
			<select name="rt_validation[{$curr_rt.rt_id}]">
				<option value="1">is ok</option>
				<option value="0">is not apply</option>
			</select>
			<input type="hidden" name="rt_associated_document[{$curr_rt.rt_id}]" value="{$curr_id.id}" />
			</li>
			{/foreach}
	</ul></td>
	</tr>
	{/foreach}
</table>
</fieldset>
{else}
<fieldset><legend>Auncun Rt :</legend>
</fieldset>
{/if}

<input type="submit" name="cancel" value="{tr}Cancel{/tr}" />
<input type="submit" name="next" value="{tr}Next{/tr} >>" />

</form>
