<script>
$(function() {
	var url = window.location.origin + window.location.pathname;
	var orderby="<? echo $orderby ?>";
	var order="<? echo $order ?>";
	var url = getUrlWithoutSort();
	initSortableHeader(orderby, order, url.url);
});
</script>

<div class="container-fluid rbgui-container">

<h1 class="pagetitle"><? echo $pageTitle ?></h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<? echo $filter->render($this)?>
</div></div>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered">
<thead><tr>
	<th class="heading auto">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading">
	</th>

	<?php foreach($headers as $head):?>
		<th class="heading sortable" data-field="<?php echo $head[0]?>"><? echo tra($head[1]) ?></th>
	<?php endforeach;?>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
foreach($list as $item):
?>
<tr>
	<td class="selectable">
	<input type="checkbox" name="checked[]" value="<?echo $item['id']?>"/>
	</td>

	<td><a
		class="btn btn-default btn-sm rb-popup" data-height="850" data-width="1200"
		href="<?echo $baseurl?>/application/index/viewobject?id=<?echo $item['id']?>&spacename=<?echo $item['spacename']?>&class=<?echo $item['cid']?>">
		View</a>
	</td>

	<?php foreach($headers as $head):
		if($head[1]=='cid'){
			$val = $this->cidToClass($item[$head[1]], $item['spacename']);
		}
		else{
			$val = $item[$head[1]];
		}
		?>
		<td class="selectable"><?echo $val?></a></td>
	<?php endforeach;?>
</tr>
<?php endforeach;?>
</tbody>
</table>

</div>
