					<li class="dropdown-submenu">
						<a tabindex="-1" href="<?php echo $this->url('admin') ?>"><?php echo $this->translate('Admin')?></a>
						<ul class="dropdown-menu">
							<li><a href="<?php echo $this->url('adminuser', array('action'=>'index'))?>">User</a></li>
							<li><a href="<?php echo $this->url('process')?>">Process</a></li>
							<li><a href="<?php echo $this->url('database');?>">Database</a></li>
							<li><a href="<?php echo $this->url('extendedproperties');?>">Properties</a></li>
						</ul>
					</li>
