<!--Contextual menu -->
	<ul id="document-context-menu" class="ul-contextmenu">
		<li data-assert="button.data('lockbyid') == button.data('currentuserid')"><a
			href='<? echo $baseurl?>/document/datamanager/checkindoc?basecamp=<? echo $basecamp?>'
			class="context-action-regular"
			title="<? echo tra('Checkin document in the server and suppress it from wildspace') ?>">
			<img src="<? echo $baseurl?>/img/icons/document/document_in.png" />
			<? echo tra('CheckIn') ?></a></li>

		<li data-assert="button.data('lockbyid') == button.data('currentuserid')"><a
			href='<? echo $baseurl?>/document/datamanager/updatedoc?basecamp=<? echo $basecamp?>'
			class="context-action-regular"
			title="<? echo tra('Update document on the server from wildspace copy') ?>">
			<img src="<? echo $baseurl?>/img/icons/document/document_refresh.png" />
			<? echo tra('Update') ?></a></li>

		<li data-assert="button.data('lockbyid') == button.data('currentuserid')"><a
			href='<? echo $baseurl?>/document/datamanager/resetdoc?basecamp=<? echo $basecamp?>'
			class="context-action-regular"
			title="<? echo tra('Cancel checkout. Let a copy in Wildspace but document is no more marked as checkout') ?>">
			<img src="<? echo $baseurl?>/img/icons/document/document_cancel.png" />
			<? echo tra('Reset') ?></a></li>

		<li data-assert="button.data('acode')==0"><a
			href='<? echo $baseurl?>/document/datamanager/checkoutdoc?basecamp=<? echo $basecamp?>'
			class="context-action-regular"
			title="<? echo tra('Checkout document from server, create a copy in wildspace and mark as checkout') ?>">
			<img src="<? echo $baseurl?>/img/icons/document/document_out.png" />
			<? echo tra('CheckOut') ?></a></li>

		<li data-assert="button.data('acode')==0"><a
			href='<? echo $baseurl?>/document/datamanager/checkoutdoc?basecamp=<? echo $basecamp?>'
			class="context-action-regular"
			title="<? echo tra('Checkout document from server, create a copy in wildspace and mark as checkout') ?>">
			<img src="<? echo $baseurl?>/img/icons/document/document_out.png" />
			<? echo tra('CheckOut With Options') ?></a></li>


		<li data-assert="button.data('acode') < 15 && button.data('acode')!=12"><a
			href="<? echo $baseurl?>/document/postit/add?basecamp=<? echo $basecamp?>"
			class="addpostit-btn"
			title="<? echo tra('Postit will be display in manager') ?>">
			<img src="<? echo $baseurl?>/img/icons/comment/comment_add.png"/>
			<? echo tra('Add postit') ?></a></li>

		<li><a
			href='<? echo $baseurl?>/document/datamanager/putinws?basecamp=<? echo $basecamp?>'
			class="putinws-btn"
			title="<? echo tra('Copy document in wildspace but no mark as checkout') ?>">
			<img src="<? echo $baseurl?>/img/icons/document/document_read.png" />
			<? echo tra('Put in wildspace') ?></a></li>

		<li data-assert="button.data('acode') == 0 || button.data('acode')==12"><a
			href="<? echo $baseurl?>/document/manager/edit?basecamp=<? echo $basecamp?>"
			class="context-action-regular"
			title="<? echo tra('edit the document properties') ?>">
			<img src="<? echo $baseurl?>/img/icons/edit.png" />
			<? echo tra('Edit') ?></a></li>

		<li data-assert="button.data('acode') == 0 || button.data('acode')==12"><a
			href="<? echo $baseurl?>/document/datamanager/movedocument?basecamp=<? echo $basecamp?>"
			class="context-action-regular"
			title="<? echo tra('edit the document properties') ?>">
			<img src="<? echo $baseurl?>/img/icons/document/document_move.png" />
			<? echo tra('Move') ?></a></li>

		<li><a
			href="<? echo $baseurl?>/document/datamanager/copydocument?basecamp=<? echo $basecamp?>"
			class="context-action-regular"
			title="<? echo tra('edit the document properties') ?>" >
			<img src="<? echo $baseurl?>/img/icons/document/document_copy.png" />
			<? echo tra('Copy') ?></a></li>

		<li data-assert="button.data('acode') == 0 || button.data('acode')==12"><a
			href='<? echo $baseurl?>/document/manager/delete?basecamp=<? echo $basecamp?>'
			class="context-action-regular"
			title="<? echo tra('Suppress document from server. Files are moved in trash') ?>">
			<img src="<? echo $baseurl?>/img/icons/trash.png" />
			<? echo tra('Suppress') ?></a></li>

		<li data-assert="button.data('acode') == 0"><a
			href='<? echo $baseurl?>/document/manager/marktosuppressdoc?basecamp=<? echo $basecamp?>'
			class="context-action-regular"
			title="<? echo tra('Mark document as to suppress. the removal will be effective when the garbage collectors will pass') ?>">
			<img src="<? echo $baseurl?>/img/icons/document/markToSuppress.png" />
			<? echo tra('Mark to suppress') ?></a></li>

		<li data-assert="button.data('acode') == 12"><a
			href='<? echo $baseurl?>/document/manager/unmarktosuppressdoc?basecamp=<? echo $basecamp?>'
			class="context-action-regular"
			title="<? echo tra('Unmark to suppress') ?>">
			<img src="<? echo $baseurl?>/img/icons/document/unMarkToSuppress.png" alt="unMarkToSuppress" />
			<? echo tra('Unmark to suppress') ?></a></li>

	<li><? echo tra('Workflow') ?>
		<ul>
				<li data-assert="button.data('acode') > 5 && button.data('acode') < 15"><a
					href='<? echo $baseurl?>/document/manager/unlockdoc?basecamp=<? echo $basecamp?>'
					class="context-action-regular"
					title="<? echo tra('Unlock') ?>">
					<img src="<? echo $baseurl?>/img/icons/lock_open.png" />
					<? echo tra('Unlock') ?></a></li>

				<li data-assert="button.data('acode') == 0"><a
					href='<? echo $baseurl?>/document/manager/lockdoc?basecamp=<? echo $basecamp?>'
					class="context-action-regular"
					title="<? echo tra('Lock document to prevent modifications') ?>">
					<img src="<? echo $baseurl?>/img/icons/lock.png" />
					<? echo tra('Lock') ?></a></li>

				<li data-assert="button.data('acode') == 0"><a
					href="<? echo $baseurl?>/docflow/index/index?basecamp=<? echo $basecamp?>"
					class="context-action-regular"
					title="<? echo tra('Run a workflow activity') ?>">
					<img src="<? echo $baseurl?>/img/icons/document/document_gear.png" />
					<? echo tra('Change state') ?></a></li>

				<li data-assert="button.data('acode') == 0"><a
					href="<? echo $baseurl?>/document/manager/newversion?basecamp=<? echo $basecamp?>"
					class="context-action-regular"
					title="<? echo tra('Upgrade this document to next version') ?>">
					<img src="<? echo $baseurl?>/img/icons/document/document_upindice.png" />
					<? echo tra('Change indice') ?></a></li>
		</ul>
	</li>

	<li><? echo tra('Tools') ?>
		<ul>
			<li data-assert="button.data('acode') < 15 && button.data('acode') != 1 && button.data('acode') != 12"><a
				href='<? echo $baseurl?>/document/datamanager/assocfile?basecamp=<? echo $basecamp?>'
				class="context-action-regular"
				title="<? echo tra('Associate a file to this document. File must be in the wildspace and name must be start with document number.') ?>">
				<img src=<? echo $baseurl?>/img/icons/file/file_attach.png />
				<? echo tra('Associate a file') ?></a></li>

			<li><a
				href='<? echo $baseurl?>/document/viewer/assocvisu?basecamp=<? echo $basecamp?>'
				class="context-action-regular"
				title="<? echo tra('Associate a 3dxml, collada or picture for show content of document in browser') ?>">
				<img src=<? echo $baseurl?>/img/icons/file/file_attach.png />
				<? echo tra('Associate a visu') ?></a></li>

			<li><a
				href='<? echo $baseurl?>/document/manager/resetdoctype?basecamp=<? echo $basecamp?>'
				class="context-action-regular"
				title="<? echo tra('Re-evaluate the document type from main file associated. Use this when you change main file.') ?>">
				<img src=<? echo $baseurl?>/img/icons/doctype/doctype_reset.png />
				<? echo tra('Recalculate the doctype') ?></a></li>

			<li data-assert="button.data('acode') < 100"><a
				href='<? echo $baseurl?>/document/archiver/archive?basecamp=<? echo $basecamp?>'
				class="context-action-regular"
				title="<? echo tra('Archive document. Copy in archive storage and lock it.') ?>">
				<img src=<? echo $baseurl?>/img/icons/document/toarchive.png />
				<? echo tra('DocToArchive') ?></a></li>
		</ul>
	</li>

	<li class="submenu"><? echo tra('Relations') ?>
		<ul>
		<li><a
			href='<? echo $baseurl?>/rbdocument/relation/getchildren'
			class="context-action-regular"
			title="<? echo tra('Get the children documents') ?>">
			<img src=<? echo $baseurl?>/img/icons/document/getChildren.png /><? echo tra('GetChildren') ?></a></li>
		<li><a
			href='<? echo $baseurl?>/rbdocument/relation/getparent'
			class="context-action-regular"
			title="<? echo tra('Get the parents documents') ?>">
			<img src=<? echo $baseurl?>/img/icons/document/getParent.png /><? echo tra('GetParent') ?></a></li>
		</ul>
	</li>

	<li class="submenu"><? echo tra('Pdm') ?>
		<ul>
		<li><a
			href='<? echo $baseurl?>/pdm/productexplorer/getchildrendocument'
			class="context-action-regular"
			title="<? echo tra('Get the children documents') ?>">
			<img src=<? echo $baseurl?>/img/icons/document/getChildren.png /><? echo tra('GetChildren') ?></a></li>
		<li><a
			href='<? echo $baseurl?>/pdm/productexplorer/getparentdocument'
			class="context-action-regular"
			title="<? echo tra('Get the parents documents') ?>">
			<img src=<? echo $baseurl?>/img/icons/document/getParent.png /><? echo tra('GetParent') ?></a></li>
		<li><a
			href='<? echo $baseurl?>/pdm/productexplorer/fromdocument'
			class="context-action-regular"
			title="<? echo tra('Get the product instance') ?>">
			<img src=<? echo $baseurl?>/img/icons/pdm/products/explore.png /><? echo tra('Explore') ?></a></li>
		<li>
		</ul>
	</li>

	<li><a
		href="#"
		class="basketadd-btn"
		title="<? echo tra('Add to my basket') ?>">
		<img class="icon" src="<? echo $baseurl?>/img/icons/document/basket_put.png"/>
		<? echo tra('Add to my basket') ?>
		</a>
	</li>

	<li><a
		href="#"
		class="basketremove-btn"
		title="<? echo tra('Remove from my basket') ?>">
		<img class="icon" src="<? echo $baseurl?>/img/icons/document/basket_remove.png"/>
		<? echo tra('Remove from my basket') ?>
		</a>
	</li>

	<li><a
		href="<? echo $baseurl?>/document/history/display"
		class="context-action-regular"
		title="<? echo tra('Get history') ?>">
		<img src="<? echo $baseurl?>/img/icons/history.png" /><? echo tra('Get history') ?></a></li>

	<li><a
		href="<? echo $baseurl?>/rbdocument/detail/index"
		data-width="1200" data-height="800"
		class="context-action-regular rb-popup"
		title="<? echo tra('See details') ?>">
		<img src="<? echo $baseurl?>/img/icons/document/document.png" /><? echo tra('See details') ?></a><li>
	</ul>
