<?php
$this->headScript()->prependFile($baseurl . '/js/jQuery-MD5/jquery.md5.min.js');
?>


<script>
function setValue(elementId){
	var name = document.getElementById(elementId).name;
	var value = document.getElementById(elementId).value;
	var rootname = name.match("([A-Za-z_]+)(\[[0-9]+\])+$")[1];
	var elements = $("[name^="+rootname+"]").val(value);
	return;
}

//jquery extend function
$.extend(
{
    redirectPost: function(location, args)
    {
        var form = '';
        $.each( args, function( key, value ) {
            form += '<input type="hidden" name="'+key+'" value="'+value+'">';
        });
        $('<form action="'+location+'" method="POST">'+form+'</form>').appendTo('body').submit();
    }
});

$(function() {
	var documentDialog;
	var baseurl =document.baseurl;
	var gl_uploadURL = baseurl+"/document/smartstore/store";
	var gl_file;
	var space = "<? echo $space ?>";
	var containerId = "<?echo $containerid?>";

	$("#store-panel").hide();

	$(document).on('dragenter', '#dropfile', function() {
		$(this).css('border', '3px dashed red');
		return false;
	});

	$(document).on('dragover', '#dropfile', function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).css('border', '3px dashed red');
		return false;
	});

	$(document).on('dragleave', '#dropfile', function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).css('border', '3px dashed #BBBBBB');
		return false;
	});

	$(document).on('drop', '#dropfile', function(e) {
		if (e.originalEvent.dataTransfer) {
			if (e.originalEvent.dataTransfer.files.length) {
				// Stop the propagation of the event
				e.preventDefault();
				e.stopPropagation();
				$(this).css('border', '3px dashed green');

				var files = e.originalEvent.dataTransfer.files;
			  	for (var i = 0, file; file = files[i]; i++) {
					uploadfile(file);
				}
			}
		}
		else {
			$(this).css('border', '3px dashed #BBBBBB');
		}
		return false;
	});

	function uploadfile(file) {
		var reader = new FileReader();
		reader.onload = handleReaderSave;
		//file is a global var
		gl_file=file;
		reader.readAsDataURL(file);
	}

	function handleReaderSave(event) {
		var splitresult = event.target.result.split(',');
		var mimestype = splitresult[0].split(';')[0];
		var encode = splitresult[0].split(';')[1];
		var data = splitresult[1];
		var filename = gl_file.name;

		var params={};
		params.space = space;
		params.containerid = containerId;
		params.encode = 'json';
		params.files={
			'file1':{
				'name':filename,
				'data':{
					'name':filename,
					'md5':$.md5(data),
					'size':data.length,
					'data':data,
					'mimestype':mimestype,
					'encode':encode
				}
			}
		};
		$.ajax({
			type : 'POST',
			url : gl_uploadURL,
			data : params,
			dataType: 'html',
			success : function(data, textStatus, jqXHR){
				var i = parseInt($("input[name='loop']").val());
				var domfrag=$(data); //convert html to JQuery element
				var inputs = domfrag.find( ":input" ); //collection of inputs

				//update iteration id with last loop id
				$.each(inputs,function(){
					if(this.name=="loop_id[0]"){
						$(this).val(i);
					}
					var newname = this.name.replace("[0]", "["+i+"]");
					$(this).attr("name",newname);
					return;
					});

				$("#store-formcontent").append(domfrag);
				$("#store-panel").dialog({
					'height':500,
					'width':1700,
					close: function( event, ui ) {
						$("#store-formcontent").empty();
					}
				});
				$("input[name='loop']").val(i+1); //record loop id: used by php for loop on form input collection
			},
			error : function(data, textStatus, jqXHR){
				alert("Error during upload of file, check file name and retry " + data);
			}
		});
	}
});
</script>

<div id="dropfile" class="dropbox panel">
Drop a file here to add or update document
</div>

<div id="store-panel" style="">
<form id="store-form" action="<?echo $baseurl?>/document/smartstore/validate" method="post">
	<input type="hidden" name="loop" value=0 />
	<input type="hidden" name="spacename" value=<? echo $spacename?> />
	<input type="hidden" name="SelectedContainer" value=<? echo $containerid?> />

	<div id="store-formcontent" style=""></div>

	<label for keepco>Keep Co</label>
	<input type="checkbox" name="keepco" value="" />
	<button type="submit" name="save">Save</button>
</form>
</div>
