<div class="fixedDocument document-box dropchildrenzone draggable panel panel-primary" id="<? echo $fixedDocument->getId()?>" data-spacename="<? echo $fixedDocument->spaceName?>">
	<div style="white-space: nowrap;">
		<a class="link"
			href="javascript:popupP('<? echo $baseurl?>/document/detail/index?documentid=<? echo $fixedDocument->getId()?>&spacename=<? echo $fixedDocument->spaceName?>#tab-children','documentDetailWindow', 600 , 1024)"
			title="{tr}See details{/tr}">
			<img border=0 src="<? echo $baseurl?>/img/icons/document/document.png" />
			<? echo $fixedDocument->getNumber()?> -
			<? echo $fixedDocument->version?>.<? echo $fixedDocument->iteration?>
		</a>
		<br />
	</div>
	<i><? echo $fixedDocument->designation?></i><br />
	<? echo $this->accessCodeFormater($fixedDocument->accessCode)?> - <? echo $fixedDocument->lifeStage?><br />
	<div class="pin" style="position:absolute;top:0px;right:0px">
		<a href="#" class="document-unfix" id="<? echo $fixedDocument->getId()?>" data-spacename="<? echo $fixedDocument->spaceName?>">
		<img src="<? echo $baseurl?>/img/icons/fix.gif" border=0 />
		</a>
	</div>

	<div class="dropdocument" style="position:absolute;top:0px;right:20px;border:none;width:250px;height:50px;margin:0px;padding:0px;">
		<p class="dropFeedback" style="margin:15px;font-size:12px;font-style:italic;">Drop children documents here.</p>
	</div>
</div>
