<div id="action-menu" class="gabysbar">

<button class="btn btn-default btn-sm create-btn" type="submit" title="<? echo tra('Create a new document') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/document_add.png" alt="<? echo tra('createDoc') ?>"/>
</button>

<button class="btn btn-default btn-sm editmulti-btn" type="submit" title="<? echo tra('Edit Multi documents') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/document_edit.png" alt="<? echo tra('Edit') ?>"/>
</button>

<button class="btn btn-default btn-sm delete-btn" type="submit" title="<? echo tra('Delete') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/trash.png" alt="<? echo tra('Delete') ?>"/>
</button>

<button class="btn btn-default btn-sm marktosuppress-btn" type="submit" title="<? echo tra('Mark to suppress') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/markToSuppress.png" alt="<? echo tra('Mark to suppress') ?>"/>
</button>

<button class="btn btn-default btn-sm unmarktosuppress-btn" type="submit" title="<? echo tra('Unmark to suppress') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/unMarkToSuppress.png" alt="<? echo tra('Unmark to suppress') ?>"/>
</button>

<button class="btn btn-default btn-sm checkout-btn" type="submit" title="<? echo tra('CheckOut') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/document_out.png" alt="<? echo tra('CheckOut') ?>" />
</button>

<button class="btn btn-default btn-sm chekin-btn" type="submit" title="<? echo tra('CheckIn') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/document_in.png" alt="<? echo tra('CheckIn') ?>" />
</button>

<button class="btn btn-default btn-sm checkinandkeep-btn" type="submit" title="<? echo tra('Update') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/document_refresh.png" alt="<? echo tra('Update') ?>" />
</button>

<button class="btn btn-default btn-sm checkinreset-btn" type="submit" title="<? echo tra('Reset') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/document_cancel.png" alt="<? echo tra('Reset') ?>" />
</button>

<button class="btn btn-default btn-sm putinws-btn" type="submit" title="<? echo tra('Put in wildspace') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/document_read.png" alt="<? echo tra('Put in wildspace') ?>" />
</button>

<button class="btn btn-default btn-sm move-btn" type="submit" title="<? echo tra('Move') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/document_move.png" alt="<? echo tra('Move') ?>" />
</button>

<button class="btn btn-default btn-sm newversion-btn" type="submit" title="<? echo tra('Change indice') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/document_upindice.png" alt="<? echo tra('Change indice') ?>" />
</button>

<button class="btn btn-default btn-sm runworkflow-btn" type="submit" title="<? echo tra('Workflow') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/document_gear.png" alt="<? echo tra('Workflow') ?>" />
</button>

<button class="btn btn-default btn-sm lock-btn" type="submit" title="<? echo tra('Lock definitivly the document') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/lock.png" alt="<? echo tra('Lock') ?>" />
</button>

<button class="btn btn-default btn-sm unlock-btn" type="submit" title="<? echo tra('Unlock the document') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/lock_open.png" alt="<? echo tra('Unlock') ?>" />
</button>

<button class="btn btn-default btn-sm resetdoctype-btn" type="submit" title="<? echo tra('Recalculate the doctype') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/doctype/doctype_reset.png" alt="<? echo tra('Recalculate the doctype') ?>" />
</button>

<button class="btn btn-default btn-sm archive-btn" type="submit" title="<? echo tra('DocToArchive') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/toarchive.png" alt="<? echo tra('DocToArchive') ?>" />
</button>

<button class="btn btn-default btn-sm downloadlist-btn" type="submit" title="<? echo tra('Download listing') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/page_white_excel.png" alt="<? echo tra('Download listing') ?>" />
</button>

<button class="btn btn-default btn-sm basketadd-btn" type="submit" title="<? echo tra('Add to my basket') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/basket_put.png" alt="<? echo tra('Add to my basket') ?>" />
</button>

<button class="btn btn-default btn-sm basketremove-btn" type="submit" title="<? echo tra('Remove from my basket') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/basket_remove.png" alt="<? echo tra('docbasketremove') ?>" />
</button>

<button class="btn btn-default btn-sm basketclean-btn" type="submit" title="<? echo tra('Clean my basket') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/basket_delete.png" alt="<? echo tra('docbasketclean') ?>" />
</button>

<button class="btn btn-default btn-sm btn-refresh" type="submit" title="<? echo tra('Refresh') ?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/refresh.png" title="<? echo tra('Refresh') ?>" alt="<? echo tra('Refresh') ?>"/>
</button>

</div>
