<?php
$this->headScript()->prependFile($baseurl . '/js/rb/rb.documentmanager.js');
?>
<style>
.form-inline{
	vertical-align:top;
}
</style>

<script>
$(function() {
	var url = window.location.origin + window.location.pathname;
	var orderby="<? echo $orderby ?>";
	var order="<? echo $order ?>";
	var url = getUrlWithoutSort();
	initSortableHeader(orderby, order, url.url);
});
</script>

<div class="container-fluid rbgui-container">

<div class="panel panel-default">
<div class="panel-body">
<? include('module/Ged/view/ged/document/manager/menubar1.phtml')?>
</div></div>

<h1 class="pagetitle"><? echo $pageTitle ?></h1>

<!-- --------------------Drop zone-------------------------- -->
<? $dropzone_uploadurl = $baseurl.'/document/smartstore/store'?>
<? include('module/Ged/view/ged/document/manager/dropzone.phtml')?>

<!-- -------------------- Fixed document -------------------------- -->
<?
if ($fixedDocument):
	include('module/Ged/view/ged/document/manager/fixeddocument.phtml');
endif;
?>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<? echo $filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?php echo $paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="post" action="#">
		<?include('module/Ged/view/ged/document/manager/list1.phtml')?>
		<?include('module/Ged/view/ged/document/manager/gabysbar.phtml')?>
		<input type="hidden" name="spacename" value="<?echo $spacename?>">
		<input type="hidden" name="layout" value="<?echo $layout?>">
		<input type="hidden" name="basecamp" value="<?echo $basecamp?>">
	</form>
	</div>
</div>

</div>

