<?php
use Rbplm\People;

$doctypeIconBaseUrl="";

$acodeNotice ="
Access code legend :
	0:All access free
	1:Modification in progress, checkout forbidden
	5:workflow in progress, checkout forbidden
	10:Document validate, checkout and workflow request forbidden
	11:Lock by user, checkout and workflow request forbidden
	15:Indice is upgraded, all action forbidden
	"
?>

<?php include('module/Ged/view/ged/document/manager/contextmenu.phtml')?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered">
<thead><tr>
	<th class="heading auto">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading sortable" data-field="doctype_id"><? echo tra('Doctype') ?></th>
	<th class="heading">
		<span class="heading sortable" data-field="number"><? echo tra('Number') ?></span>
		<span class="heading sortable" data-field="version"><? echo tra('Indice') ?></span>
		<span class="heading sortable" data-field="iteration"><? echo tra('Version') ?></span>
		<span class="heading sortable" data-field="description"><? echo tra('Designation') ?></span>
		<span class="heading sortable" data-field="accessCode" title="<?php echo $acodeNotice ?>"><? echo tra('Access') ?></span>
		<span class="heading sortable" data-field="lifeStage"><? echo tra('State') ?></span>
	</th>
	<th class="heading sortable" data-field="categoryId"><? echo tra('Category') ?></th>
	<th class="heading">
		<? echo tra('CheckOut') ?>
			<span class="heading sortable" data-field="lockById"><? echo tra('By') ?></span> -
			<span class="heading sortable" data-field="locked"><? echo tra('Date') ?></span>
			<br/>
		<? echo tra('Last Update') ?>
			<span class="heading sortable" data-field="updateById"><? echo tra('By') ?></span> -
			<span class="heading sortable" data-field="updated"><? echo tra('Date') ?></span>
			<br/>
		<? echo tra('Created') ?>
			<span class="heading sortable" data-field="createById"><? echo tra('By') ?></span> -
			<span class="heading sortable" data-field="created"><? echo tra('Date') ?></span>
			<br/>
	</th>

	<!-- Display extended metadatas -->
	<?php
	if($extended):
	foreach($extended as $type):
	?>
	<th class="heading sortable" data-field="<?php echo $type['name']?>"><? echo tra($type['label']) ?></th>
	<?php
	endforeach;
	endif;
	?>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
foreach($list as $item):
	($cycle=='even') ? $cycle='odd': $cycle='even';
	$acode = $item['accessCode'];
	$documentid = $item['id'];
	if($acode>14 && $acode<100):?>
		<tr class="rb-historic">
	<?php else:?>
		<tr class="<?echo $cycle?>">
	<?php endif;?>

	<td class="selectable">
	<input type="checkbox" name="checked[]" value="<?php echo $documentid?>"/>
	<br /><?php echo $this->accessCodeFormater($acode) ?></td>

	<td>
	<a
	href="<?echo $baseurl?>/application/index/viewfile?documentid=<?echo $documentid?>&spacename=<?echo $spacename?>&basecamp=<?echo $basecamp?>"
	title="<?echo tra('View document')?>">

	<?php
	if($displayThumbs):
		$this->getThumbnail($documentid, $spacename);
	endif;
	?>
	<?echo $this->doctypeFormater($item['doctypeId'])?>
	</a>
	</td>

	<td>
	<!-- POSTIT -->
	<div class="draggable document-box panel panel-primary" id="<?echo $documentid?>" spacename="<?echo $spacename?>" name="<?echo $item['uid']?>" style="position:relative;">
		<div style="white-space: nowrap;">
			<a class="rb-popup" data-height=800 data-width=1200
				href="<?echo $baseurl?>/rbdocument/detail/index?documentid=<?echo $documentid?>&spacename=<?echo $spacename?>"
				title="<?echo sprintf('Details of %s',$item['number']) ?>">
				<img src="<?echo $baseurl?>/img/icons/document/document.png" />
				<?echo $item['number']?> -
				<?echo $this->versionFormater($item['version'])?>.<? echo $item['iteration']?>
			</a>
			<?php echo $this->getPostit($documentid, $spacename)?>
		</div><br />

		<i><? echo $item['description']?></i><br />
		<? echo $this->accessCodeFormater($acode)?> - <? echo $item['lifeStage']?><br />

		<div class="pin" style="position:absolute;top:0px;right:0px">
			<a href="#" class="document-fix" id="<?echo $documentid?>" spacename="<?echo $spacename?>" title="<?echo tra('Click to fix document on top screen.') ?>">
			<img src="<?echo $baseurl?>/img/icons/float.gif" border=0 />
			</a>
		</div>
	</div>
	<!-- /POSTIT -->

	<!-- CONTEXT MENU -->
	<div>
		<button id="select context-menu" class="contextmenu-showbtn btn btn-default btn-sm"
			data-id="<?echo $item['id']?>"
			data-acode="<?echo $acode?>"
			data-lockbyid="<?echo $item['lockById']?>"
			data-currentuserid="<?php echo People\CurrentUser::get()->getId()?>"
			data-spacename="<?echo $spacename?>"
			data-basecamp="<?echo $basecamp?>">Actions Menu<span class="caret"></button>
	</div>
	<!-- /CONTEXT MENU -->
	</td>

	<td class="selectable"><?echo $this->categoryIdToName($item['categoryId'])?></td>

	<td nowrap class="selectable">
	<?php
		if($item['lockById']):
			echo '<p><em>'.tra('Checkout By').'</em>: ' . $this->userIdToName($item['lockById']) . ' <em>' . tra('Since') . '<em>: ' . $this->dateFormater($item['locked']) . '</p>';
		endif;
		echo '<p><em>'.tra('Last Update By').'</em>: ' . $this->userIdToName($item['updateById']) . ' <em>' . tra('At') . '</em>: ' . $this->dateFormater($item['updated']) . '</p>';
		echo '<p><em>'.tra('Created By').'</em>: ' . $this->userIdToName($item['createById']) . ' <em>' . tra('At') . '<em>: ' . $this->dateFormater($item['created']) . '</p>';
	?>
	</td>

	<!-- Display optionnals fields -->
	<?php
	if($extended):
	foreach($extended as $key=>$type):
		$fn = $type['appName'];
		echo '<td class="selectable">'.$item[$fn].'</td>';
	endforeach;
	endif;
	?>
</tr>
<?php endforeach;?>
</tbody>
</table>

