<div id="page-bar">
<a class="linkbut btn btn-default btn-xs rb-action getdfmanager" href="<?echo $baseurl?>/docfile/manager/display?spacename=<?echo $spacename?>"><?php echo tra('Files manager')?></a>
<a class="linkbut btn btn-default btn-xs rb-action gethistory" href="<?echo $baseurl?>/document/history/display?spacename=<?echo $spacename?>"><?php echo tra('History of all')?></a>
<a class="linkbut btn btn-default btn-xs rb-action getimport" href="<?echo $baseurl?>/document/import/index?spacename=<?echo $spacename?>"><?php echo tra('Import')?></a>

<a class="linkbut btn btn-default btn-xs rb-action getbasket" href="<?echo $baseurl?>/rbdocument/basket/index?spacename=<?echo $spacename?>">
<img class="icon" src="<?echo $baseurl?>/img/icons/document/basket.png" />
<?php echo tra('My basket')?></a>
</div>
