<?php $this->headLink()
->prependStylesheet($this->basePath() . '/css/application.css')
->prependStylesheet($baseurl . '/styles/docsier.css');
?>

<h1 class="pagetitle"><img src="<?echo $baseurl?>/img/ranchbe.png" width="80px"/>QUALITE DU SYSTEM D'INFORMATION - AIDES MEMOIRE</h1>

<div id="searchbar">
<?echo $this->filter->render($this)?>
</div>

<hr />

<a name="result" ></a>
<h1 class="pagetitle">RESULTATS</h1>

<b><font color="white"><?echo $countOutput?> documents trouvés</font></b><br />

<!-- {*--------------------Display messages------------------------------*} -->
<b><font color="red"><?echo $search_return?></font></b><br />

<!-- {*--------------------Display result--------------------------------*} -->
<form name="checkform" method="post" action="#">

<?
if($list):
foreach($list as $item):
?>
	<span class="texteresult">
	<div class="divbleu"><hr size ="1" color ="#FFFF99" />

	<a href="custom/docsier/aidememoire/viewdocument?documentid=<?echo $item['id']?>">
	<?echo $this->doctypeFormater($item['doctypeId'])?>
	</a>

	<?echo $item['number'].'.'.$item['version'].'.'.$item['iteration']?>
	<i><?echo $item['description']?></i>
	<small>(<?echo $this->categoryIdToName($item['categoryId'])?>|</small>
	<small><i><?echo $item['lifeStage']?></i>)</small>
	<hr size ="1" color ="#FFFF99" />
	</div></span>
<?
endforeach;
endif;
?>
</form>
