<?php
$this->headLink()->prependStylesheet($this->basePath() . '/bootstrap-select/dist/css/bootstrap-select.min.css');
$this->headScript()->appendFile($this->basePath() . '/bootstrap-select/dist/js/bootstrap-select.min.js');
?>

<script>
$(function(){
});
</script>

<div class="container">

<h2><?php echo $pageTitle?></h2>

<?php
/* @var $form \Zend\Form\Fieldset */
/* @var $formHelper Zend\Form\View\Helper\Form */
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('spaceName'));
echo $this->formHidden($form->get('referenceId'));
echo $this->formHidden($form->get('referenceCid'));
?>

<fieldset>
<legend>Basic</legend>
<ul>
	<div class="form-group"><?echo $this->formRow($form->get('events'));?></div>
</ul>
</fieldset>

<fieldset>
<ul>
	<div class="form-group">
		<?echo $this->formRow($form->get('cancel'));?>
		<?echo $this->formRow($form->get('validate'));?>
	</div>
</ul>
</fieldset>

<?php echo $this->form()->closeTag();?>
</div>
