<h3><? echo tra('Alternatives of');?> : <? echo $document_name;?></h3>

<!-- --------------------list header---------------------------------- -->
<form name="alternativeform" method="post" action="">
<table class="normal table table-bordered">
<thead><tr>
		<th class="heading auto"></th>
		<th class="heading"><? echo tra('Number');?></th>
		<th width="50px" class="heading" nowrap><? echo tra('Designation');?></th>
		<th class="heading"><? echo tra('Indice');?> - <? echo tra('Version');?></th>
</tr></thead>

<!-- --------------------list body--------------------------- -->
<tbody>
<? if($alternatives):
foreach($alternatives as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';?>
<tr class="<?echo $cycle?>">
	<td class="selectable"><?echo $item['alt_link_id']?>
		<input type="checkbox" name="alt_link_id[]" value="<?echo $item['alt_link_id']?>"/>
	</td>
	<td>
		<a class="rb-popup" data-height=600 data-width=1024 title="detail of <?echo $item['number']?>"
		href="<?echo $baseurl?>/rbdocument/detail/index?documentid=<?echo $item['documentId']?>&spacename=<? echo $item['spaceName']?>"><? echo $item['number']?></a>
	</td>
	<td><? echo $item['designation']?></td>
	<td><? echo $item['version']?>.<?echo $item['iteration']?></td>
</tr>
<? endforeach;?>
<? else:?>
<tr>
	<td colspan="4"><?echo tra('No alternatives for this document');?></td>
</tr>
<? endif;?>
</tbody>
</table>

<div id="alternative-action-menu {$uniqid}" class="rb-action-menu">
	<button class="btn btn-default btn-sm rbaction" type="submit" name="add" title="<?echo tra('Add alternative');?>">
		<img class="icon" src="<?echo $baseurl?>/img/icons/doclink/addson.png" alt="<?echo tra('Add alternative');?>"/>
	</button>

	<button class="btn btn-default btn-sm rbaction" type="submit" name="delete" title="<?echo tra('Suppress alternative');?>">
		<img class="icon" src="<?echo $baseurl?>/img/icons/doclink/delson.png" alt="<?echo tra('Suppress alternative');?>"/>
	</button>
</div>

<input type="hidden" name="documentid" value="<?echo $documentid?>" />
<input type="hidden" name="spacename" value="<?echo $spacename?>" />
</form>
