<div>
<!-- --------------------list header---------------------------------- -->
<form id="assocfile-form" name="assocfile" method="post" action="#">
<table class="normal table table-bordered">
<thead><tr>
		<th class="heading auto"></th>
		<th class="heading">
			<?php echo tra('file_name');?> . <?php echo tra('file_extension');?> - <?php echo tra('file_version');?><br />
			<?php echo tra('file_type');?><br /> <?php echo tra('file_access_code');?> - <?php echo tra('file_state');?>
		</th>
		<th class="heading"><?php echo tra('Role');?></th>
		<th class="heading"><?php echo tra('Action - user - date');?></th>
		<th class="heading"><?php echo tra('infos');?></th>
</tr></thead>

<!-- --------------------list body--------------------------- -->
<tbody>
<?php
foreach($associatedfiles as $item):
	($cycle=='even') ? $cycle='odd': $cycle='even';?>

<tr class="<?echo $cycle?>  associatedfileItem">
	<td class="selectable"><input type="checkbox" name="checked[]" value="<? echo $item['id']?>" /></td>

	<td>
		<a
		href="<?echo $baseurl?>/docfile/manager/viewfile?fileid=<? echo $item['id']?>&spacename=<?echo $spacename?>"
		title="<?php echo tra('View file');?>"
		class="btn btn-default btn-xs"
		>
		<?php $this->fileIcon($item['extension'])?>
		<? echo $item['name']?> -v<? echo $item['iteration']?></a>
		<a
		href="<?echo $baseurl?>/docfile/version/display?fileid=<? echo $item['id']?>&spacename=<?echo $spacename?>"
		title="<?php echo tra('Versions');?>"
		class="btn btn-default btn-xs rb-popup" data-height="600" data-width="1200">
		<?php echo tra('See old versions');?></a>
		<br /><? echo $item['type']?>
		<br /><? echo $this->accessCodeFormater($item['accessCode'])?>
		 -
		<? echo $item['lifeStage']?></td>
	<td>
	<select value="setrole" class="form-control af-role-select" data-id="<? echo $item['id']?>" data-spacename="<?echo $spacename?>">
		<?php
		foreach($roles as $key=>$role){
			($item['mainrole'] == $key) ? $selected='selected' : $selected='';
			echo "<option value=\"$key\" $selected >$role</option>";
		}
		?>
	</select>
	</td>

	<td class="selectable">
	<?php if($item['lockById']):
		echo '<em>'.tra('Checkout By') . '</em> ' . $this->userIdToName($item['lockById']) . ' at ' . $this->DateFormater($item['locked']).'<br />';
	endif;
	echo '<em>'.tra('Last Update By') . '</em> ' . $this->userIdToName($item['updateById']) . ' at ' . $this->DateFormater($item['updated']).'<br />';
	echo '<em>'.tra('Created By') . '</em> ' . $this->userIdToName($item['createById']) . ' at ' . $this->DateFormater($item['created']).'<br />';
	?>
	</td>

	<td class="selectable">
		<i><?php echo tra('file_path');?>:</i><? echo $item['path']?><br />
		<i><?php echo tra('file_size');?>:</i><? echo $this->filesizeFormater($item['size'])?><br />
		<i><?php echo tra('file_mtime');?>:</i><? echo $this->DateFormater($item['mtime'])?><br />
		<i><?php echo tra('file_md5');?>:</i><? echo $item['md5']?><br />
	</td>
</tr>
<?php endforeach;?>
<tbody>
</table>

<div id="assocfile-action-menu" class="rb-action-menu">
	<button class="btn btn-default btn-sm af-delete-btn rb-action" value="deletefile" title="<?php echo tra('Delete');?>">
	<img class="icon" src="<?echo $baseurl?>/img/icons/trash.png" />
	</button>

	<button class="btn btn-default btn-sm af-reset-btn rbaction" value="resetfile" title="<?php echo tra('Reset');?>">
	<img class="icon" src="<?echo $baseurl?>/img/icons/document/document_cancel.png" />
	</button>

	<button class="btn btn-default btn-sm af-putinws-btn rbaction" value="putinws" title="<?php echo tra('Put in wildspace');?>">
		<img class="icon" src="<?echo $baseurl?>/img/icons/document/document_read.png"/>
	</button>

	<button class="btn btn-default btn-sm af-refresh-btn rbaction" value="afrefresh" title="<?php echo tra('Refresh');?>">
		<img class="icon" src="<?echo $baseurl?>/img/icons/refresh.png"/>
	</button>

</div>

<input type="hidden" name="documentid" value="<?echo $documentid?>" />
<input type="hidden" name="ticket" value="<?echo $ticket?>" />
<input type="hidden" name="page_id" value="detailWindow" />
<input type="hidden" name="spacename" value="<?echo $spacename?>" />
</form>
</div>

