<style>
tr.transposeTable>th{
	color:black;
}
</style>

<script>
$(function() {
	$(".rb-openintop").click(function(e){
		e.preventDefault();
		var href = $(this).attr("href");
		var mainWindow = window.open(href, "main rb window");
		mainWindow.focus();
		return false;
	});
});
</script>

<h3>
<?echo $document->getNumber() .' - '. $document->version .'.'.$document->iteration?><br />
<i><? echo $document->description?></i>
</h3>

<table class="normal table table-bordered">
<tr>
<td width="50%">
	<table class="normal table table-bordered table-striped">
	<thead><tr class="">
		<th class="heading" colspan="2"><? echo tra('Basic properties');?></th>
		</tr></thead>
		<tbody>
		<tr class="transposeTable">
			<th><? echo tra('Id');?></th>
			<td><?echo $document->getId()?></td>
		</tr>
		<tr class="transposeTable">
			<th><? echo tra('Uid');?></th>
			<td><?echo $document->getUid()?></td>
		</tr>
		<tr class="transposeTable">
			<th><? echo tra('Name');?></th>
			<td><?echo $document->getName()?></td>
		</tr>
		<tr class="transposeTable">
			<th><? echo tra('Number');?></th>
			<td><?echo $document->getNumber()?></td>
		</tr>
		<tr class="transposeTable">
			<th><? echo tra('Designation');?></th>
			<td><?echo $document->description?></td>
		</tr>
		<tr class="transposeTable">
			<th><? echo tra('Indice');?> - <? echo tra('Version');?></b></th>
			<td><?echo $document->version?>
				- v<?echo $document->iteration?></td>
		</tr>
		<tr class="transposeTable">
			<th><? echo tra('Category');?></th>
			<td><?echo $this->categoryIdToName($document->categoryId)?></td>
		</tr>
		<tr class="transposeTable">
			<th><? echo tra('Doctype');?></th>
			<td><?echo $this->doctypeFormater($document->doctypeId)?></td>
		</tr>
		</tbody>

		<thead>
		<tr>
			<th class="heading" colspan="2"><? echo tra('Life cycle');?></th>
		</tr>
		</thead>

		<tbody>
		<tr class="transposeTable">
			<th><? echo tra('Access');?></th>
			<td><?echo $this->accessCodeFormater($document->checkAccess())?></td>
		</tr>
		<tr class="transposeTable">
			<th><? echo tra('State');?></th>
			<td><?echo $document->lifeStage?></td>
		</tr>
		<tr class="transposeTable">
			<th><? echo tra('Process');?></th>
			<td><?echo $document->processId?></td>
		</tr>
		</tbody>

		<thead>
		<tr>
			<th class="heading" colspan="2"><? echo tra('Date and time');?></th>
		</tr>
		</thead>

		<tbody>
		<?php if($document->lockById):?>
		<tr class="transposeTable">
			<th><? echo tra('CheckOut');?></th>
			<td><? echo tra('By');?> <?echo $this->userIdToName($document->lockById)?>
				<? echo tra('at');?> <?echo $document->getLocked()?></td>
		</tr>
		<?php endif;?>
		<tr class="transposeTable">
			<th><? echo tra('Create');?></th>
			<td><? echo tra('By');?> <?echo $this->userIdToName($document->createById)?>
				<? echo tra('at');?> <?echo $document->getCreated()?></td>
		</tr>
		<tr class="transposeTable">
			<th><? echo tra('Last Update');?></th>
			<td><? echo tra('By');?> <?echo $this->userIdToName($document->updateById)?>
				<? echo tra('at');?> <?echo $document->getUpdated()?></td>
		</tr>
		</tbody>

		<thead>
		<tr>
			<th class="heading" colspan="2"><? echo tra('Other properties');?></th>
		</tr>
		</thead>

		<?php if($document->fromId):?>
		<tr class="transposeTable">
			<th><? echo tra('from_document_id');?></th>
			<td><a class="rb-popup" data-height="600" data-width="1024" title="detail of <?php echo $document->fromId?>"
				href="<?echo $baseurl?>/rbdocument/detail/index?documentid=<?echo $document->fromId?>&spacename=<?echo $spacename?>">
					<?echo $document->fromId?></a>
			</td>
		</tr>
		<?php endif;?>
</tbody>
</table>
</td>

<td width="50%">
	<!-- Display optionnals fields -->
	<table class="normal table table-bordered table-striped">
		<thead><tr class="">
			<th class="heading" colspan="2"><? echo tra('Extends properties');?></th>
		</tr></thead>
		<tbody>
		<?php
		foreach($extended as $type):
			$fn = $type['appName'];?>
			<tr class="transposeTable">
				<th><?echo tra($type['label']);?></th>
				<td><?echo $document->$fn?></td>
			</tr>
		<?php endforeach;?>
		</tbody>
	</table>

	<?php $parent = $document->getParent();?>

	<table class="normal table table-bordered table-striped">
		<thead><tr class="">
			<th class="heading" colspan="2"><? echo tra('Container');?></th>
		</tr></thead>
		<tbody>
		<tr class="transposeTable">
			<th><? echo tra('Id');?></th>
			<td><?echo $parent->getId()?></td>
		</tr>
		<tr class="transposeTable">
			<th><? echo tra('Name');?></th>
			<td><?echo $parent->getName()?></td>
		</tr>
		<tr class="transposeTable">
			<th><? echo tra('SpaceName');?></th>
			<td><?echo $spacename?></td>
		</tr>
		<tr class="transposeTable">
			<td colspan=2>
			<a class="btn btn-default btn-sm rb-openintop"
				href="<?php echo $baseurl?>/session/manager/activate?containerid=<?echo $parent->getId()?>&spacename=<?echo $spacename?>">
			Activate</a></td>
		</tr>
		</tbody>
	</table>
</td>

<td width="50%">
	<table class="normal table table-bordered">
		<tr>
			<td>
			</td>
		</tr>
	</table>
</td>
</tr>
</table>

<form name="checkform" method="post" action="#">
	<?php include('module/Ged/view/ged/document/detail/definition/gabysbar.phtml')?>
	<input type="hidden" name="layout" value="<?php echo $layout?>">
	<input type="hidden" name="basecamp" value="rbdocument/detail/index?documentid=<?echo $document->getId()?>&spacename=<?echo $spacename?>">
	<input type="hidden" name="spacename" value="<?echo $spacename?>">
	<input type="hidden" name="documentid" value="<?echo $document->getId()?>">
</form>
