<script>
$(function(){
	discussion();
	$('.rbp-comment-respons-form').hide();
	$('.rbp-comment-template').hide();
	loadDiscussionFromJson(<?php echo json_encode($discussion->toArray())?>, <?php echo $documentid ?>);
});
</script>

<div class="panel panel-primary rbp-comment-template" id="%s">
	<div class="panel-heading rbp-comment-heading">%s</div>
	<div class="panel-btn">
			<button type="button" class="btn-xs btn-danger comment-delete-btn"
				data-toggle="tooltip"
				title="Delete This Element">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
	</div>
	<div class="panel-body">
		<div class="rbp-comment-body">
		%s
		</div>
		<div class="rbp-comment-actions">
			<a href="#" class="btn btn-default btn-xs rbp-comment-responsbtn">Respons</a>
			<div class="rbp-comment-respons-form">
				<textarea cols="100" rows="2" class="form-control rbp-comment-respons-input"></textarea>
				<button class="btn btn-default rbp-comment-savebtn">Save</button>
			</div>
		</div>
	</div>
	<div class="panel-body rbp-comment-respons">
	</div>
</div>

<a name="discussion"></a>
<div class="panel panel-default rbp-discussion">
	<div class="panel-heading">
	<a class="btn" role="button" data-toggle="collapse" href=".rbp-discussions-panel" aria-expanded="false" aria-controls=".rbp-wu-details>.panel-body">
	<h4>Discussions</h4>
	</a>
	</div>
	<div class="panel-body collapse in rbp-discussions-panel">
		<div class="rbp-discussions" id="<?php echo $documentid ?>">
		</div>
		<hr>
		<div class="rbp-discussions-new">
			<textarea class="form-control rbp-comment-respons-input" cols="100" rows="2"></textarea>
			<button type="button" class="btn btn-default rbp-discussion-newbtn">New discussion</button>
		</div>
	</div>
</div>
