<script src="<?echo $baseurl?>/js/rb/rb.documentmanager.js"></script>
<script src="<?echo $baseurl?>/js/rb/rb.documentdetail.js"></script>
<script src="<?echo $baseurl?>/js/rb/rb.discussion.js"></script>

<style>
	#rb-documentdetail{
		width:1200px;
	}
	.ui-tabs{
		font-size: 12px;
	}
	th.heading{
		font-size: 10px;
	}
</style>

<div class="container-fluid rbgui-container" id="rb-documentdetail"
	data-status=<?echo $document->checkAccess()?>
	data-id=<?echo $document->getId()?>
	data-spacename=<? echo $spacename?>>

	<div class="tabs">
		<ul>
		<li><a href="#tab-viewer"><?echo tra('Viewer')?></a></li>
		<li><a href="#tab-documentdetail"><?echo tra('Detail of the document')?></a></li>
		<?php if($product):?>
		<li><a href="#tab-product"><?echo tra('Product')?></a></li>
		<li><a href="#tab-pdmchildren"><?echo tra('PDM Children')?></a></li>
		<?endif;?>
		<li><a href="#tab-files"><?echo tra('Associated files')?></a></li>
		<li><a href="#tab-children"><?echo tra('Children')?></a></li>
		<li><a href="#tab-parents"><?echo tra('Parent')?></a></li>
		<li><a href="#tab-alternatives"><?echo tra('Alternatives')?></a></li>
		<li><a href="#tab-process"><?echo tra('In Progress Process')?></a></li>
		<li><a href="#tab-discussion"><?echo tra('Discussion')?></a></li>
		</ul>

		<!-- ================================= VIEWER =================================================== -->
		<div id="tab-viewer">
			<h3>
			<?echo $document->getNumber() .' - '. $document->version .'.'.$document->iteration?><br />
			<i><? echo $document->description?></i>
			</h3>
			 <iframe height=600 width=600 src="<?php echo $baseurl?>/rbdocument/viewer/threed?documentid=<?echo $document->getId()?>&spacename=<?echo $spacename?>&layout=popup">
			</iframe>
		</div>

		<!-- ================================= DEFINITION OF DOC =================================================== -->
		<div id="tab-documentdetail">
			<?php include('module/Ged/view/ged/document/detail/definition.phtml')?>
			<?php if($embededViewer):
				echo $embededViewer;
			endif;?>
		</div>

		<!-- ================================= DEFINITION OF PRODUCT =================================================== -->
		<?php if($product):?>
		<div id="tab-product">
			<?php include('module/Ged/view/ged/document/detail/product.phtml')?>
		</div>

		<div id="tab-pdmchildren">
			<h3><?echo tra('Instances of children products for product ') .':'. $product['name']?></h3>
			<?php include('module/Ged/view/ged/document/detail/pdmchildren.phtml')?>
		</div>
		<?endif;?>

		<!-- ================================= ASSOCIATED FILES =================== -->
		<div id="tab-files">
			<h3><?echo tra('Associated files to')?> : <?echo $document->getName()?></h3>
			<?php include('module/Ged/view/ged/document/detail/associatedfiles/dropzone.phtml')?>
			<div id="list-assocfiles">
			<?php include('module/Ged/view/ged/document/detail/associatedfiles.phtml')?>
			</div>
		</div>

		<!-- ===================== DOCUMENT CHILDREN ========================= -->
		<div id="tab-children">
			<h3><?echo tra('Son documents of')?> : <?echo $document->getName()?></h3>
			<div id="list-docchildren">
			<?php include('module/Ged/view/ged/document/detail/relation.phtml')?>
			</div>
		</div>

		<!-- ===================== DOCUMENT PARENT ========================= -->
		<div id="tab-parents">
			<h3><?echo tra('Father documents of')?> : <?echo $document->getName()?></h3>
			<div id="list-docparent">
			<?php include('module/Ged/view/ged/document/detail/parent.phtml')?>
			</div>
		</div>

		<!-- ===================== DOCUMENT ALTERNATIVE =================== -->
		<div id="tab-alternatives">
			<?php include('module/Ged/view/ged/document/detail/alternative.phtml')?>
		</div>

		<!-- ========================= IN PROGRESS PROCESS =========================== -->
		<div id="tab-process">

			<div id="tab-wfinstance">
			<?php //include('module/Ged/view/ged/document/detail/wfinstance.phtml')?>
			</div>

			<div id="tab-wfinstanceDetail">
			<!-- include file="document/detail/wfinstanceDetail.phtml') -->
			</div>

			<?php if($displayWf == 1):?>
				<div id="tab-wfactivityDetail">
				<!-- include file="document/detail/wfactivityDetail.phtml') -->
				</div>
			<?endif;?>
		</div>

		<!-- ===================== DISCUSSION =================== -->
		<div id="tab-discussion">
			<?php include('module/Ged/view/ged/document/detail/discussion.phtml')?>
		</div>
	</div>
</div>