<?$uniqId = uniqid();?>

<script>
$(function() {
	$("#<?php echo $uniqId?>").find(".rbaction").on('click', function(e){
		var rbGuiManager = $(this).parents("div.rbgui-container").get(0).rbGuiManager;
		var actionName = $(this).attr('name');
		rbGuiManager.runAction(actionName,this);
		return false;
	});

	$("#<?php echo $uniqId?>").find( ".getDetail" )
		.button()
		.click(function( event ) {
			event.preventDefault();
			var documentId=$(this).attr("documentId");
			var space=$(this).attr("space");
			var baseurl=document.baseurl;
			return Rb_Document_getDetail(documentId, space, baseurl);
		});
});
</script>

<div id=<?php echo $uniqId?>>
<table class="normal table table-bordered">
<thead><tr>
	<th class="heading" style="width:50px;">#</th>
	<th class="heading" style="width:300px;"><?echo tra('Number')?></th>
	<th class="heading" auto><?echo tra('Designation')?></th>
</tr></thead>

<!-- --------------------list body--------------------------- -->
<tbody>
<?php foreach($parents as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';?>
<tr class="<?php echo $cycle?>">
	<td>
		#<?php echo $item['id']?>
	</td>
	<td>
		<button class="btn btn-default btn-xs rel-getdetail-btn" title="Get Detail of Document" data-documentid="<?php echo $item['id']?>" data-spacename="<?php echo $item['spaceName']?>">
		<?php echo $item['name']?>.<?php echo $item['version']?>.<?php echo $item['iteration']?>
		</button>
	</td>

	<td><?php echo $item['description']?></td>
</tr>
<?php endforeach;?>

<?php if(!$parents):?>
<tr>
	<td class="odd" colspan="3"><?echo tra('No document is linked to this document')?></td>
</tr>
<?php endif;?>
</tbody></table>

</div>
