<?$uniqId = uniqid();?>

<!----------------------list header---------------------------------- -->
<div id=<?php echo $uniqId?>>
<form name="linkform" method="post" action="#">
<table class="normal table table-bordered">
<thead>
<tr>
	<th class="heading" style="width:50px;">#</th>
	<th class="heading"><?echo tra('Name')?></th>
	<th class="heading"><?echo tra('Number')?></th>
	<th class="heading" style="width:50px;"><?echo tra('Uid')?></th>
	<th class="heading" nowrap><?echo tra('Designation')?></th>
	<th class="heading" style="width:50px;"><?echo tra('Nomenclature')?></th>
	<th class="heading" style="width:50px;"><?echo tra('Quantity')?></th>
	<th class="heading" style="width:50px;"><?echo tra('Type')?></th>
	<th class="heading" style="width:200px;"><?echo tra('Spacename')?></th>
	<th class="heading" style="width:200px;"><?echo tra('Document')?></th>
	<th class="heading" style="width:200px;"><?echo tra('Position')?></th>
</tr>
</thead>

<!-- --------------------list body--------------------------- -->
<tbody>
<?php foreach($pdmchildren as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';?>
<tr class="<?php echo $cycle?>">
	<td class="selectable">
		<input type="checkbox" name="checked[]" value="<?php echo $item['id']?>"/>
		#<?php echo $item['id']?>
	</td>

	<td class="selectable"><?php echo $item['name']?></td>
	<td class="selectable"><?php echo $item['number']?></td>
	<td class="selectable"><?php echo $item['uid']?></td>
	<td class="selectable"><?php echo $item['description']?></td>
	<td class="selectable"><?php echo $item['nomenclature']?></td>
	<td class="selectable"><?php echo $item['quantity']?></td>
	<td class="selectable"><?php echo $item['type']?></td>
	<td class="selectable"><?php echo $item['spaceName']?></td>
	<td class="selectable">

	<?php if($item['documentId']):?>
		<button class="btn btn-default btn-xs rel-getdetail-btn" title="Get Detail of Document" data-documentid="<?php echo $item['documentId']?>" data-spacename="<?php echo $item['spaceName']?>">
		<?php echo $item['productNumber']?>#<?php echo $item['documentId']?>
		</button>
	<?php else:?>
		Not Found
	<?php endif;?>
	</td>
	<td class="selectable"><a href="#" class="btn btn-default btn-xs pdmrel-getposition-btn">Get Position</a></td>
</tr>
<?php endforeach;?>

<?php if(!$pdmchildren):?>
<tr>
	<td class="odd" colspan="11"><?echo tra('No children is linked to this product')?></td>
</tr>
<?php endif;?>
</tbody>
</table>

<div id="pdmchildren-action-menu" class="rb-action-menu">
	<button class="btn btn-default btn-sm rbaction pdmrel-delete-btn" value="pdmchildrendelete" title="<?echo tra('Remove Children')?>">
	<img class="icon" src="<?php echo $baseurl?>/img/icons/doclink/delson.png" alt="<?echo tra('Remove Children')?>"/>
	</button>
</div>

<input type="hidden" name="productid" value="<?php echo $productid?>" />
<input type="hidden" name="ticket" value="<?php echo $ticket?>" />
<input type="hidden" name="page_id" value="detailWindow" />
<input type="hidden" name="spacename" value="<?php echo $spacename?>" />
</form>

</div>
