<style>
tr.transposeTable>th{
	color:black;
}
</style>

<h3>
	<?php echo $product['number']?> - <?php echo $product['version']?>
	<br />
	<i><?php echo $product['description']?></i>
</h3>

<table class="normal table table-bordered">
	<tr>
		<td width="50%">
			<table class="normal table table-bordered table-striped">
				<thead><tr class="">
					<th class="heading" colspan="2"><?echo tra('Basic properties')?></th>
				</tr></thead>
				<tbody>

				<tr class="transposeTable">
					<th><?echo tra('Id')?></th>
					<td><?php echo $product['id']?></td>
				</tr>
				<tr class="transposeTable">
					<th><?echo tra('Uid')?></th>
					<td><?php echo $product['uid']?></td>
				</tr>
				<tr class="transposeTable">
					<th><?echo tra('Name')?></th>
					<td><?php echo $product['name']?></td>
				</tr>
				<tr class="transposeTable">
					<th><?echo tra('Number')?></th>
					<td><?php echo $product['number']?></td>
				</tr>
				<tr class="transposeTable">
					<th><?echo tra('Designation')?></th>
					<td><?php echo $product['description']?></td>
				</tr>
				<tr class="transposeTable">
					<th><?echo tra('Version')?></th>
					<td><?php echo $product['version']?></td>
				</tr>
				<tr class="transposeTable">
					<th><?echo tra('Spacename')?></th>
					<td><?php echo $product['spaceName']?></td>
				</tr>

				<thead>
				<tr>
					<th class="heading" colspan="2"><?echo tra('Physicals Properties')?></th>
				</tr>
				</thead>

				<tbody>
				<tr class="transposeTable">
					<th><?echo tra('Weight')?></th>
					<td><?php echo $product['weight']?></td>
				</tr>
				<tr class="transposeTable">
					<th><?echo tra('Volume')?></th>
					<td><?php echo $product['volume']?></td>
				</tr>
				<tr class="transposeTable">
					<th><?echo tra('Wetsurface')?></th>
					<td><?php echo $product['wetsurface']?></td>
				</tr>
				<tr class="transposeTable">
					<th><?echo tra('Density')?></th>
					<td><?php echo $product['density']?></td>
				</tr>
				<tr class="transposeTable">
					<th><?echo tra('Gravity Center')?></th>
					<td><?php echo $this->displayPoint($product['gravityCenter'])?></td>
				</tr>
				<tr class="transposeTable">
					<th><?echo tra('Inertia Center')?></th>
					<td><?php echo $this->displayPoint($product['inertiaCenter'])?></td>
				</tr>
				<tr class="transposeTable">
					<th><?echo tra('Materials')?></th>
					<td></td>
				</tr>
				</tbody>
			</table>
		</td>
		<td width="50%"></td>
	</tr>
</table>
