<?$uniqId = uniqid();?>

<!----------------------list header---------------------------------- -->
<div id=<?php echo $uniqId?>>
<form name="linkform" method="post" action="#">
<table class="normal table table-bordered">
<thead>
<tr>
	<th class="heading" style="width:50px;">#</th>
	<th class="heading" style="width:300px;"><?echo tra('Number')?></th>
	<th class="heading" auto><?echo tra('Designation')?></th>
</tr>
</thead>

<!-- --------------------list body--------------------------- -->
<tbody>
<?php foreach($children as $item):?>
<tr class="<?php echo $cycle?>">
	<td>
		<input type="checkbox" name="checked[]" value="<?php echo $item['link_id']?>"/>
		#<?php echo $item['id']?>
	</td>

	<td class="selectable">
	<?php if($item['link_accessCode'] > 14):?>
		<img class="icon" src="<?php echo $baseurl?>/img/icons/lock.png" />
	<?php endif;?>
		<button class="btn btn-default btn-xs rel-getdetail-btn" title="Get Detail of Document" data-documentid="<?php echo $item['id']?>" data-spacename="<?php echo $item['spaceName']?>">
		<?php echo $item['name']?>.v<?php echo $item['version']?>.<?php echo $item['iteration']?>
		</button>
	</td>

	<td class="selectable"><?php echo $item['description']?></td>
</tr>
<?php endforeach;?>

<?php if(!$children):?>
<tr>
	<td class="odd" colspan="7"><?echo tra('No document is linked to this document')?></td>
</tr>
<?php endif;?>
</tbody>
</table>

<div id="children-action-menu" class="rb-action-menu">
	<button class="btn btn-default btn-sm rbaction rel-delete-btn" value="childrendelete" title="<?echo tra('Delete Children')?>">
	<img class="icon" src="<?php echo $baseurl?>/img/icons/doclink/delson.png" alt="<?echo tra('Delete Children')?>"/>
	</button>
</div>

<input type="hidden" name="documentid" value="<?php echo $documentid?>" />
<input type="hidden" name="ticket" value="<?php echo $ticket?>" />
<input type="hidden" name="page_id" value="detailWindow" />
<input type="hidden" name="spacename" value="<?php echo $spacename?>" />
</form>

</div>
