<?php
$this->headLink()->prependStylesheet($this->basePath() . '/bootstrap-select/dist/css/bootstrap-select.min.css');
$this->headScript()->appendFile($this->basePath() . '/bootstrap-select/dist/js/bootstrap-select.min.js');
?>

<script>
$(function(){
	var iconBaseUrl = "<?php echo $doctypeSrcIconBaseUrl?>";

	$(".icon-select").change(function(){
		var icon = iconBaseUrl + '/' + $(this).val();
		$("#showIcon").attr("src", icon);
		return false;
	});

	/* Init icon display */
	var icon = iconBaseUrl + '/' + $(".icon-select").val();
	$("#showIcon").attr("src", icon);
});
</script>

<div class="container">

<h2><?php echo $pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
?>

<fieldset>
<legend>Basic</legend>
<ul>
	<div class="form-group"><?echo $this->formRow($form->get('name'));?>
		<br /><em><?php echo $numberHelp ?></em>
	</div>
	<div class="form-group"><?echo $this->formRow($form->get('description'));?></div>
</ul>
</fieldset>

<fieldset>
<legend>Regex</legend>
<ul>
	<div class="form-group"><?echo $this->formRow($form->get('recognitionRegexp'));?>
	<a class="rb-popup" href="<?php echo $baseurl?>/testRegExpr.htm"><?echo tra('Need help?')?></a></p>
	</div>
</ul>
</fieldset>

<fieldset>
<legend>Scripts</legend>
<ul>
	<div class="form-group"><?echo $this->formRow($form->get('scriptPreStore'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('scriptPostStore'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('scriptPreUpdate'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('scriptPostUpdate'));?></div>
</ul>
</fieldset>

<fieldset>
<legend>File</legend>
<ul>
	<div class="form-group"><?echo $this->formRow($form->get('fileType'));?></div>

	<span id="file_extension">
		<div class="form-group"><?echo $this->formRow($form->get('fileExtensions'));?></div>
	</span>
	<div class="form-group"><?echo $this->formRow($form->get('mayBeComposite'));?></div>
</ul>
</fieldset>

<fieldset>
<legend>Visualisation file</legend>
<ul>
	<div class="form-group"><?echo $this->formRow($form->get('visuFileExtension'));?></div>
</ul>
</fieldset>

<fieldset>
<legend>Icon</legend>
<ul>
	<div class="form-group"><?echo $this->formRow($form->get('icon'));?></div>
	<img src="" id="showIcon" alt="" />
</ul>
</fieldset>

<fieldset>
<ul>
	<div class="form-group">
		<?echo $this->formRow($form->get('cancel'));?>
		<?echo $this->formRow($form->get('validate'));?>
	</div>
</ul>
</fieldset>

<?php echo $this->form()->closeTag();?>
</div>
