<script>
$(function() {
	$('.submitOnClick').click(function(){
		return filterSubmit(this);
	});
});
function filterSubmit(element){
	$('#doctypefilterform').submit();
}
</script>

<div id="sitesearchbar">
<?php
$form = $this->filterForm;
echo $this->form()->openTag($form);
?>

<fieldset>
	<div class="form-group"><?echo $this->formRow($form->get('find_name'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('find_designation'));?></div>

	<input type="submit" name="filter" value="<?echo tra('filter')?>" class="btn btn-default btn-sm"/>
	<input type="submit" name="resetf" value="<?echo tra('Reset all filters')?>" class="btn btn-default btn-sm"/>
</fieldset>
<?php echo $this->form()->closeTag();?>
</div>
