<script>
$(function(){
	var url = window.location.origin + window.location.pathname;
	var currentOrderby="<?php echo $orderby?>";
	var currentOrder="<?php echo $order?>";
	var baseurl = "<?php echo $baseurl?>";

	var url=getUrlWithoutSort();
	initSortableHeader(currentOrderby, currentOrder, url.url);

	$(".delete-btn").click(function(){
		if(confirm('<?php echo tra('Do you want really suppress this messages?')?>')){
			var url = document.baseurl+'/message/mailbox/delete';
			$("form[name='mailboxlist']").attr('action', url);
			$("form[name='mailboxlist']").submit();
		}
		return false;
	});

	$(".archive-btn").click(function(){
		var url = document.baseurl+'/message/mailbox/archive';
		var form = $("form[name='mailboxlist']");
		form.attr('action', url);
		form.submit();
		return false;
	});

	$(".markas-btn").click(function(){
		var url = document.baseurl+'/message/mailbox/mark';
		var form = $("form[name='mailboxlist']");
		var value = $(".markas-select").val();
		form.append('<input type="hidden" name="markas" value="'+value+'">');
		form.attr('action', url);
		form.submit();
		return false;
	});

	$(".autoarchive-btn").click(function(){
		var url = document.baseurl+'/message/mailbox/autoarchive';
		var form = $("form[name='mailboxlist']");
		var value = $(".autoarchive-select").val();
		form.append('<input type="hidden" name="days" value="'+value+'">');
		form.attr('action', url);
		form.submit();
		return false;
	});

	$(".autodelete-btn").click(function(){
		var url = document.baseurl+'/message/mailbox/autodelete';
		var form = $("form[name='mailboxlist']");
		var value = $(".autodelete-select").val();
		form.append('<input type="hidden" name="days" value="'+value+'">');
		form.attr('action', url);
		form.submit();
		return false;
	});

});
</script>

<?php include('module/Message/view/message/navbar.phtml')?>

<h1 class="pagetitle"><?php echo $pageTitle?></h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<? echo $filter->render($this)?>
</div></div>

<!-- -------------------- Gauge ------------------------------------>
<div class="panel panel-default">
<div class="panel-body">
<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="<?php echo $percentage?>" aria-valuemin="0" aria-valuemax="100" style="width:<?php echo $percentage?>%;">
	<?php echo $percentage?>%
	</div>
	<?php
	if($percentage >= 100){
		echo tra('Mailbox is full! Delete or archive some messages if you want to receive more messages');
	}
	?>
</div>
</div></div>


<!-- -------------------- list ------------------------------------->
<div class="panel panel-default">

<!-- -------------------- paginator ------------------------------------->
<div class="panel-heading text-center">
<?php echo $paginator->render($this)?>
</div>

<div class="panel-body">

<!-- -------------------- Buttons Bar ------------------------------>
<div class="panel panel-default">
<div class="panel-heading">

<form name="mailboxaction" action="#" method="post">
<fieldset class="form-inline">

<div class="form-group">
<button class="btn btn-default btn-sm delete-btn" title="<?echo tra('Delete')?>">
<?echo tra('Delete')?></button>
<button class="btn btn-default btn-sm archive-btn" title="<?echo tra('Move to archive')?>">
<?echo tra('Move to archive')?></button>
</div>

<div class="btn-group">
<button class="btn btn-default btn-sm markas-btn form-control" title="<?echo tra('Mark')?>">
<?echo tra('Mark')?></button>
<select name="markas" class="form-control markas-select dropdown-toggle">
	<option value="isRead_y"><?echo tra('Mark as read')?></option>
	<option value="isRead_n"><?echo tra('Mark as unread')?></option>
	<option value="isFlagged_y"><?echo tra('Mark as flagged')?></option>
	<option value="isFlagged_n"><?echo tra('Mark as unflagged')?></option>
</select>
</div>

<div class="btn-group">
<button class="btn btn-default btn-sm autoarchive-btn form-control" title="<?echo tra('Autoarchive')?>">
<?echo tra('Autoarchive')?></button>
<button class="btn btn-default btn-sm autodelete-btn form-control" title="<?echo tra('Autodelete')?>">
<?echo tra('Autodelete')?></button>
<select name="days" class="form-control autoarchive-select dropdown-toggle">
	<option value="7"><?echo sprintf(tra('Older than %s'),tra('1 Week'))?></option>
	<option value="14"><?echo sprintf(tra('Older than %s'),tra('2 Weeks'))?></option>
	<option value="30"><?echo sprintf(tra('Older than %s'),tra('1 Month'))?></option>
	<option value="365"><?echo sprintf(tra('Older than %s'),tra('1 Year'))?></option>
</select>
</div>

</fieldset>
</form>
</div>
</div>


<form name="mailboxlist" action="#" method="post">
<!-- --------------------list header-------------------------------->
<table class="normal table table-bordered">
<thead><tr>
	<th class="heading auto" style="width:50px;">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading sortable" data-field="from"><?echo tra('From')?></th>
	<th class="heading sortable" data-field="subject"><?echo tra('Subject')?></th>
	<th class="heading sortable" data-field="date"><?echo tra('Date')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';?>
<tr class="<?echo $cycle?>">
	<td class="selectable">
	<input type="checkbox" name="checked[]" value="<?php echo $item['id']?>"/>
	<?php if($item['isFlagged']):?>
	<img src="<?php echo $baseurl?>/img/icons/flagged.png" alt="" />
	<?php endif?>
	</td>

	<td class="selectable"><?php echo $item['from']?></td>

	<td class="selectable">
	<a href="<?php echo $baseurl?>/message/mailbox/read?id=<?php echo $item['id']?>">
	<?php echo $item['subject']?>
	</a>
	</td>

	<td class="selectable">
	<?php echo $this->dateFormater($item['date'])?>
	</td>
</tr>
<?php endforeach;?>
<?php else:?>
<tr><td colspan="3"><?echo tra('No messages to display')?><td></tr>
<?php endif;?>
</tbody>
</table>
</form>
</div>
</div>
