<?php
echo $this->doctype();
$siteName= 'CUSTOM';
$admin = false;
$logoUrl = $this->basePath().'/img/logo.png';
$baseurl = BASEURL;
?>

<html lang="fr">
<head>
<meta charset="<?php echo $charset?>">

<!-- Les styles -->
<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.png'))
->prependStylesheet($this->basePath() . '/bootstrap/css/bootstrap-theme.min.css')
->prependStylesheet($this->basePath() . '/bootstrap/css/bootstrap.min.css')
?>

<!-- Scripts -->
<?php echo $this->headScript()
->appendFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
->appendFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
->appendFile($this->basePath() . '/js/application.js')
->appendFile($this->basePath() . '/js/lib.js')
?>

<script>
document.baseurl = "<?php echo $baseurl?>";
</script>
</head>

<body>

<?php
$flash = \Rbs\Sys\FlashMessenger::get();

$rbFlashMessenger = array(
	'messages'=>array(),
	'errors'=>array(),
	'success'=>array(),
	'warnings'=>array(),
);

if( $flash->hasMessage() ){
	$rbFlashMessenger['messages'] = $flash->getMessages();
}
if( $flash->hasError() ){
	$rbFlashMessenger['errors'] = $flash->getErrors();
}
if( $flash->hasSuccess() ){
	$rbFlashMessenger['success'] = $flash->getSuccess();
}
if( $flash->hasWarning() ){
	$rbFlashMessenger['warnings'] = $flash->getWarnings();
}
$flash->clear();
?>

<div id="rb-main" class="container rb-main">

	<div class="rb-feedbacks">
	<?php foreach($rbFlashMessenger['errors'] as $error):?>
		<div class="alert alert-danger alert-dismissible fade in" role="alert"><?echo $error ?>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<?php endforeach;?>

	<?php foreach($rbFlashMessenger['messages'] as $message):?>
		<div class="alert alert-info alert-dismissible fade in" role="alert"><?echo $message ?>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<?php endforeach;?>

	<?php foreach($rbFlashMessenger['success'] as $success):?>
		<div class="alert alert-success alert-dismissible fade in" role="alert"><?echo  $success?>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<?php endforeach;?>

	<?php foreach($rbFlashMessenger['warnings'] as $warning):?>
		<div class="alert alert-warning alert-dismissible fade in" role="alert"><?echo $warning?>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<?php endforeach;?>
	</div>


	<div id="rb-top"></div>
	<div id="rb-body">
		<?php echo $this->content; ?>
	</div>
	<div id="rb-footer"></div>
</div>
</body>
</html>
