<style>
td.heading{
	width:150px;
}
div.messureadbody{
	box-shadow: 0 0 5px black;
	margin: 0 15px 15px 15px;
}
</style>

<div class="container">

<?php include('module/Message/view/message/navbar.phtml')?>

<h1 class="pagetitle"><?php echo $pageTitle?></h1>

<div class="messureadhead panel panel-default">

<div class="panel-heading messureadflag">
	<?php if($message->isFlagged()):?>
	<img src="<?php echo $baseurl?>/img/icons/flagged.png" alt="" />
	<?php endif?>
</div>

<div class="panel-body">
<table class="normal table table-bordered">
	<tr><td class="heading"><?echo tra('From')?>:</td><td><?php echo $message->getFrom()?></td></tr>
	<tr><td class="heading"><?echo tra('To')?>:</td><td><?php echo $this->displayAddress($message->getTo())?></td></tr>
	<tr><td class="heading"><?echo tra('Cc')?>:</td><td><?php echo $this->displayAddress($message->getCc())?></td></tr>
	<tr><td class="heading"><?echo tra('Bcc')?>:</td><td><?php echo $this->displayAddress($message->getBcc())?></td></tr>
	<tr><td class="heading"><?echo tra('Date')?>:</td><td><?php echo $message->getCreated()?></td></tr>
</table>

<table class="normal table table-bordered">
	<tr><td class="heading"><?echo tra('Subject')?>:</td><td><?php echo $message->getSubject()?></td></tr>
</table>
</div>

<div class="messureadbody panel-body">
	<?php echo $message->getBody()?>
</div>
</div>

</div>
