
{include file="layouts/htmlheader.tpl"}

<script src="{$baseurl}/js/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<link href="{$baseurl}/js/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />

{literal}
<script>
$(function() {
	$( "#button1" ).click(function(){
		window.location.href='{$baseurl}/test/test/ping';
		//$.get('{$baseurl}/test/test/ping');
	});
});
</script>
{/literal}


<button id="button1">Click</button>

