<h1>JS TEST</h1>

<input name="test_input[12]" type="text" id="test_input[12]" value="string1">
<input name="test_input[13]" type="text" id="test_input[13]" value="">
<input name="test_input[1]" type="text" id="test_input[1]" value="">
<input name="test_input[10]" type="text" id="test_input[10]" value="">

{literal}
<style>
#dropzone, #dropzone2{
	width: 250px;
	height: 40px;
	border: 3px dashed #BBBBBB;
	line-height:50px;
	text-align: center;
	}
</style>

<script>
//Set value of all element with same class name to the current value of element
//ClassName is the name of element without ending '[n]'
function setValue(elementId){
	var name = document.getElementById(elementId).name;
	var value = document.getElementById(elementId).value;
	var rootname = name.match("([A-Za-z_]+)(\[[0-9]+\])+$")[1];
	var elements = $("[name^="+rootname+"]").val(value);
   	//elements.val(value);
	return;
}

setValue("test_input[12]");

$(function() {
	var dropdivSelector="#dropzone";
	
	$(dropdivSelector).bind('dragenter',function(e) {
		$(this).css('border', '3px dashed red');
		return false;
	});
	
	$(dropdivSelector).bind('dragover',function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).css('border', '3px dashed red');
		return false;
	});
	
	$(document).bind('drop',function(e){
		e.preventDefault();
		e.stopPropagation();
		return false;
	});
	
	$(dropdivSelector).bind('drop',function(e) {
		alert("Toto");
		return false;
	});
	
	$(dropdivSelector).bind('drop',function(e) {
		alert("Toto");
		return false;
	});
	
	$("#master").empty();
	$("#master").append("<div id='dropzone2'>DROP HERE</div>");
	
	$("#dropzone2").bind('drop',function(e) {
		alert("Toto");
		return false;
	});
	
	function testParent(){
		var p = $("#node3").parents("form");
		alert(p);
	}
	
	testParent();
});


</script>
{/literal}

<div id="master">
	<div id="dropzone">DROP HERE</div>
	<div id="droppable" draggable=true>Droppable</div>
</div>

<form>
<div id="root" class="rootnode">
	<div id="node1">
		<div id="node2">
			<div id="node3">
			</div>
		</div>
	</div>
</div>
</form>



