{*Smarty template*}

  <div id="BoiteActions">
     <!--<p><a class="btn btn-default" href="#">{tr}Ranchbe API documentation{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="#">{tr}Galaxia API documentation{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="javascript:popup('application/tools/GetFilesRecordWithoutFile','GetFilesRecordWithoutFile')">{tr}Find all records wich have not real file{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="javascript:popup('application/tools/GetFilesWithoutDocuments','GetFilesWithoutDocuments')">{tr}Find all records wich have not associated document{/tr}</a></span><br /></p>-->
     <!--<p><a class="btn btn-default" href="javascript:popup('application/tools/GetDocumentsWithoutFile','GetDocumentsWithoutFile')">{tr}Find all documents wich have not associated file{/tr}</a></span><br /></p>-->
     <!--<p><a class="btn btn-default" href="javascript:popup('application/tools/GetDocumentsWithoutContainer','GetDocumentsWithoutContainer')">{tr}Find all documents wich have not associated container{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="javascript:popup('application/tools/ExportRights','ExportRights')">{tr}Export rights to file{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="application/tools/BackupDatabase&BackupDatabaseType=SQL">{tr}Backup of database in SQL format{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="application/tools/BackupDatabase&BackupDatabaseType=XML">{tr}Backup of database in XML format{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="javascript:popup('application/tools/GenRightsTable','GenRightsTable')">{tr}Generate right table{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="javascript:popup('application/tools/GenDoctypes','GenDoctypes')">{tr}Generate doctype table{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="javascript:popup('application/tools/GetConnectedUsers','GetConnectedUsers')">{tr}List connected users{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="javascript:popup('application/tools/AddRights','AddRights')">{tr}Add rights{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="{$baseurl}/application/tools/sqlprofiling">{tr}See SQL profiling{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="application/tools/renameNormesAirbus">{tr}Renommer les normes{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="{$baseurl}/application/tools/SQLrequest">{tr}SQL Request{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="javascript:popupP('application/tools/getcustom','custom_sctipts', 1024, 800)">{tr}Custom scripts{/tr}</a></p>-->
     <!--<p><a class="btn btn-default" href="javascript:popup('testRegExpr.htm','testRegExpr')">{tr}Regexp tester{/tr}</a></p>-->
     
     <p><a class="btn btn-default" href="{$baseurl}/doctype/manager/buildicons">{tr}Update doctypes icon{/tr}</a></p>
     <p><a class="btn btn-default" href="{$baseurl}/tools/index/phpinfo">{tr}PHP Infos{/tr}</a></p>
     <p><a class="btn btn-default" href="{$baseurl}/tools/trash/display">{tr}Get files in trash{/tr}</a></p>
     <p><a class="btn btn-default" href="{$baseurl}/tools/trash/vacumm">{tr}Empty trash{/tr}</a></p>
  </div>
