<div id="power" style="text-align: center">
	<font color="blue" size="2"><i> This program is free
			software. You can redistribute it and/or modify it under the terms of
			the GNU General Public License as published by the Free Software
			Foundation. <a href="./licence.txt" title="Licence">See the GNU
				General Public License for more details.</a>
	</i></font>
</div>
