<?
use Rbplm\People;
$siteName= 'Ranchbe';
$currentUser = People\CurrentUser::get();
$username = $currentUser->getLogin();
?>

<style>
.form-control[disabled]{
	background-color:#EFEFE7;
	border: none;
	box-shadow:none;
}
.form-control{
	margin:0px 5px 0 0px;
}
</style>

<div class="container">
<h1>Multi change state of documents</h1>

<?
$form->prepare();
$fieldSet = $form->get('batchform');
?>

<?echo $this->form()->openTag($form);?>
<?echo $this->formHidden($fieldSet->get('spaceName'));?>
<?echo $this->formHidden($fieldSet->get('containerId'));?>
<?echo $this->formCollection($fieldSet->get('items'));?>

<table class="form normal table">
<tr>
<td><?echo $this->formRow($fieldSet->get('process'));?></td>
<td><?echo $this->formRow($fieldSet->get('activityId'));?></td>
</tr>
<tr>
<td colspan=2>
<div class="btn-group">
<?echo $this->formRow($form->get('cancel'));?>
<?echo $this->formRow($form->get('validate'));?>
</div>
</td>
</tr>
<?
echo $this->form()->closeTag();
?>
</table>

<br />

<? if ($graphImg) :?>
<table class="form normal table">
<tr>
	<td colspan="6" align="center">
	<h3><? echo $this->translate('Graph of current process')?></h3>
</td>
</tr>
<tr>
	<td colspan="6" align="center">
	<img src="<? echo $this->basePath().'/'.$graphImg?>" title="<? echo $this->translate('Graph')?>" alt="<? echo $this->translate('Graph is not accessible')?>"/>
</td>
</tr>
</table>
<? endif?>
</div>

