{*Smarty template*}

  	<h2>Quoi de neuf?</h2>
  	<p><ul>
  		<li>
  		<p style="font-family:arial;font-size:18px;">
  		You may now create documents with Drag And Drop feeling.
		</p></li>
		
  		<li>
  		<p style="font-family:arial;font-size:18px;">
  		You may now create relations between documents with drag and drop feeling.
  		Just pin the document with <img src="{$baseurl}/img/icons/fix.gif"/>pin
  		and drag-drop children documents to this document.
		</p></li>
		
  	</ul></p>
