<?php
if(!$threedDf){
	echo 'No 3d visualisation';
	return;
}

$this->headScript()->appendFile($this->basePath() . '/js/three.js/build/three.min.js');
$this->headScript()->appendFile($this->basePath() . '/js/three.js/examples/js/controls/TrackballControls.js');
$this->headScript()->appendFile($this->basePath() . '/js/three.js/examples/js/Detector.js');
$this->headScript()->appendFile($this->basePath() . '/js/three.js/examples/js/libs/stats.min.js');
$this->headScript()->appendFile($this->basePath() . '/js/three.js/examples/js/loaders/STLLoader.js');

$filename = $threedDf->getData()->fullpath;
$publicFile = './public/img/3d/'.$threedDf->getData()->name;
copy($filename, $publicFile);
$publicFile = '/img/3d/'.$threedDf->getData()->name;

//$data64 = base64_encode(file_get_contents($filename));
//var_dump($filename);die;
//background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIA...);
?>

<style>
#info {
	color: #000;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
}
</style>

<div id="viewer-container" style="height: 510px; width: 510px;"></div>

<script>
	var container, stats;
	var camera, controls, scene, renderer;
	var cross;

	init();
	animate();

	function init() {
		camera = new THREE.PerspectiveCamera( 100, 1, 1, 10000 );
		camera.position.z = 100;

		controls = new THREE.TrackballControls( camera );
		controls.rotateSpeed = 10;
		controls.zoomSpeed = 1.5;
		controls.panSpeed = 5;
		controls.noZoom = false;
		controls.noPan = false;
		controls.staticMoving = true;
		controls.dynamicDampingFactor = 0.3;
		controls.keys = [ 65, 83, 68 ];
		controls.addEventListener( 'change', render );

		/* world */
		scene = new THREE.Scene();
		scene.fog = new THREE.FogExp2( 0xcccccc, 0.002 );

		/* ASCII file */
		var loader = new THREE.STLLoader();
		loader.load('<?php echo $publicFile?>', function ( geometry ) {
			var material = new THREE.MeshPhongMaterial( { color: 0xff5533, specular: 0x111111, shininess: 200 } );
			var mesh = new THREE.Mesh( geometry, material );
			mesh.position.set( 0, 0, 0 );
			mesh.rotation.set( 0, 0, 0 );
			mesh.scale.set( 1, 1, 1 );
			mesh.castShadow = true;
			mesh.receiveShadow = true;
			scene.add( mesh );
		});

		/* lights */
		light = new THREE.DirectionalLight( 0xffffff );
		light.position.set( 1, 1, 1 );
		scene.add( light );

		light = new THREE.DirectionalLight( 0x002288 );
		light.position.set( -1, -1, -1 );
		scene.add( light );

		light = new THREE.AmbientLight( 0x222222 );
		scene.add( light );

		/* renderer */
		renderer = new THREE.WebGLRenderer( { antialias: false } );
		renderer.setClearColor( scene.fog.color );
		renderer.setPixelRatio(1);
		renderer.setSize(500,500);

		container = document.getElementById( 'viewer-container' );
		container.appendChild( renderer.domElement );

		/* STATS VIEWER */
		//stats = new Stats();
		//container.appendChild( stats.dom );

		render();
	}

	function animate()
	{
		requestAnimationFrame(animate);
		controls.update();
	}

	function render()
	{
		renderer.render( scene, camera );
		//stats.update();
	}
</script>