<?php
use Rbplm\People;
$siteName= 'Workflow Instances';
$currentUser = People\CurrentUser::get();
$username = $currentUser->getLogin();
$logoUrl = $this->basePath('img/logo.png');
?>

<script>
$(function(){
});
</script>

<?php
function displaylist($headers, $list, $view, $mode='consult'){
	$currentUser = People\CurrentUser::get();
?>

<table class="table">
	<tr>
		<?php
		echo '<th>#</th>';
		foreach($headers as $h=>$p):
			echo '<th>'.$h.'</th>';
		endforeach;
		echo '<th></th>';
		?>
		<?php
		foreach($list as $item):
			$id = $item['id'];
			$uid = $item['uid'];
			echo '<tr>';
			echo '<td>'.$id.'</td>';
			foreach($headers as $h=>$p):
				echo '<td>'.$item[$p].'</td>';
			endforeach;
			?>
			<td nowrap style="width:95px;">
				<div class="btn-group btn-group-xs project-btn" role="group" aria-label="...">

					<button type="button" class="btn btn-default enter-btn" id="enter-btn" data-id="<?php echo $id?>" onclick="goInto(<?php echo $id ?>);">
						<?php echo $view->translate('See') ?>
					</button>

					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" class="btn-danger delete-btn" onclick="deleteInstance(<?php echo $id ?>);">
								<?php echo $view->translate('Delete') ?>
							</a>
						</li>
					</ul>
				</div>
			</td>
			<?php
			echo '</tr>';
		endforeach;
		?>

</table>
<?php } ?>

<div class="jumbotron">
	<h1>
		<img src="<?php echo $logoUrl?>" />
		<?php echo sprintf($this->translate('%s'.$siteName.'%s'), '<span class="">', '</span>') ?>
	</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<?php echo $this->translate('My Workflows') ?>
				</h3>
			</div>
			<div class="panel-body">
				<?php displaylist($headers, $list, $this); ?>
			</div>
		</div>
	</div>
</div>
