<?php
$form = $this->filterForm;
$form->prepare();
echo $this->form()->openTag($form);
?>

<div class="form-group"><?echo $this->formRow($form->get('stdfilter-searchInput'));?></div>
<div class="form-group"><?echo $this->formRow($form->get('stdfilter-submit'));?></div>

<?php echo $this->form()->closeTag();?>