<div id="favorites">
<?php foreach($favorites as $favorite):?>
	<span class="button2">
    <a class="linkbut" href="<?echo $baseurl?>/session/manager/activate?containerid=<?echo $favorite['container_id']?>&spacename=<?echo $favorite['space_name']?>" >
    <?echo $favorite['container_number']?>
    </a></span>
<?php endforeach;?>
</div>
