<script>
$(function() {
	$('.submitOnClick').click(function(){
		return filterSubmit(this);
	});

	$.each($('.optionSelector:checked'), function( index, item ) {
		displayOption(item,0);
	});

	$('.optionSelector').click(function(e){
		displayOption(this);
	});
});

function displayOption(element, speed=400){
	console.log($(element));
	if( element.checked ){
		$(element).parent().parent().nextAll('span').children('fieldset').first().show(speed);
	}
	else{
		$(element).parent().parent().nextAll('span').children('fieldset').first().hide(speed);
	}
}

function filterSubmit(element){
	$('#filterf').submit();
}
</script>

<div id="sitesearchbar_doc">

<?php
$form = $this->filterForm;
//$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('spacename'));
?>

<fieldset>
	<div class="form-group"><?echo $this->formRow($form->get('find_number'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('find_designation'));?></div>

	<input type="submit" name="filter" value="<?echo tra('filter')?>" class="btn btn-default btn-sm"/>
	<input type="submit" name="resetf" value="<?echo tra('Reset all filters')?>" class="btn btn-default btn-sm"/>

	<br />

<div class="form-group"><?echo $this->formRow($form->get('f_adv_search_cb'));?></div>
	<span style="display:block">
	<fieldset class="form-fieldset" style="display:none">
	<div class="form-group"><?echo $this->formRow($form->get('find'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('find_field'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('f_action_field'));?></div>
	<div class="form-group"><?echo $this->formRow($form->get('f_action_user_name'));?></div>

	<br />

	<div class="form-group"><?echo $this->formRow($form->get('f_dateAndTime_cb'));?></div>
	<span style="display:block">
	<fieldset class="form-fieldset" style="display:none">

	<?$checkBox = $form->get('f_open_date_cb');?>
	<div class="form-group"><?echo $this->formRow($checkBox);?></div>
	<span style="display:block"><fieldset class="form-fieldset" style="display:none">
		<div class="form-group"><?echo $this->formRow($form->get('f_open_date_min'));?></div>
		<div class="form-group"><?echo $this->formRow($form->get('f_open_date_max'));?></div>
	</fieldset></span>

	<?$checkBox = $form->get('f_close_date_cb');?>
	<div class="form-group"><?echo $this->formRow($checkBox);?></div>
	<span style="display:block"><fieldset class="form-fieldset" style="display:none">
		<div class="form-group"><?echo $this->formRow($form->get('f_close_date_min'));?></div>
		<div class="form-group"><?echo $this->formRow($form->get('f_close_date_max'));?></div>
	</fieldset></span>

	<?$checkBox = $form->get('f_fsclose_date_cb');?>
	<div class="form-group"><?echo $this->formRow($checkBox);?></div>
	<span style="display:block"><fieldset class="form-fieldset" style="display:none">
		<div class="form-group"><?echo $this->formRow($form->get('f_fsclose_date_min'));?></div>
		<div class="form-group"><?echo $this->formRow($form->get('f_fsclose_date_max'));?></div>
	</fieldset></span>

	</fieldset>
	</span>

	</fieldset>
	</span>

	</fieldset>

<?php echo $this->form()->closeTag($form);?>
</div>
