<div id="page-bar">
<a class="btn btn-default btn-xs" href="<?echo $baseurl?>/container/<?echo $spacename?>/create?spacename=<?echo $spacename?>"><?echo tra('Create')?></a>
<a class="btn btn-default btn-xs" href="<?echo $baseurl?>/container/alias/create?spacename=<?echo $spacename?>"><?echo tra('Create alias')?></a>
<a class="btn btn-default btn-xs" href="<?echo $baseurl?>/category/manager/display?spacename=<?echo $spacename?>"><?echo tra('Categories')?></a>
<a class="btn btn-default btn-xs" href="<?echo $baseurl?>/metadata/manager/display?spacename=<?echo $spacename?>"><?echo tra('Extended Metadatas')?></a>
</div>
