<div id="page-title">
	<h1 class="pagetitle">{$pageTitle}</h1>
</div>

<h2>Que voulez-vous faire?</h2>

<form>
	<input type="hidden" name="space" value="{$space}">
	<button name="byPeriod" value=1>Voir les comos sur une période</button>
	<button name="byDocument" value=1>Voir les comos pour un document</button>
</form>

{*--------------------list header----------------------------------*}
<form name="checkform" method="post" action="{$smarty.server.REQUEST_URI}">
<table class="normal table table-bordered">
 <tr>
	{foreach key=key item=field_name from=$headers}
	  <th class="heading auto">
	  <a class="tableheading" href="{if $sort_order eq 'DESC'}{sameurl sort_order='ASC'}{else}{sameurl sort_order='DESC'}{/if}&sort_field=$field_name">
  		{tr}{$field_name}{/tr}</a><br />
	  </th>
	{/foreach}
 </tr>


{*--------------------list Body----------------------------------*}
{cycle print=false values="even,odd"}
  {section name=list loop=$list}
  <tr class="{cycle}">
  	{foreach key=key item=field_name from=$headers}
    <td class="thin">
    	{$list[list].$field_name}
    </td>
    {/foreach}
  </tr>
   </tr>
  {/section}
  </table>

<p></p>

</form>
