{*Smarty template*}

<div id="page-title">
	<h1 class="pagetitle"><?echo $pageTitle?></h1>
</div>

<h2>Que voulez-vous faire?</h2>
<form>
	<input type="hidden" name="space" value="<?echo $spacename?>">
	<button name="byPeriod" value=1>Voir les refus sur une pèriode</button>
	<button name="byDocument" value=1>Voir les refus pour un document</button>
</form>

<form name="checkform" method="post" action="#">
<table class="normal table table-bordered">
<thead><tr>
<?foreach($headers as $key=>$name):?>
	<th class="heading auto">
	<a class="tableheading" data-field="<?echo $name?>">
		<?echo $name?>
	</a>
	</th>
<?endforeach;?>
</tr></thead>

<tbody>
<?foreach($list as $item):
($class == 'odd') ? $class = 'even' : $class = 'odd';
?>
<tr class="<?echo $class?> >">
	<?foreach($headers as $key=>$name):?>
		<td>
			<?echo $item[$name]?>
		</td>
	<?endforeach;?>
</tr>
<?endforeach;?>
</tbody>
</table>
</form>
