{*Smarty template*}

<div id="page-title">
  <h1 class="pagetitle">{$pageTitle}</h1>
</div>

{*--------------------Search Bar defintion--------------------------*}
{include file='searchBar_simple.tpl'}

{* -------------------Pagination------------------------ *}
{include file='pagination.tpl'}

{*--------------------list header----------------------------------*}
<form name="checkform" method="post" action="{$smarty.server.PHP_SELF}">
<table class="normal table table-bordered">
 <tr>
	{foreach key=key item=field_name from=$headers}
	  <th class="heading auto">
	  <a class="tableheading" href="{if $sort_order eq 'DESC'}{sameurl sort_order='ASC'}{else}{sameurl sort_order='DESC'}{/if}&sort_field=$field_name">
  		{tr}{$field_name}{/tr}</a><br />
	  </th>
	{/foreach}
 </tr>

{*--------------------list Body----------------------------------*}
{cycle print=false values="even,odd"} {* ---SmartyCode to alternate colors of rows---*}
  {section name=list loop=$list}
  <tr class="{cycle}">
  	{foreach key=key item=field_name from=$headers}
    <td class="thin">
    	{$list[list].$field_name}
    </td>
    {/foreach}
  </tr>
   </tr>
  {/section}
  </table>

</div>
</div>

<div id="action-menu"></div>

<p></p>

<input type="hidden" name="find" value="{$find|escape}" />
<input type="hidden" name="find_field" value="{$find_field|escape}" />
<input type="hidden" name="numrows" value="{$numrows|escape}" />
<input type="hidden" name="sort_field" value="{$sort_field|escape}" />
<input type="hidden" name="sort_order" value="{$sort_order|escape}" />
<input type="hidden" name="offset" value="{$offset|escape}" />
<input type="hidden" name="ticket" value="{$ticket}" />
</form>
