<div id="action-menu" class="rb-action-menu">

<button class="btn btn-default btn-sm edit-btn" type="submit" title="<?echo tra('Edit document')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/document/document_edit.png" alt="<?echo tra('Edit')?>"/>
</button>

<button class="btn btn-default btn-sm marktosuppress-btn" type="submit" title="<?echo tra('Mark to suppress')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/document/markToSuppress.png" alt="<?echo tra('Mark to suppress')?>"/>
</button>

<button class="btn btn-default btn-sm unmarktosuppress-btn" type="submit" title="<?echo tra('Unmark to suppress')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/document/unMarkToSuppress.png" alt="<?echo tra('Unmark to suppress')?>"/>
</button>

<button class="btn btn-default btn-sm checkout-btn" type="submit" title="<?echo tra('CheckOut')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/document/document_out.png" alt="<?echo tra('CheckOut')?>" />
</button>

<button class="btn btn-default btn-sm chekin-btn" type="submit" title="<?echo tra('CheckIn')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/document/document_in.png" alt="<?echo tra('CheckIn')?>" />
</button>

<button class="btn btn-default btn-sm checkinandkeep-btn" type="submit" title="<?echo tra('Update')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/document/document_refresh.png" alt="<?echo tra('Update')?>" />
</button>

<button class="btn btn-default btn-sm checkinreset-btn" type="submit" title="<?echo tra('Reset')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/document/document_cancel.png" alt="<?echo tra('Reset')?>" />
</button>

<button class="btn btn-default btn-sm putinws-btn" type="submit" title="<?echo tra('Put in wildspace')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/document/document_read.png" alt="<?echo tra('Put in wildspace')?>" />
</button>

<button class="btn btn-default btn-sm move-btn" type="submit" title="<?echo tra('Move')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/document/document_move.png" alt="<?echo tra('Move')?>" />
</button>

<button class="btn btn-default btn-sm newversion-btn" type="submit" title="<?echo tra('Change indice')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/document/document_upindice.png" alt="<?echo tra('Change indice')?>" />
</button>

<button class="btn btn-default btn-sm runworkflow-btn" type="submit" title="<?echo tra('Change state')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/document/document_gear.png" alt="<?echo tra('Change state')?>" />
</button>

<button class="btn btn-default btn-sm lock-btn" type="submit" title="<?echo tra('Lock definitivly the document')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/lock.png" alt="<?echo tra('Lock')?>" />
</button>

<button class="btn btn-default btn-sm unlock-btn" type="submit" title="<?echo tra('Unlock the document')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/lock_open.png" alt="<?echo tra('Unlock')?>" />
</button>

<button class="btn btn-default btn-sm resetdoctype-btn" type="submit" title="<?echo tra('Recalculate the doctype')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/doctype/doctype_reset.png" alt="<?echo tra('Recalculate the doctype')?>" />
</button>

<button class="btn btn-default btn-sm archive-btn" type="submit" title="<?echo tra('To Archive')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/document/toarchive.png" alt="<?echo tra('To Archive')?>" />
</button>

<button class="btn btn-default refresh-btn" type="submit" title="<?echo tra('Refresh')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/refresh.png" alt="<?echo tra('Refresh')?>"/>
</button>

</div>
