<?php
echo $this->doctype();
$siteName= 'Ranchbe(ZF)';
$admin = false;
$logoUrl = $this->basePath().'/img/logo.png';

use Application\Model\Application;
use Rbplm\People;
use Application\Model\Acl;

$currentUser = People\CurrentUser::get();
if( isset($currentUser->appacl) && $currentUser->appacl->hasRight(Acl\Application::RIGHT_ADMIN)){
	$admin = true;
}

$baseurl = BASEURL;

$dateformat = str_replace('-Y','-yy', SHORT_DATE_FORMAT);
$dateformat = str_replace('d-','dd-', $dateformat);
$dateformat = str_replace('-m','-mm', $dateformat);
$this->dateformat = str_replace('%','',$dateformat);
?>

<html lang="fr">
<head>
<meta charset="<?php echo $charset?>">
<?php echo $this->headTitle($siteName)->setSeparator(' - ')->setAutoEscape(false) ?>

<?php echo $this->headMeta()
			->appendName('viewport', 'width=device-width, initial-scale=1.0')
			->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
?>

<!-- Les styles -->
<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.png'))
->prependStylesheet($this->basePath() . '/styles/default.css')
->prependStylesheet($this->basePath() . '/css/application.css')
->prependStylesheet($this->basePath() . '/js/jqueryui/themes/smoothness/jquery-ui.min.css')
->prependStylesheet($this->basePath() . '/bootstrap/css/bootstrap-theme.min.css')
->prependStylesheet($this->basePath() . '/bootstrap/css/bootstrap.min.css')
?>

<!-- Scripts -->
<?php echo $this->headScript()
->prependFile($this->basePath() . '/js/jqueryui/jquery-ui.min.js')
->prependFile($this->basePath() . '/js/jquery/jquery.min.js')
->appendFile($this->basePath() . '/js/jquery.editinplace.js')
->appendFile($this->basePath() . '/bootstrap/js/bootstrap.min.js')
->appendFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
->appendFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
->appendFile($this->basePath() . '/js/tinymce/tinymce.min.js')
->appendFile($this->basePath() . '/js/application.js')
->appendFile($this->basePath() . '/js/lib.js')
?>

<script>
document.baseurl = "<?php echo $baseurl?>";
var ranchbe = new ranchbe();

$(function() {
	ranchbe.init();
	$( ".datepicker" ).datepicker({
		showWeek: true,
		dateFormat:"<?php echo $dateformat?>",
		firstDay: 1
	});
	$( ".datepicker" ).datepicker( "option", $.datepicker.regional[ "fr" ] );
});
</script>

<style>
#rb-main {
	margin-top: 0px;
	margin: 0px;
}
#rb-body {
	margin: 5px;
}
</style>

</head>
<body>

<?php
$flash = \Rbs\Sys\FlashMessenger::get();

$rbFlashMessenger = array(
	'messages'=>array(),
	'errors'=>array(),
	'success'=>array(),
	'warnings'=>array(),
);

if( $flash->hasMessage() ){
	$rbFlashMessenger['messages'] = $flash->getMessages();
}
if( $flash->hasError() ){
	$rbFlashMessenger['errors'] = $flash->getErrors();
}
if( $flash->hasSuccess() ){
	$rbFlashMessenger['success'] = $flash->getSuccess();
}
if( $flash->hasWarning() ){
	$rbFlashMessenger['warnings'] = $flash->getWarnings();
}
$flash->clear();
?>

<div id="rb-main" class="container rb-main">

	<div class="rb-feedbacks">
	<?php foreach($rbFlashMessenger['errors'] as $error):?>
		<div class="alert alert-danger alert-dismissible fade in" role="alert"><?echo $error ?>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<?php endforeach;?>

	<?php foreach($rbFlashMessenger['messages'] as $message):?>
		<div class="alert alert-info alert-dismissible fade in" role="alert"><?echo $message ?>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<?php endforeach;?>

	<?php foreach($rbFlashMessenger['success'] as $success):?>
		<div class="alert alert-success alert-dismissible fade in" role="alert"><?echo  $success?>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<?php endforeach;?>

	<?php foreach($rbFlashMessenger['warnings'] as $warning):?>
		<div class="alert alert-warning alert-dismissible fade in" role="alert"><?echo $warning?>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<?php endforeach;?>
	</div>

	<div id="rb-top"></div>
	<div id="rb-body">
		<?php if($toolBar):?>
		<div id="BoiteActions"><?php echo $toolBar?></div>
		<?php endif?>

		<?php echo $this->content; ?>
	</div>
	<div id="rb-footer"><?php include 'module/Application/view/fragments/footer.phtml'?></div>
</div>
</body>
</html>
