<table class="normal table table-bordered">
	<tr>
		<td width="50%">
			<table class="normal table table-bordered table-striped">
				<thead><tr class="">
					<th class="heading" colspan="2">Basic properties</th>
				</tr></thead>
				<tbody>

				<tr class="transposeTable">
					<th class="title">Id</th>
					<td><?php echo $instance->getId()?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Uid</th>
					<td><?php echo $instance->getUid()?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Name</th>
					<td><?php echo $instance->getName()?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Number</th>
					<td><?php echo $instance->getNumber()?></td>
				</tr>

				<tr class="transposeTable">
					<th class="title">Designation</th>
					<td><?php echo $instance->description?></td>
				</tr>

				<tr class="transposeTable">
					<th class="title">Nomenclature</th>
					<td><?php echo $instance->nomenclature?></td>
				</tr>

				<tr class="transposeTable">
					<th class="title">Quantity</th>
					<td><?php echo $instance->quantity?></td>
				</tr>

				<tr class="transposeTable">
					<th class="title">of Product Id</th>
					<td><?php echo $instance->ofProductId?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">of Product Uid</th>
					<td><?php echo $instance->ofProductUid?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Context Id</th>
					<td><?php echo $instance->contextId?></td>
				</tr>

				<tr class="transposeTable">
					<th class="title">Type</th>
					<td><?php echo $instance->type?></td>
				</tr>


				<thead>
				<tr>
					<th class="heading" colspan="2">Physicals Properties</th>
				</tr>
				</thead>

				<tbody>
				<tr class="transposeTable">
					<th class="title">Position</th>
					<td><?php echo $instance->weight?></td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>
