<style>
tr.transposeTable>th{
	color:black;
}
th.title{
	width:200px;
}
</style>

<script>
$(function() {
	$(".tabs").tabs();
});
</script>

<?php
	if($instance) {
		$instanceId = $instance->getId();
		$number = $instance->getNumber();
		$description = $instance->description;
	}
	else if($product){
		$productId = $product->getId();
		$number = $product->getNumber();
		$description = $product->description;
	}
?>

<h3>
	Product	<?php echo $number?><br />
	<i><?php echo $description?></i>
</h3>


<div class="container-fluid rbgui-container" id="rb-instancedetail"
	data-productid=<?php echo $productId?> data-instanceid=<?php echo $instanceId?>>

	<div class="tabs">
		<ul>

		<?php if($instance) :?>
		<li><a href="#tab-instance">Instance</a></li>
		<?php endif?>

		<?php if($product) :?>
		<li><a href="#tab-product">Product</a></li>
		<?php endif?>

		<?php if($document) :?>
		<li><a href="#tab-document">Document</a></li>
		<?php endif?>
		</ul>

		<?php if($instance) :?>
		<div id="tab-instance">
		<?php include('module/Pdm/view/pdm/product-instance/detailfragment.phtml')?>
		</div>
		<?php endif?>

		<?php if($product) :?>
		<div id="tab-product">
		<?php include('module/Pdm/view/pdm/product-version/detailfragment.phtml')?>
		</div>
		<?php endif?>

		<?php if($document) :?>
		<div id="tab-document">
		<?php include('module/Ranchbe/view/document/detail/detailfragment.phtml')?>
		</div>
		<?php endif?>
	</div>
</div>
