<?php
$id = 'setReference';
$formId = $id.'-form';
?>

<script>
$(function(){
	$("select[name='fromobjectclass']").change(function(e){
		if($(this).val()=='productVersion'){
			$("#fromdocument").hide();
			$("#fromproduct").show();
		}
		else{
			$("#fromdocument").show();
			$("#fromproduct").hide();
		}

		$("select[name='fromobjectclass']")
	});

	$("#fromdocument").hide();
	$("#fromproduct").hide();

	$( ".productnumber-autocomplet" ).autocomplete({
		source: function( request, response ) {
			$.ajax({
				url: document.baseurl+"/pdm/productversion/search",
				type: "get",
				dataType: "json",
				data: {
					what: request.term,
					where:'number',
					select:['number', 'version'],
					op: 'begin'
				},
				success: function(data) {
					var reduceData=[];
					$.each(data, function(key){
						reduceData[key]=this.number+'.v'+this.version;
					});
					response(reduceData);
				}
			});
		},
		minLength: 3,
		select: function( event, ui ) {
			console.log( ui.item ? "Selected: " + ui.item.label : "Nothing selected, input was " + this.value);
		},
		open: function() {
			$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
		},
		close: function() {
			$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
		}
	});

	$( ".documentnumber-autocomplet" ).autocomplete({
		source: function( request, response ) {
			var spaceName = $("select[name='spacename']").val();
			console.log(spaceName);
			$.ajax({
				url: document.baseurl+"/document/service/search",
				type: "get",
				dataType: "json",
				data: {
					spacename: spaceName,
					what: request.term,
					where:'number',
					select:['number', 'version'],
					op: 'begin'
				},
				success: function(data) {
					var reduceData=[];
					$.each(data, function(key){
						reduceData[key]=this.number+'.v'+this.version;
					});
					response(reduceData);
				}
			});
		},
		minLength: 3,
		select: function( event, ui ) {
			console.log( ui.item ? "Selected: " + ui.item.label : "Nothing selected, input was " + this.value);
		},
		open: function() {
			$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
		},
		close: function() {
			$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
		}
	});

});
</script>

<style>
.panel-heading{
	padding-top:5px;
	padding-bottom:10px;
}
.panel-heading h1,h2,h3,h4{
	margin:5px;
}
</style>

<?php
$this->headTitle($pageTitle);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
?>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('instanceid'));
?>

<div class="panel panel-default">
	<div class="panel-heading" style="height:50px;">
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="center-block">
				<h1><?php echo $this->escapeHtml($pageTitle); ?></h1>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div class="panel panel-default rbp-wu-details">
			<div class="panel-heading"><h4></h4></div>
			<div class="panel-body" style="margin:15px;">
				<div class="row">
					<div class="col-md-4">
					<fieldset>
						<div class="form-group">
						<?echo $this->formRow($form->get('fromobjectclass'));?>
						</div>
					</fieldset>
					</div>

					<div class="col-md-4">
					<fieldset id="fromdocument">
						<div class="form-group">
						<?echo $this->formRow($form->get('spacename'));?>
						</div>
						<div class="form-group">
						<?echo $this->formRow($form->get('document'));?>
						</div>
					</fieldset>

					<fieldset id="fromproduct">
						<div class="form-group">
						<?echo $this->formRow($form->get('product'));?>
						</div>
					</fieldset>
					</div>
				</div>

				<div class="pull-right">
				<?php echo $this->formSubmit($form->get('cancel')
					->setAttribute('class', 'btn btn-default')
					);?>
				<?php echo $this->formSubmit($form->get('validate')
					->setAttribute('class', 'btn btn-success')
					);?>
				</div>
			</div>
		</div>
	</div>
</div>
<?php echo $this->form()->closeTag();?>

