<?
$pageTitle = 'Gestion des Refus Techniques';
?>
<div class="container-fluid rbgui-container">
	<h1 class="pagetitle"><?echo $pageTitle ?></h1>

	<div class="panel panel-default">
		<div class="panel-body">
			<a class="btn btn-default btn-xs" href="<?echo $baseurl?>/custom/rt/import/index">Enregistrer un refus technique</a>
			<a class="btn btn-default btn-xs" href="<?echo $baseurl?>/custom/rt/index/index">Voir les refus techniques</a>
			<a class="btn btn-default btn-xs" href="<?echo $baseurl?>/custom/rt/code/index">Codes des RTs</a>
		</div>
	</div>
</div>

<?
$pageTitle2 = 'Recherches';
?>
<div class="container-fluid rbgui-container">
	<h1 class="pagetitle"><?echo $pageTitle2 ?></h1>

	<div class="panel panel-default">
		<div class="panel-body">
			<a class="btn btn-default btn-xs" href="<?echo $baseurl?>/custom/aidememoire/index">Aides Memoires du Systeme Informatique</a>
			<a class="btn btn-default btn-xs" href="<?echo $baseurl?>/custom/docsier/index/index">DocSier</a>
			<a class="btn btn-default btn-xs" href="<?echo $baseurl?>/custom/airbusmanual/index/index">Normes et Documents Airbus</a>
		</div>
	</div>
</div>
