<?php
$this->headScript()->prependFile($baseurl . '/js/rb/rb.documentmanager.js');
?>

<script>
$(function() {
	var url = window.location.origin + window.location.pathname;
	var orderby="<? echo $orderby ?>";
	var order="<? echo $order ?>";
	var url=getUrlWithoutSort();
	initSortableHeader(orderby, order, url.url);
});
</script>

<div class="container-fluid rbgui-container">

<div class="panel panel-default">
	<div class="panel-body">
		<div id="page-bar">
			<a class="linkbut btn btn-default btn-xs rb-action manager" href="<?echo $baseurl?>/rbdocument/manager/index?spacename={$spacename}">
			Exit</a>
		</div>
	</div>
</div>

<h1 class="pagetitle"><? echo $pageTitle ?></h1>

<!-- -------------------- Fixed document -------------------------- -->
<?
if ($fixedDocument):
	include('module/Ged/view/ged/document/manager/fixeddocument.phtml');
endif;
?>

<!-- --------------------Search Bar defintion-------------------------- -->
<?if($filter):?>
<div class="panel panel-default">
<div class="panel-body">
<? echo $filter->render($this)?>
</div></div>
<?endif;?>

<div class="panel panel-default">
<?if($paginator):?>
	<div class="panel-heading panel-heading-pagination">
		<div class="text-center">
			<?php echo $paginator->render($this)?>
		</div>
	</div>
<?endif;?>

	<div class="panel-body">
	<form name="checkform" method="post" action="#">
		<?include('module/Ged/view/ged/document/manager/list1.phtml')?>
		<?include('module/Ged/view/ged/document/manager/gabysbar.phtml')?>
		<input type="hidden" name="spacename" value="<?echo $spacename?>">
		<input type="hidden" name="layout" value="<?echo $layout?>">
		<input type="hidden" name="basecamp" value="<?echo $basecamp?>">
	</form>
	</div>
</div>
</div>


