/* 
  $Header: /cvsroot/tikiwiki/tiki/styles/default2.css,v 1.64 2007-03-22 17:54:54 sylvieg Exp $
  default2.css
  (This theme is based on the) default2 style for Tiki 1.2
  If you want  a short-version CSS template, start by copying default2
  If you want to FULLY customize every aspect of Tiki, copy the subsilver CSS file
  Normally this (default2) is the file you want to adapt to produce a new theme
*/

body {
	background:    #EFEFE7;
	margin-top:   0px;
	margin-left:   0px;
	margin-bottom:   0px;
	margin-right:   0px;
}

/* GENERAL LAYOUT EXPLANATION
 *
 * The tiki application is enclosed as a whole in rb-main rb-main contains three divs: rb-top,
 * rb-body and rb-footerthat will be used for the header, application and footer.
 *
 * rb-body contains a 3-column table, the columns are called (ids) leftcolumn, centercolumn and rightcolumn
 * Finally centercolumn contains tiki-center where the main area of the application is displayed.
 *
 */

/********************************************* GENERAL LAYOUT *********************************************************/

/* This div encloses the whole Tiki application */
DIV#rb-main {
	background:    #EFEFE7;
	height:   100%;
	width:   100%;
	margin-top:   0px;
	margin-bottom:   0px;
	margin-right:   0px;
	margin-left:   0px;
}

/* This is the header */
DIV#rb-top {
	background:    #5A4A39;
	color:   white;
	padding-right:   0px;
	width:   100%;
}

DIV#rb-top > a {
	color:    white;
	text-decoration:   none;
}

/* This is the middle */
DIV#rb-body {
	background:    #EFEFE7;
	height:   auto;
	padding-bottom:   0px;
}

/* And this is the footer */
DIV#rb-footer {
	padding-top:    10px;
	margin-top:   0px;
	background:   #DED6C6;
	padding-bottom:   15px;
}

/* The three columns */
TD#leftcolumn {
	padding-left:    2px;
	padding-right:   2px;
	vertical-align:   top;
	background:   #DED6C6;
	width:   180px;
}

TD#rightcolumn {
	padding-left:    2px;
	vertical-align:   top;
	background:   #DED6C6;
	width:   180px;
}

TD#centercolumn {
	padding-right:    2px;
	background:   #EFEFE7;
	vertical-align:   top;
	padding : 0 7px;
}

/* And this is what lies inside the centercolumn */
DIV#tiki-center {
}

div#debugconsole {
	position:    absolute;
	background:   #DED6C6;
	color:   #009000;
	top:   0px;
	left:   20px;
	right:   310px;
	height:   auto;
	width:   auto;
	z-index:   1;
	padding:   5px;
	border:   6px ridge #5A4A39;
	font-size:   12px;
}

span.on-option {
	color: #00C000;
}

span.off-option {
	color: #005000;
}

/********************************************* GENERAL STYLE PROPERTIES **********************************************/

/* BOXES boxes are used to present a box with a title bar and content, they are used for modules and they
   are also used in the rankings, admin screen etc. 
   The box class is used for modules while the cbox class is used for other boxes
*/

/* Boxes used for modules (modules are those boxes in the left/right columns) */
div.box {
	background:    white;
	margin-left:   4px;
	margin-right:   4px;
	margin-top:   4px;
	margin-bottom:   10px;
	border:   1px solid black;
	padding-bottom:   10px;
	overflow:   hidden;
	width:   170px;
}

/* Boxes are divided in title and data, this is the title */
h3.box-title, span.box-titletext {
	background:    #B5A58C;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   13px;
	color:   black;
	font-weight:   bold;
	overflow:   hidden;
	text-align:   center;
	padding-left:   0px;
	padding-right:   0px;
	margin-bottom:   1px; margin-top: 0;
	width:   170px;
}

div.box-title > a, span.box-titletext > a {
	border-bottom:   1px solid black;
	text-decoration: underline;
	color: black;
}

div.box-title > a:hover, span.box-titletext > a:hover {
	color: white;
}

div.box-title table {
    width: 100%;
}

/* And this is the data */
div.box-data {
	overflow:    hidden;
	color:   black;
	background:   #FFFFFF;
	margin-left:   5px;
	margin-right:   5px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	width:   170px;
}

/* When modules display a list of items each item is enclosed in a cell with the following style */
TD.module {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	color:   black;
	text-align:   left;
}

/* Links in modules */
.linkmodule {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
}

.linkmodule:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
}

.linkmodule:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   underline;
	background:   #EEEEEE;
}

/* Now the boxes for the rest of Tiki (non-modules */
div.cbox {
	background:    white;
	margin-left:   4px;
	margin-right:   4px;
	margin-top:   4px;
	margin-bottom:   0px;
	border:   1px solid black;
	padding-bottom:   10px;
	overflow:   hidden;
	width:   99%;
}

/* Boxes are divided in title and data, this is the title */
div.cbox-title {
	background:    #B5A58C;
	color:   white;
	border-bottom:   1px solid black;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   13px;
	font-weight:   bold;
	overflow:   hidden;
	text-align:   center;
	padding-left:   0px;
	padding-right:   0px;
	margin-bottom:   0px;
	width:   100%;
}

/* When there's a link in a cbox-title */
.cboxtlink {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   white;
	text-decoration:   none;
}

.cboxtlink:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   white;
	text-decoration:   none;
}

.cboxtlink:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   #EFEFEF;
	text-decoration:   underline;
}

/* And this is the data */
div.cbox-data {
	overflow:    hidden;
	background:   white;
	margin-left:   5px;
	margin-right:   5px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	width:   99%;
}

/* Some boxes are identified by an ID, for example the  boxes in the main application menu, we set display to
   none to make the menu appear collapsed initially, change this to 'block' if you want it to be extended fully */

/* Menus */
/* Separators are used to separate menu areas in the application menu and user created menus*/
div.separator {
	background:    #DFDFDF;
	color:   #003163;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	margin-left:   2px;
	margin-right:   2px;
	margin-top:   6px;
	margin-bottom:   2px;
	width:   90%;
}

/* Links in menus */
.linkmenu, .rsslink, a.separator {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
}

.linkmenu:active, .rsslink:active, a.separator:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
}

.linkmenu:hover, .rsslink:hover, a.separator:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   underline;
	background:   #EFEFEF;
}

/* style for rss lists in modules or in wiki */
.rsslist {
  background: #ffffff;
  margin: 0;
  margin-right: 10px;
  padding: 1px;
  border: 1px solid #dadac9;
}
.rssitem {
  padding: 1px 6px 1px 6px;
  border-top: 1px dashed #dadac9;
}
.rssitem:first-child {
  border-top: 0;
}
.rssdate {
  color: #999999;
  font-style: italic;
}

/* Links to extend/collapse menus */
.separator {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	color:   black;
	text-decoration:   none;
}

.separator:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	color:   black;
	text-decoration:   none;
}

.separator:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	color:   black;
	text-decoration:   none;
}

/* Links to collapse menus for example the main menu can be completely collapsed*/
.flip {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   13px;
	color:   white;
	text-decoration:   none;
}

.flip:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   13px;
	color:   white;
	text-decoration:   none;
}

.flip:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   13px;
	color:   white;
	text-decoration:   none;
}

/* Banners of type text (textadds) are displayed as links using the following style */
.bannertext {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
}

.bannertext:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
}

.bannertext:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
}

/* Some boxes uses thumbnails this is the image style */
div.imagerank {
	margin-left:    5px;
	margin-right:   5px;
	margin-bottom:   10px;
	margin-top:   10px;
}

/* A simple box is just a div with a border around and some margin 
 * used for example in the admin screen */
div.simplebox {
	margin-left:    1px;
	margin-right:   1px;
	margin-top:   5px;
	margin-bottom:   5px;
	padding-left:   2px;
	padding-top:   2px;
	padding-bottom:   2px;
	padding-right:   2px;
	color:   black;
	border:   1px solid black;
	background:   white;
	width:   98%;
	font-family:   Verdana, Arial, Helvetica, sans-serif;
	font-size:   11px;
}

/* Prevent forms from generating unwanted padding or margins */
FORM {
	margin:    0px 0px 0px 0px;
	padding-bottom:   0px;
	padding-left:   0px;
	padding-right:   0px;
	padding-top:   0px;
}

/* General form elements */
input, textarea, select {
	color:    #000000;
	font-family:   Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

input {
	text-indent: 2px;
}

/* General tables */
/* These styles apply to tables used to display common listings such as the wiki page listing, last changes,
   listings in admin screens, etc. */

/* Cells where nothing is specified */
TD {
	color:    Black;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	vertical-align:   top;
}

/* Cells in forms without background color (inside a div for example) */
.form td {
	color:    Black;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	vertical-align:   top;
	text-align:   left;
}
/* Cells in forms using a background color */
.formcolor td, 
.galform td, 
.editblogform td, 
.editfgalform td, 
.comform td, 
.forumform td {
	color:    Black;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	background:   #DED6C6;
	font-size:   11px;
	vertical-align:   top;
	text-align:   left;
}

/* The table */
table.listgallery, table.creategalform, TABLE.normal, table.gallerylisting, table.bloglist, table.editblogform, table.editfgalform,
	table.listfgal, table.listfiles, table.listarticles, table.forumstable, table.forumformtable, table.viewthread, table.jukeboxlist {
	border-color:    #5A4A39;
	border-style:   solid;
	border-width:   1px;
	width:   97%;
}

TABLE.normalnoborder {
	width: 97%;
}

/* Table headings */
TD.heading, td.gallistheading, td.listgalheading, td.bloglistheading, td.listfgalheading, td.listfilesheading, td.listartheading,
	td.forumheading, td.viewthread, td.jukeboxlistheading  {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	color:   white;
	font-size:   11px;
	font-weight:   bold;
	background:   #5a4a39;
	padding-left:   2px;
	padding-right:   5px;
}

th, th.gallistheading, th.listgalheading, th.bloglistheading, th.listfgalheading, th.listfilesheading, th.listartheading,
	th.forumheading, th.viewthread, th.jukeboxlistheading  {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	color:   white;
	font-size:   11px;
	font-weight:   bold;
	background:   #5a4a39;
	padding-left:   2px;
	padding-right:   5px;
}

TD.button {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	color:   white;
	font-size:   11px;
	font-weight:   bold;
	background:   #5a4a39;
	padding-left:   2px;
	padding-right:   5px;
	text-align:   center;
	vertical-align:   middle;
}

/* Links to view an object from a table listing objects can be generalized to this link */
a.tablename, a.galname, a.imagename, a.jukeboxname, a.blogname, a.fgalname, a.artname, a.forumname {
	font-weight:    bold;
	font-size:   12px;
	letter-spacing:   1px;
	color:   black;
	text-decoration:   none;
}

a.tablename:active, a.galname:active, a.imagename:active, a.jukeboxname:active, a.blogname:active, a.fgalname:active, a.artname:active,
	a.forumname:active {
	color:   black;
	text-decoration:   none;
}

a.tablename:hover, a.galname:hover, a.imagename:hover, a.blogname:hover, a.jukeboxname:hover, a.fgalname:hover, a.artname:hover, a.forumname:hover {
	text-decoration: underline;
}

a.forumnameread {
	font-size:    12px;
	letter-spacing:   1px;
	color:   black;
	text-decoration:   none;
}

a.forumnameread:hover {
	text-decoration: underline;
}

/* Links in table headings */
.tableheading, .gallistheading, .listgalheading, .bloglistheading, .llisfgalheading, .llistfileslink, .llistart, .lforumheading {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	color:   white;
	font-size:   11px;
	font-weight:   bold;
	text-decoration:   none;
}

.tableheading:active, .gallistheading:active, .listgalheading:active, .bloglistheading:active, .llisfgalheading:active, .llistfileslink:active, .llistart:active, .lforumheading:active {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	color:   white;
	font-size:   11px;
	font-weight:   bold;
	text-decoration:   none;
}

.tableheading:hover, gallistheading:hover, .listgalheading:hover, .bloglistheading:hover, .llisfgalheading:hover, .llistfileslink:hover, .llistart:hover, .lforumheading:hover {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	color:   #CCCCCC;
	font-size:   11px;
	font-weight:   bold;
	text-decoration:   none;
}

/* When a find button is provided for a listing the table form is displayed in a table with the following style */
table.findtable {
	width:    97%;
	margin-bottom:   20px;
	padding-bottom:   10px;
}

.findtable td {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   11px;
}

/* Odd rows in several listings */
tr.odd {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   Black;
	background:   #EFEFEF;
	vertical-align:   top;
	text-align:   left;
}
tr.odd:hover {
background: #FFF7E6;
}
tr.even {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   Black;
	background:   #CCCCCC;
	vertical-align:   top;
	text-align:   left;
}
tr.even:hover {
background: #FFF7E6;
}

TD.odd, td.gallistnameodd, td.gallistdescriptionodd, td.gallistcreatedodd, td.gallistlastModifodd, td.gallistuserodd, td.gallistimagesodd, td.gallisthitsodd, td.gallistactionsodd, td.listgalidodd, td.listgalnameodd, td.listgalcreatedodd, td.listgalhitsodd, td.listgaluserodd, td.listgalfilesizeodd, td.bloglistnameodd, td.bloglistdescriptionodd, td.bloglistcreatedodd, td.bloglistlastModifodd, td.bloglistuserodd, td.bloglistpublicodd, td.bloglistpostsodd, td.bloglistvisitsodd, td.bloglistactivityodd, td.bloglistactionsodd, td.listfgalnameodd, td.listfgaldescriptionodd, td.listfgalcreatedodd, td.listfgallastModifodd, td.listfgaluserodd, td.listfgalfilesodd, td.listfgalvisitsodd, td.listfgalactionsodd, td.listfilesnameodd, td.listfilesdescriptionodd, td.listfilesidodd, td.listfilesfilenameodd, td.listfilesfilesizeodd, td.listfilescreatedodd, td.listfilesdlsodd, td.listfilesnameodd, td.listfilesuserodd, td.listfilesactionsodd, td.listarttitleodd, td.listarttopicodd, td.listartpublishDateodd, td.listartauthorodd, td.listartreadsodd, td.listarthasimageodd, td.listartuseimageodd, td.listartactionsodd, td.listartsizeodd, td.forumstableodd, td.forumstableinfoodd, td.topictitleodd, td.topicrepliesodd, td.topicreadsodd, td.topicscoreodd, td.topiclastpostodd, td.topicauthorodd,td.jukeboxlistnameodd, td.jukeboxdescriptionodd, td.jukeboxcreatedodd, td.jukeboxlastmodifodd, td.jukeboxlistuserodd, td.jukeboxlisttracksodd, td.jukeboxlistvisitsodd {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   Black;
	background:   #EFEFEF;
	vertical-align:   top;
	text-align:   left;
}

/* Even rows in several listings */
TD.even, td.gallistnameeven, td.gallistdescriptioneven, td.gallistcreatedeven, td.gallistlastModifeven, td.gallistusereven, td.gallistimageseven, td.gallisthitseven, td.gallistactionseven, td.listgalideven, td.listgalnameeven, td.listgalcreatedeven, td.listgalhitseven, td.listgalusereven, td.listgalfilesizeeven, td.bloglistnameeven, td.bloglistdescriptioneven, td.bloglistcreatedeven, td.bloglistlastModifeven, td.bloglistusereven, td.bloglistpubliceven, td.bloglistpostseven, td.bloglistvisitseven, td.bloglistactivityeven, td.bloglistactionseven, td.listfgalnameeven, td.listfgaldescriptioneven, td.listfgalcreatedeven, td.listfgallastModifeven, td.listfgalusereven, td.listfgalfileseven, td.listfgalvisitseven, td.listfgalactionseven, td.listfilesnameeven, td.listfilesdescriptioneven, td.listfilesideven, td.listfilesfilenameeven, td.listfilesfilesizeeven, td.listfilescreatedeven, td.listfilesdlseven, td.listfilesnameeven, td.listfilesusereven, td.listfilesactionseven, td.listarttitleeven, td.listarttopiceven, td.listartpublishDateeven, td.listartauthoreven, td.listartreadseven, td.listarthasimageeven, td.listartuseimageeven, td.listartactionseven, td.listartsizeeven, td.forumstableeven, td.forumstableinfoeven, td.topictitleeven, td.topicreplieseven, td.topicreadseven, td.topicscoreeven, td.topiclastposteven, td.topicauthoreven,td.jukeboxlistnameeven, td.jukeboxdescriptioneven, td.jukeboxcreatedeven, td.jukeboxlastmodifeven, td.jukeboxlistusereven, td.jukeboxlisttrackseven, td.jukeboxlistvisitseven {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	background:   white;
	color:   Black;
	vertical-align:   top;
	text-align:   left;
}

TD.third {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   Black;
	background:   #CCCCCC;
	vertical-align:   top;
	text-align:   left;
}

/* Titles */
/* When the page title is a link this is the style */
.pagetitle, .forumspagetitle {
	font-weight:    bold;
	font-size:   26px;
	font-family:   "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color:   black;
}

a.pagetitle, a.forumspagetitle {
	font-weight:    bold;
	font-size:   26px;
	font-family:   "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-decoration:   none;
	color:   black;
}

a.pagetitle:hover, a.forumspagetitle:hover {
	font-weight:    bold;
	font-size:   26px;
	font-family:   "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-decoration:   underline;
	color:   black;
}

/* Non-linking titles (three levels) */
H1 {
	font-weight:    bold;
	font-size:   26px;
	font-family:   "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color:   black;
}

H2 {
	font-weight:    bold;
	font-size:   22px;
	font-family:   "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color:   black;
}

H3 {
	font-weight:    bold;
	font-size:   20px;
	font-family:   "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color:   black;
}

/* Links where no special link style apply (usually with the general application background) */
.link, .gallink, .jukeboxlink, .bloglink, .fgallink, .trailer, .opencomlink, .commentslink, .admlink, .forumbutlink {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
}

.link:active, .gallink:active, .jukeboxlink:active, .bloglink:active, .fgallink:active, .trailer:active, .opencomlink:active, .commentslink:active, .admlink:active, .forumbutlink:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
}

.link:hover, .gallink:hover, .bloglink:hover, .jukeboxlink:hover, .fgallink:hover, .trailer:hover, .opencomlink:hover, .commentslink:hover, .admlink:hover, .forumbutlink:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   underline;
}

/* Search results display a date using the following style*/
div.searchdate {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	color:   #333333;
}

/* Pagination for listings */
.mini {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	color:   Black;
}

/* prev & next buttons in pagination */
.prevnext, .jukeboxprevnext, .galprevnext, .blogprevnext, .fgalprevnext, .artprevnext, .forumprevnext {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   black;
}

.prevnext:active, .galprevnext:active, .jukeboxprevnext:active, .blogprevnext:active, .fgalprevnext:active, .artprevnext:active, .forumprevnext:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   black;
}

.prevnext:hover, .galprevnext:hover, .blogprevnext:hover, .jukeboxprevnext:hover, .fgalprevnext:hover, .artprevnext:hover, .forumprevnext:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   black;
	background:   #EFEFEF;
}

/* Warning background/color */
span.warn {
	color: red;
}

/***********************************************  THE WIKI ***********************************************************/
div.titlebar {
	background:    #B5A58C;
	color:   white;
	border:   1px solid white;
	padding-left:   1px;
	padding-right:   1px;
	padding-top:   1px;
	padding-bottom:   1px;
	margin:   1px 1px;
	width:   99%;
	clear:   both;
	font-weight:   bold;
}

/* The bar where the actions for a page are displayed */
DIV#page-bar {
	margin-left: 5px;
}

/* Wiki action buttons (the buttons displayed at the end of each page to edit/print/remove/etc a page */
.button2, .button3 {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	color:   Black;
	font-weight:   bold;
	background:   white;
	border:   1px solid black;
	padding-left:   0.1em;
	padding-right:   0.1em;
	padding-top:   0.1em;
	padding-bottom:   0.1em;
	margin:   0.0ex 0px;
}
.button3 {
  -moz-border-radius : 5px 5px 0 0;
}
.button3 .linkbut {
  border-radius : 5px 5px 0 0;
  -moz-border-radius : 5px 5px 0 0;
  -khtml-border-radius : 5px 5px 0 0;
  padding-bottom : 2px;
  border-bottom : 0;
}

/* Links in buttons */
.linkbut {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	background:   white;
	text-decoration:   none;
}

.linkbut:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	background:   white;
	color:   black;
	text-decoration:   none;
}

.linkbut:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	background:   #CCCCCC;
	text-decoration:   underline;
}

/* When a cached version of an external link is displayed */
div.cache {
	background:    #EFEFEF;
	border:   1px solid black;
	padding-left:   0.1em;
	padding-right:   0.1em;
	padding-top:   0.1em;
	padding-bottom:   0.1em;
	margin:   0.1ex 0px;
	width:   100%;
}

div.cachedpage {
	border:    1px solid black;
	padding-left:   0.1em;
	padding-right:   0.1em;
	padding-top:   0.1em;
	padding-bottom:   0.1em;
	margin:   0.1ex 0px;
	width:   100%;
}

/* When an external link is cached a small link to the cached version (cache) is displayed using this style */
.wikicache {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	color:   #0000AA;
	text-decoration:   none;
}

.wikicache:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	color:   #0000AA;
	text-decoration:   none;
}

.wikicache:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	color:   #0000FF;
	text-decoration:   none;
}

table.wikitable {
	border: 1px solid black;
}

td.wikicell {
	background: #EFEFEF;
}

/* Text in wiki pages is displayed using the following style */
.wikitext {
	background:    white;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   13px;
	border:   1px solid black;
	padding-left:   1px;
	padding-right:   1px;
	padding-top:   1px;
	padding-bottom:   1px;
	margin-left:   1px;
	margin-right:   1px;
	margin-top:   5px;
	margin-bottom:   5px;
	width:   100%;
	clear:   both;
}
body.wikitext {
	border : 0;
}
}.wikitopline table{ width: 100%; }

/* Links to wiki pages */
body.wikitext a, .wiki {
	color: black !important;
}

body.wikitext a:hover, .wiki:hover {
	color:    black;
	background:   #EFEFEF;
}

/* Date displayed for last modification date of pages */
p.editdate {
	color:    black;
	font-size:   smaller;
	font-family:   "Lucida Grande", Helvetica, Arial, sans-serif;
}
#description {
  font-size : 10px !important;
  padding-left:   10px;
  color:   #333300;
}
/* The edit-help used to display the wiki syntax when editing a page */
div.wiki-edithelp {
	background:    white;
	border:   1px solid black;
	font-size:   smaller;
	padding:   6pt;
}

/******************************************************* IMAGE GALLERIES **********************************************/
TABLE.galtable {
        border-collapse: collapse;
        width: 100%;
}

/* Gallery description */
div.galdesc {
	background:    #EFEFEF;
	border:   1px solid black;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	margin:   0.5ex 0px;
	width:   97%;
	clear:   both;
}

/* Container for the whole gallery */
div.browsegallery {
	background:    #EFEFE7;
	width:   100%;
}

/* You can set a different background color for odd and even rows in the thumbnails table */
/* Thumbnails in odd rows are shown inside oddthumb tds */
TD.oddthumb {
	background: white;
}

TD.eventhumb {
	background: #EFEFEF;
}

/* Gallery Title */
div.gallerytitle {
	font-weight:    bold;
	font-size:   26px;
	font-family:   "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color:   black;
}

div.adminoptions {
	margin-top:    5px;
	margin-bottom:   5px;
	padding-top:   10px;
	padding-bottom:   10px;
}

div.sortoptions {
	margin-top:    5px;
	margin-bottom:   5px;
	padding-top:   10px;
	padding-bottom:   10px;
}

span.sorttitle {
}

span.sortoptions {
}

/* Container for thumbnails */
div.thumbnails {
	border:    1px solid Black;
	margin-top:   10px;
	margin-bottom:   10px;
}

/* Thumbnails images */
img.athumb {
	border: 1px solid Silver;
}

.caption {
}

/* No records found text  (displayed in the table when no records */
p.norecords {
	font-weight: bold;
}

/* Browsing an image */
table.imageinfo {
	border-color:    black;
	border-style:   solid;
	border-width:   1px;
	width:   98%;
}

td.imageinfo {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   Black;
	background:   #DED6C6;
	vertical-align:   top;
	text-align:   left;
}

/* The whole container for the browse image screen (may be useful for a fancy background) */
div.browseimage {
	background:    #EFEFE7;
	width:   100%;
}

div.imagetitle {
	font-weight:    bold;
	font-size:   26px;
	font-family:   "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color:   black;
}

div.gallerylink {
}

div.showimage {
	text-align:    center;
	margin-top:   5px;
	margin-bottom:   5px;
}

div.imageinfo {
	text-align:    center;
	margin-top:   10px;
	margin-bottom:   10px;
}

td.imageinfo {
}

table.tableinfo {
	text-align: center;
}

div.linksinfo {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	color:   Black;
	text-align:   center;
	border:   1px solid black;
	margin-top:   10px;
	margin-bottom:   10px;
}

/******************************************************* WEBLOGS **********************************************************/

/* The header of a weblog post */
div.posthead {
	background:    #B5A58C;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   13px;
	color:   white;
	font-weight:   bold;
	overflow:   hidden;
	border:   1px solid black;
	border-bottom:   0px;
	text-align:   center;
	padding-left:   0px;
	padding-right:   0px;
	margin-bottom:   0px;
}

/* The font used in the heading of the weblog */
span.posthead {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   13px;
	font-weight:   bold;
	color:   white;
}

/* Links in the weblog post heading (edit/remove) */
/* When there's a link in a cbox-title */
.blogt {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   white;
	text-decoration:   none;
}

.blogt:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   white;
	text-decoration:   none;
}

.blogt:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   white;
	text-decoration:   underline;
}

/* The post body */
div.postbody {
	overflow:    hidden;
	background:   white;
	border:   1px solid black;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	padding-left:   5px;
	padding-top:   5px;
	padding-bottom:   5px;
	margin-bottom:   10px;
}

/* The weblog title */
div.blogtitle {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	color:   white;
	font-size:   11px;
	font-weight:   bold;
	font-size:   18px;
	background:   #5a4a39;
	padding-left:   2px;
	padding-right:   5px;
	margin-top:   10px;
	border:   1px solid black;
	border-bottom:   0px;
}

/* The weblog information */
div.bloginfo {
	background:    white;
	border:   1px solid black;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	margin-bottom:   10px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	clear:   both;
}

/* Weblog description */
div.blogdesc {
	background:    white;
	border:   1px solid black;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	margin-bottom:   10px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	clear:   both;
}

/* Links to post/edit/rss feed for the webelog are contained inside this div */
div.blogtools {
	background:    white;
	border:   1px solid black;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	margin-bottom:   10px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	clear:   both;
}

/**************************************************** FILE GALLERIES ****************************************************/

/* Listing contents of a file gallery (listing files) */
div.fgaldesc {
	background:    #EFEFEF;
	border:   1px solid black;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	margin:   0.5ex 0px;
	width:   97%;
	clear:   both;
}

/****************************************************** CMS ***************************************************************/

/* The article title bar */
div.articletitle {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	color:   white;
	font-size:   11px;
	font-weight:   bold;
	background:   #B5A58C;
	border:   1px solid black;
	border-bottom:   0px;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	margin-top:   5px;
	clear:   both;
}

/* The article heading */
div.articleheading {
	background:    white;
	border:   1px solid black;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	border-bottom:   0px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	clear:   both;
}

div.articletrailer {
	background:    white;
	border:   1px solid black;
	border-bottom:   1px solid black;
	border-top:   thin solid blue;
	margin-bottom:   20px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	clear:   both;
}

/* Text in the article heading */
div.articleheadingtext {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	display: inline;
}

/* The body */
div.articlebody {
	background:    white;
	border:   1px solid black;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	margin:   10px 0px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	clear:   both;
}

/* The article title */
span.titlea {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   18px;
	font-weight:   bold;
}

/* The author, date and number of reads */
span.titleb {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
}

/* The trailer */
span.trailer {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	font-weight:   bold;
}

/******************************************************* CALENDAR **********************************************************/

/* LINKS TO DAYS IN THE CALENDAR */
.day {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	text-decoration:   none;
	color:   black;
}

.day:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	text-decoration:   none;
	color:   black;
}

.day:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	color:   black;
	background:   #CCCCCC;
	text-decoration:   none;
}

.day:link {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	text-decoration:   none;
	color:   black;
}

.day:visited {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	text-decoration:   none;
	color:   black;
}

/* LINKS FOR TODAY */
.today {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	text-decoration:   none;
	color:   black;
	font-weight:   bold;
	text-decoration:   none;
}

.today:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	text-decoration:   none;
	color:   black;
	font-weight:   bold;
	text-decoration:   none;
}

.today:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	color:   black;
	text-decoration:   none;
	font-weight:   bold;
	background:   #CCCCCC;
}

/* Links to change month, year or go to today */
.nav {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	text-decoration:   none;
	color:   black;
	font-weight:   bold;
	text-decoration:   none;
}

.nav:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	text-decoration:   none;
	color:   black;
	font-weight:   bold;
	text-decoration:   none;
}

.nav:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	color:   black;
	text-decoration:   none;
	font-weight:   bold;
	background:   #CCCCCC;
}

.changedate {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   8px;
	background:   white;
	color:   black;
	font-weight:   bold;
}

.date {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   9px;
	background:   white;
	color:   Black;
	font-weight:   bold;
}

/*************************************************** COMMENTS **************************************************************/

/* The whole comment area when it is visible and when it is not */
#comzone {
	display:    none;
	margin-left:   1px;
	margin-right:   1px;
	margin-top:   5px;
	margin-bottom:   5px;
	padding-left:   2px;
	padding-right:   2px;
}

#comzoneopen {
	display:    block;
	margin-left:   1px;
	margin-right:   1px;
	margin-top:   5px;
	margin-bottom:   5px;
	padding-left:   2px;
	padding-right:   2px;
}

/* Post comment form */
div.commentspost {
	display:    inherit;
	border:   1px solid black;
	margin-top:   10px;
	margin-right:   10px;
	padding-right:   0px;
	padding-top:   0px;
	padding-bottom:   0px;
	margin-bottom:   10px;
	width:   99%;
}

/* Help box*/
div.commentsedithelp {
	background:    white;
	border:   1px solid black;
	font-size:   smaller;
	width:   99%;
}

/* The toolbar where the ordering number of comments and find box are found */
div.commentstoolbar {
	background:    #B5A58C;
	color:   black;
	margin-bottom:   20px;
	width:   97%;
	border:   1px solid black;
	padding-top:   2px;
	padding-left:   2px;
}
/* The comment title */
span.commentstitle {
	font-weight:    bold;
	font-size:   12px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	width:   98%;
}

/* The comment */
div.commentscomment {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	margin-bottom:   20px;
	width:   97%;
}
/* The header for a comment */
div.commentheader {
	background:    #BBBBBB;
	border:   0px solid blue;
	font-size:   11px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	width:   97%;
}

/* The text */
div.commenttext {
	font-size:    11px;
	margin-left:   5px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	width:   97%;
}

/* Links in the comment header */
.commentshlink {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
}

.commentshlink:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
}

.commentshlink:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   underline;
}

.comments .normal {
	width: 100%;
}
/************************************************************ CHAT *********************************************************/
table.chatroom {
	border-color:    #5A4A39;
	border-style:   solid;
	border-width:   2px;
	width:   98%;
}

td.chatchannels {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	background:   #EFEFEF;
	font-size:   11px;
	color:   black;
}

td.chatarea {
	padding-left:    0px;
	margin-left:   0px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	background:   #FFFFFF;
}

table.chatform {
	border-color:    #00639C;
	border-style:   solid;
	border-width:   2px;
	width:   98%;
	border-top:   0px;
}

td.tdchatform {
	color:    Black;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	background:   #EFEFEF;
	font-size:   11px;
	vertical-align:   top;
	text-align:   left;
}

span.chnormal {
	color:    red;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
}

span.chuser {
	color:    blue;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	font-weight:   bold;
}

/********************************************************** POLLS ********************************************************/
div.pollresults {
	background:    white;
	border:   1px solid black;
	width:   98%;
	margin-top:   5px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   14px;
	padding-left:   5px;
}

table.pollresults {
	width: 97%;
}

td.pollr {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
}
/* MODULES */

/***************************************************** FORUMS *****************************************************/

/* Title for the forums page */
div.forumspagetitle {
	margin-top:    10px;
	margin-bottom:   40px;
}

table.threads {
	width: 97%;
}

td.viewthreadl {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   11px;
	background:   #EFEFEF;
	height:   30px;
	vertical-align:   top;
}

td.viewthreadr {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   11px;
	background:   #EFEFEF;
	height:   30px;
	vertical-align:   top;
}

/* Cells for the threads table */
td.threadsevenl {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   12px;
	background:   #EFEFEF;
	vertical-align:   top;
}

td.threadsevenr {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   13px;
	background:   #EFEFEF;
	vertical-align:   top;
}

td.threadsoddl {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   12px;
	background:   #DDDDDD;
	vertical-align:   top;
}

td.threadsoddr {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   13px;
	background:   #DDDDDD;
	vertical-align:   top;
}

td.threadseparator {
	background:    #EEEEEE;
	height:   5px;
}

#forumpost {
	display: none;
}

#forumpostopen {
	display: block;
}

div.forumtoolbar {
	background:    #B5A58C;
	width:   98%;
	margin-bottom:   20px;
	border:   0px;
}

td.forumtoolbar {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	color:   black;
	font-size:   11px;
	font-weight:   bold;
	text-decoration:   none;
	vertical-align:   bottom;
}

.toolbarlink {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	color:   white;
	font-size:   11px;
	font-weight:   bold;
	text-decoration:   none;
}

.toolbarlink:active {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	color:   white;
	font-size:   11px;
	font-weight:   bold;
	text-decoration:   none;
}

.toolbarlink:hover {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	color:   #CCCCCC;
	font-size:   11px;
	font-weight:   bold;
	text-decoration:   none;
}

/* Links to vote */
.forumvotelink {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   black;
}

.forumvotelink:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   black;
}

.forumvotelink:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   black;
}

/************************************************ CATEGORIES **************************************************************/
table.tcategpath {
	margin-bottom:    40px;
	border-color:   #5A4A39;
	border-style:   solid;
	border-width:   1px;
	width:   97%;
}

/* Table containing the category path */
td.tdcategpath {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	color:   white;
	font-size:   13px;
	font-weight:   bold;
	background:   #B5A58C;
	padding-left:   2px;
	margin:   0px;
	border-spacing:   0px;
	padding-right:   5px;
}

/* Links to up/top categories */
.categpath {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   #578308;
	text-decoration:   none;
}

.categpath:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   #578308;
	text-decoration:   none;
}

.categpath:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   #578308;
	text-decoration:   none;
}

/* Table with the subcategories */
table.subcats {
	padding-top:    20px;
	padding-bottom:   20px;
	width:   97%;
	border-spacing:   0px;
	padding-right:   0px;
	margin-bottom:   10px;
	border-color:   black;
	border-style:   solid;
	border-width:   1px;
}

td.tdsubcat {
	width: 25%;
}

/* Links to subcategories */
.categlink {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
	font-weight:   bold;
}

.categlink:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
	font-weight:   bold;
}

.categlink:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   underline;
	font-weight:   bold;
}

table.catobjects {
	width:    97%;
	border-spacing:   0px;
	padding-right:   0px;
	margin-bottom:   10px;
	border-color:   black;
	border-style:   solid;
	border-width:   0px;
}

td.categobjectsnameeven, td.categobjectsnameodd {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	background:   #DED6C6;
}

td.categobjectsdataeven, td.categobjectsdataodd {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	background:   #DED6C6;
}

.catname {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
}

.catname:active {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   none;
}

.catname:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	color:   black;
	text-decoration:   underline;
}

/***************************************************** FAQS **************************************************************/
/* The list of questions */
div.faqlistquestions {
	background:    #FFFFFF;
	color:   black;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	border:   1px solid black;
	width:   98%;
	padding-top:   5px;
	padding-bottom:   5px;
}

/* Container for question-answer block */
div.faqqa {
	background:    #DED6C6;
	color:   black;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	width:   97%;
	border:   1px solid black;
	margin-bottom:   20px;
	padding-top:   5px;
	padding-bottom:   5px;
	padding-left:   5px;
}

/* The question */
div.faqquestion {
	margin-bottom:    5px;
	font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	width:   97%;
}

/* The answer */
div.faqanswer {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	width:   97%;
}

/***************************************************** QUIZZES **************************************************************/
div.questionblock {
	border:    1px solid black;
	background:   white;
	margin-bottom:   10px;
}

div.quizquestion {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	margin-bottom:   5px;
}

div.quizoptions {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
}

div.quizdescription {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	border:   1px solid black;
	background:   white;
	margin-bottom:   10px;
}

div.quizanswer {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	border:   1px solid black;
	background:   white;
	margin-bottom:   10px;
}

/***************************************************** SHOUTBOX **************************************************************/
div.shoutboxmsg {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	border:   1px solid black;
	background:   white;
	margin-bottom:   0px;
	padding-left:   2px;
	padding-top:   1px;
	padding-bottom:   1px;
}

div.shoutboxmodmsg {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	margin-bottom:   4px;
	padding-left:   2px;
	padding-top:   1px;
	padding-bottom:   1px;
	width: 95%;
}

textarea.tshoutbox {
	background:    white;
	border-bottom:   #5e5d63 1px solid;
	border-left:   #5e5d63 1px solid;
	border-right:   #5e5d63 1px solid;
	border-top:   #5e5d63 1px solid;
	color:   #000000;
	font-family:   verdana, tahoma, arial, helvetica, sans-serif;
	font-size:   10px;
}

/*************************************************** WIKI TOCS ***************************************************/
div.tocnav {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	background:   #EFEFEF;
	padding-bottom:   5px;
	padding-top:   5px;
	margin-bottom:   2px;
}

.tocnavlink {
	color:    black;
	text-decoration:   none;
}

.tocnavlink:hover {
	color:    black;
	background:   #EFEFEF;
	text-decoration:   none;
}

/*************************************************** DIRECTORY ***************************************************/
/* The list of categories */
div.dircategs {
	border:    0.5px solid black;
	padding-bottom:   5px;
	padding-top:   5px;
	padding-left:   5px;
}

/* Links to categories */
.dirlink {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   black;
	text-decoration:   underline;
	font-weight:   bold;
}

.dirlink:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   #636363;
	text-decoration:   underline;
	font-weight:   bold;
}

/* Links to subcategories */
.dirsublink {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	color:   black;
	text-decoration:   underline;
}

.dirsublink:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	color:   #636363;
	text-decoration:   underline;
}

/* The list of sites in any category */
div.dirlistsites {
	background:    white;
	padding-left:   5px;
	padding-top:   5px;
	padding-bottom:   10px;
	border:   0.5px solid black;
	margin-top:   10px;
	width:   100%;
}

/* each site in the list of sites */
div.dirsite {
	background:    #EFEFEF;
	margin-bottom:   10px;
}

span.dirsitedesc {
}

span.dirsitetrail {
	font-size: 10px;
}

span.dirsitecats {
}

/* Links to sites */
.dirsitelink {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   black;
	text-decoration:   underline;
}

.dirsitelink:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:   #636363;
	text-decoration:   underline;
}

/* Related categories */
div.dirrelated {
	background:    White;
	margin-top:   10px;
	border:   0.5px solid black;
	padding-top:   5px;
	padding-bottom:   5px;
	padding-left:   5px;
	margin-left:   5px;
}

/* Footer with stats for the directory */
td.dirfooter {
	font-size: 9px;
}

div.dirfooter {
	margin-top:    10px;
	border:   1px solid black;
}

/*************************************************** MESSAGES ***************************************************/
/* Links for priority colors */
td.prio1 {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	padding-left:   2px;
	background:   #DAD0D0;
}

td.prio2 {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	padding-left:   2px;
	background:   #DAC0C0;
}

td.prio3 {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	padding-left:   2px;
	background:   #DABABA;
}

td.prio4 {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	padding-left:   2px;
	background:   #DAAAAA;
}

td.prio5 {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   11px;
	padding-left:   2px;
	background:   #DA8A8A;
}

/* Div containing links to flag/unflag messages when reading a message */
div.messureadflag {
	background:    #CCCCCC;
	padding-left:   5px;
}

/* Header when reading a message */
div.messureadhead {
	background:    #DEDEDE;
	margin-top:   2px;
}

/* Message body when reading */
div.messureadbody {
	margin-top: 5px;
}

/* Links to read emails (the subject in the mailbox listing) */
.readlink {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	color:   black;
	text-decoration:   underline;
}

.readlink:hover {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   10px;
	color:   #636363;
	text-decoration:   underline;
}

/* calendar styles */
#calendar
{
width:100%;
}

.Cal0, .Cal1, .Cal2 {
	border-top:    1px dashed #cccccc;
	color:   #425262;
	font-size:   10px;
	padding-right:   0px;
}

.Cal0:before {
	content: "? ";
}

.Cal1:before {
	content:    "+ ";
	background:   #FFCC77;
}

.Cal2:before {
	content:    "X ";
	background:   #eeeeaa;
}
/* misc cal styles */
.caltitle {
	font-weight:    bold;
	color:   #425262;
}

.caltab {
	padding-left:    10px;
	padding-right:   10px;
	border:   1px solid #666666;
	border-bottom:   2px solid #aeaeae;
	margin-right:   6px;
}

a.caltab {
	text-decoration:    none;
	font-weight:   bold;
	font-size:   11px;
	background:   #dedede;
}

a.caltab:hover {
	background:    #efefaf;
	border-bottom:   2px solid #dedede;
}

.caltabon {
	padding-left:    10px;
	padding-right:   10px;
	background:   #ffffff;
	border:   1px solid #666666;
	border-bottom:   2px solid #FFFFFF;
	margin-right:   6px;
}

a.caltabon {
	text-decoration:    none;
	font-weight:   bold;
	font-size:   11px;
}

a.caltabon:hover {
	background: transparent;
}

div#tab, div#tabcal, div#tabnav {
	margin-top:    10px;
	margin-left:   30px;
}

div#tab {
	margin-bottom: 1px;
}

div.tabcal, div.tabnav {
	padding:    10px;
	background:   #ffffff;
	border:   1px solid #666666;
	border-bottom:   1px solid #aeaeae;
	font-size:   11px;
}

/* checkboxes background is required for rollover display */
.calcheckbox {
	background: #ffffff;
}

.caltoggle {
	font-size:    9px;
	margin-bottom:   7px;
}

/* style of the popup background in case of transparent styles */
#opaque {
	background: #ffffff;
}

.calfocus {
	font-size:    7px;
	background:   transparent;
}

.calfocus a {
	text-decoration: none;
}

.calfocuson {
	font-size:    7px;
	background:   #f3e498;
}

.calfocuson a {
	text-decoration: none;
}

.Calwiki {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
	margin-top:   0;
}

.Calwiki a {
	color: #443F39;
}

.Calwiki:before {
	content:    "w";
	font-family:   monospace;
	background:   #ffffff;
}

.Calblog {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calblog a {
	color: #443039;
}

.Calblog:before {
	content:    "b";
	font-family:   monospace;
	background:   #ffffff;
}

.Calgal {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calgal a {
	color: #303F49;
}

.Calgal:before {
	content:    "i";
	font-family:   monospace;
	background:   #ffffff;
}

.Calart {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calart a {
	color: #304F30;
}

.Calart:before {
	content:    "a";
	font-family:   monospace;
	background:   #ffffff;
}

.Calforum {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calforum a {
	color: #304F30;
}

.Calforum:before {
	content:    "o";
	font-family:   monospace;
	background:   #ffffff;
}

.Caldir {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Caldir a {
	color: #304F30;
}

.Caldir:before {
	content:    "d";
	font-family:   monospace;
	background:   #ffffff;
}

.Calfgal {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calfgal a {
	color: #304F30;
}

.Calfgal:before {
	content:    "f";
	font-family:   monospace;
	background:   #ffffff;
}

.Calfaq {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calfaq a {
	color: #304F30;
}

.Calfaq:before {
	content:    "q";
	font-family:   monospace;
	background:   #ffffff;
}

.Calquiz {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calquiz a {
	color: #304F30;
}

.Calquiz:before {
	content:    "z";
	font-family:   monospace;
	background:   #ffffff;
}

.Caltrack {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Caltrack a {
	color: #304F30;
}

.Caltrack:before {
	content:    "t";
	font-family:   monospace;
	background:   #ffffff;
}

.Calsurv {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calsurv a {
	color: #304F30;
}

.Calsurv:before {
	content:    "s";
	font-family:   monospace;
	background:   #ffffff;
}

.Calnl {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calnl a {
	color: #304F30;
}

.Calnl:before {
	content:    "n";
	font-family:   monospace;
	background:   #ffffff;
}

.Caleph {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Caleph a {
	color: #304F30;
}

.Caleph:before {
	content:    "e";
	font-family:   monospace;
	background:   #ffffff;
}

.Calchart {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calchart a {
	color: #304F30;
}

.Calchart:before {
	content:    "c";
	font-family:   monospace;
	background:   #ffffff;
}


.calweb {
	font-weight:    bold;
	font-size:   10px;
	text-decoration:   none;
	padding-left:   3px;
	padding-right:   3px;
	color:   #336699;
}

.calweb:hover {
	color: #996633;
}

.calprio1 {
	background: #DAE0E0;
}

.calprio2 {
	background: #DADCDC;
}

.calprio3 {
	background: #DAD0D0;
}

.calprio4 {
	background: #DACACA;
}

.calprio5 {
	background: #DAC0D0;
}

.calprio6 {
	background: #DABABA;
}

.calprio7 {
	background: #DAB0B0;
}

.calprio8 {
	background: #DAAAAA;
}

.calprio9 {
	background: #DA9A9A;
}
div.tabrow {
	margin-left: 29px;
	background: #efefef;
	border: 1px solid #787878;
	border-bottom: 0;
	font-size: 11px;
}
td.middle {
	vertical-align: middle; 
}
.daterow {
  padding : 0 5px;
  border : 1px outset #ddd;
  background-color : #ddd;
}
.daterow:hover {
  background-color : #fff;
  cursor : pointer;
}
.daterow:active {
  border : 1px inset #ddd;
}
.mininotes {
	font-size: 80%;
	color:#666666;
}
.opaque
{
	background: #ffffff;
	width: auto;
	border: 1px solid #666666;
	padding: 1px; 
}
.opaque .box-title,
.opaque, .box-data 
{
	width: auto;
}
.calcontent {
	min-height: 60px;
}
.viewmodeon {
	padding-left:   0px;
	padding-right:   0px;
}
.viewmodeoff {
	padding-left:   0px;
	padding-right:   0px;
}
a.viewmodeon img {
	margin: 0;
padding: 0;
}
a.viewmodeoff img {
	margin: 0;
padding: 0;
}
#caltable {
	width: 100%;
}

/*
 * help zone
 */

div#edithelpzone {
	display: none;
}

div#attzone {
	display:    none;
	margin-top:   10px;
}

div#attzoneopen {
	display:    block;
	margin-top:   10px;
}

.highlight {
	background:    #FFAAAA;
	color:   #000000;
}

/*
 * Caption in tables.
 * Currently in Attachments and comments only.
 */
caption {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   11px;
	font-weight:   bold;
	text-align:   right;
}

/* trees */
div.tree {
	text-align:    left;
	padding-left:   1.5em;
}
/* Root of tree (outer div) */
div.tree#top {
	border:    1px solid #000000;
	padding:   10px 1.5em 20px 1.5em;
}

/* Wiki editpage textarea */
textarea.wikiedit {
	width: 100%;
}
/* help links style */
a.tikihelp, a.tikihelp:visited {
	color:    inherit;
	border:   inherit;
	background-color:   inherit;
	font-size:   inherit;
	font-weight:   inherit;
	margin:   inherit;
	padding:   inherit;
	text-decoration:   inherit;
	vertical-align: text-top;
}

a.tikihelp:hover {
	color:    #224466;
	border:   inherit;
	background-color:   inherit;
	font-size:   inherit;
	font-weight:   inherit;
	margin:   inherit;
	padding:   inherit;
	cursor:   help;
	text-decoration:   inherit;
	vertical-align: text-top;
}
.catblock {
  border: 1px solid #aaaaaa;
}
.catlists {
  border-top: 1px solid #ffffff;
  padding: 1px 6px 1px 6px;
  background: transparent;
  color: #666666;
}
.catlists:last-child {
  border-bottom: 1px solid #ffffff;
}
.catlists:hover {
  background: #dedede;
}
.cattitle {
  color: #000000;
  font-weight: bold;
}
.catlists a.link {
  color: #666666;
  padding: 0px 4px 0px 4px;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
}
.catlists a.link:hover {
  color: #000000;
} 
/* TikiIntegrator: By default copy rules dialog not shown */
div#rules-copy-panel {
    display: none;
}

/*
** JsCalendar wrapper
*/
#datrigger {
  border: 2px outset #666666;
  padding: 1px 3px 1px 5px;
  margin: 2px;
  cursor: pointer;
  font-weight:bold;
}

table.commentinfo { width: 100%; background: #FFF7E6; }
div#loadstats {
  background: #dedede;
  font-size: 70%;
  color: #666666;
  padding: 5px;
}

/* phplayers style */
.box-data table {
  width: 100%;
}

.mdkhorbar      {
}

.horbar {
  margin-left: 10px;
}

.horbaritem a {
  font-size: 10px;
  text-decoration: none;
  color: white;
}

.harbaritem a:visited {
  text-decoration: underline;
}

.horbaritem a:hover {
  background: gray;
  text-decoration: none;
}

.mdkhorbaritem  {
  float: left;
  white-space: nowrap;
  font-size: 10px;
}

.mdkhorbaritem a        {
  display: block;
  text-decoration: none;
}

.mdkhorbaritem a:link   {
}

.mdkhorbaritem a:visited        {
}

.mdkhorbaritem a:hover  {
}

.mdkhorbaritem a:active {
}

.mdkverbar  {
  margin: 0px;
}

.mdksubmenu {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  background: #FFFFFF;
  visibility: hidden;
}

.mdksubmenu table {
  width: auto;
}

.mdksubframe  {
  z-index: 1000;
  position: relative;
  display: block;
  border: 1px solid #000000;
}

.mdkitem  {
  border-top: 1px solid #dedede;
  position: relative;
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
  color: black;
}

.mdkitem a  {
  padding: 2px 5px 2px 5px;
  position: relative;
  display: block;
  text-decoration: none;
  color: black;
}

.mdkitem a:visited  {
}

.mdkitem a:hover  {
  text-decoration: underline;
  background: #eee;
}

.mdkitem a:active {
  color: #993300;
}

.mdkitem .mdkfwdarr {
  position: absolute;
  top: 5px;
  right: 12px;
}

/* TOC */
.toc {
}
.toc li {
  margin-top: 3px;
}
.tocnav {
  background: #ededed;
  margin-bottom: 16px;
}
.tocnav table {
  width: 100%;
  background: #ffffff;
}
.tocnav a {
  font-size: 90%;
  color: #424242;
}

/* for jscalendar */
.calendar {
  z-index: 200;
}

/* TikiIntegrator: By default copy rules dialog not shown */
div#rules-copy-panel {
    display: none;
}

/* ASSORTED  */

#clear {
	clear:both;
	}
	
/* admin screen tables */
TABLE.admin {
  width: 100%;
}

/* tiki tabs */

.tabmark {
	display: inline;
	font-size: 85%;
	background: #dddddd;
	border: 1px solid #666666;
	margin: 0px;
	margin-right: 5px;
	padding: 1px 0px 1px 0px;
	border-radius : 5px 5px 0 0;
	-moz-border-radius : 5px 5px 0 0;  
	-khtml-border-radius : 5px 5px 0 0;
}
.tabmark a { 
	border-radius : 5px 5px 0 0;
	-moz-border-radius : 5px 5px 0 0; 
	-khtml-border-radius : 5px 5px 0 0;
	border-bottom : 0; 
	color: #666666;
	font-weight: 700 !important;
	padding: 1px 5px 1px 5px;
}
.tabmark a:active {
	background: white;
	color: red;
}
.tabmark a:hover {
	color: black;
	background: #CCCCCC;
}

.tabcontent {
	z-index : 200;
	position: relative;
	border: 1px solid #999999;
	padding: 6px 2px 2px 2px;
	margin-bottom: 25px;
	background: #eeeeee;
	border-radius: 0px 4px 4px 4px;
	-moz-border-radius: 0px 4px 4px 4px;
	-khtml-border-radius: 0px 4px 4px 4px;
	width: 100%;
}

/* trackers specific style */

.statuson {
  padding: 1px;
  margin: 1px;
  border: 1px inset #666666;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  vertical-align: middle;
  background: #bbaa99;
}
.statusoff {
  padding: 1px;
  margin: 2px;
  vertical-align: middle;
}

/**** coloration for c o d e plugin *****/
.codelisting 
{ font-family : monospace;
 padding : 2ex;
 background : #C0C0C0;
  margin : 1ex;
   border : 1px dashed #adacaf; }

/* Version Plugin Style */

.versions {
border-top : 1px dashed #999999;
border-bottom : 1px dashed #999999;
min-height : 142px;
}
.versionav {
display : inline;
float : right;
border-left : 1px dashed #999999;
}
.versionav .button2 {
display : block;
border : 0;
border-bottom : 1px dashed #999999;
background : transparent;
}
.versionav .button2 .linkbut {
border : 0;
background-color : inherit;
padding : 0 10px;
}
.versionav .highlight {
background : #cccccc;
font-weight : bold;
}
.versiontitle {
font-weight : bold;
border-bottom : 1px dashed #999999;
border-left : 1px dashed #999999;
padding : 2px 30px;
float : right;
}

/* wiki diff styles */
.diff div{border-top: 1px solid black}
.diffheader{background:#a9b8c2; font-weight: bold;}
.diffadded {background:#ccffcc;}
.diffdeleted {background:#ffcccc;}
.diffinldel {background:#ffcccc; text-decoration: line-through;}
.diffbody{background:#F2F4F5}
.diffchar {color: red;}

/**** coloration for QUOTE plugin *****/
.quoteheader {
margin: 10px 5px 0px 5px;
padding: 4px;
border-width: 1px 1px 0px 1px;
border-style: solid;
border-color: #A9B8C2;
color: black;
font-weight: bold;
background-color: #A9B8C2;
font-size: 8pt;
}
.quotebody {
margin: 0px 5px 10px 5px;
padding: 5px;
border-color: #A9B8C2;
border-width: 0px 1px 1px 1px;
border-style: solid;
color: black;
background-color: #edeeef;
}

/* tiki-admin menu */
div.admbox {
  border: 2px solid #B5A58C; height: 100px; width: 100px;
  text-align: center; float: left; margin: 5px;
  background-color: white;
}
div.admbox:hover { background-color: #DFDFDF; }
div.admbox img { margin-top: 20px; }

.tellafriend {text-align:right;}

.highlight_word_0{color:black;background-color: #ffff66;}
.highlight_word_1{color:black;background-color: #ff9999;}
.highlight_word_2{color:black;background-color: #A0FFFF;}
.highlight_word_3{color:black;background-color: #ff66ff;}
.highlight_word_4{color:black;background-color: #99ff99;}

/* Lists in modules */
.box-data ol,
.box-data ul {margin-left: -1em;padding-right: 1em}
/* IE */
* html .box-data ol {	margin-left: 3em;}
* html .box-data ul {	margin-left: 2em;}
/* IE7 */
*:first-child+html .box-data ol {margin-left: 3em}
*:first-child+html .box-data ul {margin-left: 2em;}

/* Module-flip img */

h3.box-title {
	position: relative;
}

.box a.flipmodtitle img {
	display: block;
	position: absolute;
	right: 2px;
	top: 2px;
	border: 1px solid transparent;
}

a.flipmodtitle:hover img {
	border: 1px solid #efefe7 !important;
}
/* end of css file */
