/* CSS Document */

/**********Mark selected lines of table***********/
table tr.marked th,table tr.marked {
	background: rgb(185, 234, 159);
	color: White;
}
/**********End mark selected lines of table***********/

/* General tables */

/* Cells in forms without background color (inside a div for example) */
.form td {
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	vertical-align: top;
	text-align: left;
}

/* Odd rows in several listings */
tr.odd {
	border-color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Black;
	background-color: #DCDCDC;
	vertical-align: top;
	text-align: left;
}

tr.odd:hover {
	background-color: #FFF7E6;
}

tr.even {
	border-color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: white;
	color: Black;
	vertical-align: top;
	text-align: left;
}

tr.even:hover {
	background-color: #FFF7E6;
}

td.odd {
	border-color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Black;
	background-color: #DCDCDC;
	vertical-align: top;
	text-align: left;
}
/* Even rows in several listings */
td.even {
	border-color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: white;
	color: Black;
	vertical-align: top;
	text-align: left;
}