<script>
$(function(){
	var url = window.location.origin + window.location.pathname;
	var currentOrderby="<?php echo $orderby?>";
	var currentOrder="<?php echo $order?>";
	var baseurl = "<?php echo $baseurl?>";

	var url=getUrlWithoutSort();
	initSortableHeader(currentOrderby, currentOrder, url.url);

	$(".delete-btn").click(function(){
		if(confirm('<?php echo tra('Do you want really suppress this doctype?')?>')){
			var url = document.baseurl+'/ged/doctype/delete';
			$("form[name='checkform']").attr('action', url);
			$("form[name='checkform']").submit();
		}
		return false;
	});

	$(".refresh-btn").click(function(){
		document.location.reload(true);
		return false;
	});
});
</script>

<div id="page-bar" class="panel panel-default"><div class="panel-body">
	<a class="btn btn-default btn-xs" href="<?php echo $baseurl?>/ged/doctype/create"><?echo tra('Create')?></a>
</div></div>

<h1 class="pagetitle"><?php echo $pageTitle?></h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<? echo $filter->render($this)?>
</div></div>

<div class="panel panel-default">
<div class="panel-heading">
<?php echo $paginator->render($this)?>
</div>

<div class="panel-body">

<!-- --------------------list header------------------------------------>
<form name="checkform" method="post" action="#">
<table class="normal table table-bordered">
<thead><tr>
<th class="heading auto">
<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
<div id="displaySelectedRowCount">0</div>
</th>
<th class="heading auto"></th>

<th class="heading sortable" data-field="name"><?echo tra('Name')?></th>
<th class="heading sortable" data-field="description"><?echo tra('Designation')?></th>

<th class="heading"><p>Scripts</p>
<span class="heading sortable" data-field="scriptPreStore"><?echo tra('Pre Store')?></span> /
<span class="heading sortable" data-field="scriptPostStore"><?echo tra('Post Store')?></span> /
<span class="heading sortable" data-field="scriptPreUpdate"><?echo tra('Pre Update')?></span> /
<span class="heading sortable" data-field="scriptPostUpdate"><?echo tra('Post Update')?></span>
</th>

<th class="heading sortable" data-field="recognitionRegexp"><?echo tra('Regex')?></th>
<th class="heading sortable" data-field="fileType"><?echo tra('File Type')?></th>
<th class="heading sortable" data-field="fileExtensions"><?echo tra('File Extensions')?></th>
<th class="heading"><?echo tra('Icon')?></th>
<th class="heading sortable" data-field="mayBeComposite"><?echo tra('May Be Composite')?></th>
<th class="heading sortable" data-field="visuFileExtension"><?echo tra('Visu File Type')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';?>
<tr class="<?echo $cycle?>">
	<td class="selectable"><input type="checkbox" name="checked[]" value="<?php echo $item['id']?>"/></td>

	<td>
	<a href="<?php echo $baseurl?>/ged/doctype/edit?doctypeid=<?php echo $item['id']?>" title="<?echo tra('edit')?>">
	<img alt="<?echo tra('edit')?>" src="<?php echo $baseurl?>/img/icons/edit.png" /></a></td>

	<td class="selectable"><?php echo $item['name']?></td>
	<td class="selectable"><?php echo $item['description']?></td>

	<td class="selectable">
	<?php echo $item['scriptPreStore']?><br />
	<?php echo $item['scriptPostStore']?><br />
	<?php echo $item['scriptPreUpdate']?><br />
	<?php echo $item['scriptPostUpdate']?><br />
	</td>

	<td class="selectable"><?php echo $item['recognitionRegexp']?></td>
	<td class="selectable"><?php echo $item['fileType']?></td>
	<td class="selectable"><?php echo $item['fileExtensions']?></td>
	<td class="selectable"><i><?php echo $item['icon']?></i><br />
		<img alt="icon is missing" src="<?php echo $doctypeSrcIconBaseUrl?>/<?php echo $item['icon']?>" />
	</td>
	<td class="selectable">
		<?php
		($item['mayBeComposite'] == 1) ? $e = tra('Yes') : $e = tra('No');
		echo $e;
		?>
	</td>
	<td class="selectable"><?php echo $item['visuFileExtension']?></td>
</tr>
<?php endforeach;?>
</tbody>
</table>

<button class="delete-btn btn btn-default btn-sm" type="submit" name="action" value="suppress" title="<?echo tra('Delete')?>">
<img class="icon" src="<?php echo $baseurl?>/img/icons/trash.png" alt="<?echo tra('Delete')?>" />
</button>

</form>
</div></div>

