<?php
use Rbplm\People;
$siteName= 'Process';
$currentUser = People\CurrentUser::get();
$username = $currentUser->getLogin();
$logoUrl = $this->basePath('img/logo.png');
?>

<script>
$(function(){
	var orderby = "<?php echo $orderby?>";
	var order = "<?php echo $order?>";
	var url = "<?php echo $_SERVER['REDIRECT_URL']?>";
	initSortableHeader(orderby, order, url);
});

function goInto(id){
	var url = "<?php echo $this->url('process', array('action'=>'editgraph'))?>"+id;
	window.open(url,"_self");
}

function newMajor(id){
	var url = "<?php echo $this->url('process', array('action'=>'newmajor'))?>"+id;
	window.open(url,"_self");
}

function newMinor(id){
	var url = "<?php echo $this->url('process', array('action'=>'newminor'))?>"+id;
	window.open(url,"_self");
}

function importProcess(){
	var url = "<?php echo $this->url('process', array('action'=>'import'))?>";
	window.open(url,"_self");
}

function exportProcess(id){
	var url = "<?php echo $this->url('process', array('action'=>'export'))?>"+id;
	window.open(url,"_self");
}

function editProcess(id){
	var url = "<?php echo $this->url('process', array('action'=>'edit'))?>"+id;
	window.open(url,"_self");
}

function editGraph(id){
	var url = "<?php echo $this->url('process', array('action'=>'editgraph'))?>"+id;
	window.open(url,"_self");
}

function editScripts(id){
	var url = "<?php echo $this->url('process', array('action'=>'editscripts'))?>"+id;
	window.open(url,"_self");
}

function getInstances(id){
	var url = "<?php echo $this->url('instance', array('action'=>'index'))?>"+id;
	window.open(url,"_self");
}

function deleteProcess(id){
	var ok = confirm('Are you Sure?');
	if(ok == true){
		$url = "<?php echo $this->url('process', array('action'=>'delete'))?>"+id;
		window.open($url,"_self");
	}
}
</script>

<?php
function displaylist($headers, $list, $view, $mode='consult'){
	$currentUser = People\CurrentUser::get();
?>

<table class="normal table table-bordered">
<thead><tr>
		<?php
		foreach($headers as $h=>$p):
			echo '<th data-field="'.$p.'" class="sortable"><span class="glyphicon"></span>'.$h.'</th>';
		endforeach;
		echo '<th></th>';
		?>
	</tr></thead>
	<tbody>
		<?php
		foreach($list as $item):
			($cycle=='even') ? $cycle='odd': $cycle='even';
			$id = $item['id'];
			$uid = $item['uid'];
			echo "<tr class=$cycle>";
			foreach($headers as $h=>$p):
				echo '<td>'.$item[$p].'</td>';
			endforeach;
			?>
			<td nowrap style="width:95px;">
				<div class="btn-group btn-group-xs project-btn" role="group" aria-label="...">

					<button type="button" class="btn btn-default enter-btn" id="enter-btn" data-id="<?php echo $id?>" onclick="editGraph(<?php echo $id ?>);">
						<?php echo $view->translate('Graph') ?>
					</button>

					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" class="btn-default edit-btn" onclick="editProcess(<?php echo $id ?>);">
								<?php echo $view->translate('Edit') ?>
							</a>
						</li>
						<li>
							<a href="#" class="btn-default newmajor-btn" onclick="newMajor(<?php echo $id ?>);">
								<?php echo $view->translate('New Major') ?>
							</a>
						</li>
						<li>
							<a href="#" class="btn-default newminor-btn" onclick="newMinor(<?php echo $id ?>);">
								<?php echo $view->translate('New Minor') ?>
							</a>
						</li>
						<li>
							<a href="#" class="btn-default getinstances-btn" onclick="getInstances(<?php echo $id ?>);">
								<?php echo $view->translate('Get Instances') ?>
							</a>
						</li>
						<li>
							<a href="#" class="btn-default export-btn" onclick="exportProcess(<?php echo $id ?>);">
								<?php echo $view->translate('Export') ?>
							</a>
						</li>

						<li>
							<a href="#" class="btn-danger delete-btn" onclick="deleteProcess(<?php echo $id ?>);">
								<?php echo $view->translate('Delete') ?>
							</a>
						</li>
					</ul>
				</div>
			</td>
			<?php
			echo '</tr>';
		endforeach;
		?>
</tbody>
</table>
<?php } ?>

<div class="jumbotron">
	<h1>
		<img src="<?php echo $logoUrl?>" />
		<?php echo sprintf($this->translate('%s'.$siteName.'%s'), '<span class="">', '</span>') ?>
	</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading" style="height:42px;">
			</div>

			<div class="panel-body">
				<div class="">
					<div class="panel-filter" style="padding:0;margin:2px;position:absolute;left:20px;top:0px;">
						<?php echo $this->filter->render($this)?>
					</div>
					<div class="panel-pagination" style="padding:0;margin:2px;position:absolute;left:600px;top:0px;">
						<?php echo $this->paginator->render($this)?>
					</div>
				</div>


				<?php displaylist($headers, $list, $this); ?>
				<p>
					<a class="btn btn-success add-btn pull-left"
						href="<?php echo $this->url('process', array('action'=>'create'))?>">
						<?php echo $this->translate('Add') ?>
					</a>

					<a class="btn btn-success import-btn pull-left"
						href="<?php echo $this->url('process', array('action'=>'import'))?>">
						<?php echo $this->translate('Import') ?>
					</a>

					<a class="btn btn-success getAllInstances-btn pull-left"
						href="<?php echo $this->url('instance', array('action'=>'index'))?>">
						<?php echo $this->translate('Get Instances') ?>
					</a>

				</p>
			</div>
		</div>
	</div>
</div>
