<?php
$this->headScript()->appendFile($this->basePath() . '/js/jstree/jstree.min.js')
	->appendFile($this->basePath() . '/js/layout/jquery.layout.min.js');
$this->headLink()->appendStylesheet($this->basePath() . '/js/jstree/themes/default/style.min.css')
	->appendStylesheet($this->basePath() . '/css/layout-default.css');
?>

<style>
.jstree-anchor{
	color:black;
}
</style>

<script>
/**
 * Function to get and submit form from Ranche
 */
function myAjaxFormGetter(myGetterUrl, ajaxdata, formId)
{
	$.ajax({
		type: 'get',
		async: false,
		url: myGetterUrl,
		data: ajaxdata,
		error: function(jqXHR, textStatus, errorThrown){
			alert('Error during get: ' + textStatus);
		},
		success: function(data, textStatus, jqXHR){
			$("#content-wrapper").html(data);
			/* Set submit handler to ajax */
			$(formId).submit(function(e){
				e.preventDefault();
				var saveddata = $(formId + " :input").serializeArray();
				console.log(data);
				$.ajax({
					type: 'post',
					async: false,
					url: myGetterUrl,
					data: saveddata,
					error: function(jqXHR, textStatus, errorThrown){
						alert('Error during save: ' + textStatus);
					},
					success: function(data, textStatus, jqXHR){
						console.log(textStatus);
					}
				});
				return false;
				});
		}
	});
}

$(function(){
	$('#wrapper').layout();

	var jstreeRef = $('#tree');

	jstreeRef.jstree({
		'core' : {
			'data' : {
				'url' : document.baseurl+"/pdm/productinstance/loadtree",
				'data' : function (node) {
					//init root product load
					if(node.parent==null){
						return {parentid:'#', 'productid':<?php echo $rootProduct->getId()?>};
					}
					//load children of the root product, data is product Version
					else if(node.parent=="#"){
						return {parentid: node.data.id};
					}
					//load a product, data is product instance, load from product version id
					else if(node.type=="product"){
						return {parentid: node.data.ofProductId};
					}
					//load a part, data is product instance
					else if(node.type=="part"){
						return {parentid: node.id};
					}
				}
			},
			'check_callback' : true,
			'themes' : {
				'responsive' : true
			}
		},
		'themes': {
			'theme': "default",
			'dots': true,
			'icons': true
		},
		"types" : {
			"root" : { "icon" : "glyphicon glyphicon-cog", "valid_children" : ["product"] },
			"default" : { "valid_children" : ["default","part","product"], "icon" : "glyphicon glyphicon-tree-deciduous"},
			"part" : { "icon" : "glyphicon glyphicon-cog", "valid_children" : []},
			"product" : { "icon" : "glyphicon glyphicon-tree-deciduous", "valid_children" : ["product", "part"]}
		},
		'force_text' : true,
		'plugins' : ['state','dnd','types','contextmenu', 'themes'],
		'contextmenu':{
			'select_node': false,
			'items': {
				'createpart' : {
					'label' : "Create Part",
					'icon': "glyphicon glyphicon-cog",
					'action' : function(e){
						var ref = jstreeRef.jstree(true);
						var selected = ref.get_selected();
						if(!selected.length) {
							return false;
						}
						id = selected[0];
						newId = ref.create_node(id, {"type":"part"});
						if(newId) {
							/* Init data object */
							var node = ref.get_node(newId);
							node.data = {};
							ref.edit(newId);
						}
					}
				},
				'createproduct' : {
					'label' : "Create Product",
					'icon': "glyphicon glyphicon-tree-deciduous",
					'action' : function(e){
						var ref = jstreeRef.jstree(true);
						var selected = ref.get_selected();
						if(!selected.length) {
							return false;
						}
						id = selected[0];
						newId = ref.create_node(id, {"type":"product"});
						if(newId) {
							/* Init data object */
							var node = ref.get_node(newId);
							node.data = {};
							ref.edit(newId);
						}
					}
				},
				'setreference' : {
					'label' : "Set Reference",
					'icon': "glyphicon glyphicon-tree-deciduous",
					'action' : function(e){
						var ref = jstreeRef.jstree(true);
						var selected = ref.get_selected();
						if(!selected.length) {
							return false;
						}
						nodeId = selected[0];
						var item = ref.get_node(nodeId);
						var spaceName = item.data.spaceName;

						if(item.parent == "#"){
							var productId = item.data.id;
							var instanceId = null;
						}
						else{
							var productId = item.data.ofProductId;
							var instanceId = item.data.id;
							if(typeof instanceId == 'undefined'){
								alert("This items is not saved and may not be set");
							}
						}

						/* get data from ajax query */
						var myGetterUrl = document.baseurl+"/pdm/productinstance/setreference";
						var ajaxdata = {
							'instanceid':instanceId,
							'productid':productId,
							'spacename':spaceName,
						};
						$.ajax({
							type: 'get',
							async: false,
							url: myGetterUrl,
							data: ajaxdata,
							dataType: 'html',
							error: function(jqXHR, textStatus, errorThrown){
								alert('Error during request: ' + textStatus);
							},
							success: function(data, textStatus, jqXHR){
								$("#content-wrapper").html(data);
								var formId = '#setReference-form';
								$(formId + " [name='cancel']").hide();
								$(formId + " [name='validate']").click(function(e){
									e.preventDefault();
									var saveddata = $(formId + " :input").serializeArray();
									console.log(data);
									$.ajax({
										type: 'post',
										async: false,
										url: myGetterUrl,
										data: saveddata,
										error: function(jqXHR, textStatus, errorThrown){
											alert('Error during save: ' + textStatus);
										},
										success: function(data, textStatus, jqXHR){
											console.log(textStatus);
										}
									});
									return false;
								});
							}
						});
					}
				},
				'rename' : {
					'label': "Rename",
					'icon': "glyphicon glyphicon-pencil",
					'action' : function(e){
						var ref = jstreeRef.jstree(true);
						var selected = ref.get_selected();
						if(!selected.length) {
							return false;
						}
						id = selected[0];
						ref.edit(id);
					}
				},
				'delete' : {
					'label': "Delete",
					'icon': "glyphicon glyphicon-remove",
					'action' : function(e){
						var ref = jstreeRef.jstree(true);
						var selected = ref.get_selected();
						if(!selected.length) {
							return false;
						}
						var id = selected[0];
						ref.delete_node(id);
					}
				},
				'save' : {
					'label': "Save",
					'icon': "glyphicon glyphicon-floppy-save",
					'action' : function(e){
						var ref = jstreeRef.jstree(true);
						var selected = ref.get_selected();
						if(!selected.length) {
							return false;
						}

						var id = selected[0];
						var item = ref.get_node(id);
						var parentId = ref.get_parent(id);
						var parentProductId="";
						if(parentId != "#"){
							var parentNode = ref.get_node(parentId);
							var parentProductId = parentNode.data.id;
						}
						if(typeof parentProductId == 'undefined'){
							alert("Parent of this node must be save before");
							return false;
						}

						/* Serialize the tree */
						var treeJsonData = ref.get_json(id);
						console.log(treeJsonData);
						/* Put data to ranchbe */
						var myGetterUrl = document.baseurl+"/pdm/productinstance/savetree";
						$.ajax({
							type: 'post',
							dataType: 'json',
							async: false,
							url: myGetterUrl,
							data: {'tree':JSON.stringify(treeJsonData), 'parentid':parentProductId},
							error: function(jqXHR, textStatus, errorThrown){
								alert('Error during document get: ' + textStatus);
							},
							success: function(data, textStatus, jqXHR){
								console.log(data);
								$("#content-wrapper").html(data);

								//Update tree data
								var node = ref.get_node(data.previousId);
								$(node).attr("id", data.id);
								node.data = data.data;

								$.each(data.children, function(key){
									var node = ref.get_node(this.previousId);
									$('#tree').jstree(true).set_id(node,this.id);
									node.data = this.data;
									console.log(node);
								})
							}
						});
					}
				}
			}
		},
	});

	function getProperties(jstreeRef, nodeId){
		var ref = jstreeRef.jstree(true);
		var item = ref.get_node(nodeId);
		var spaceName = item.data.spaceName;

		if(item.parent == "#"){
			var productId = item.data.id;
			var instanceId = null;
		}
		else{
			var productId = item.data.ofProductId;
			var instanceId = item.data.id;
		}

		/* get data from ajax query */
		var myGetterUrl = document.baseurl+"/pdm/productinstance/index";
		var ajaxdata = {
			'instanceid':instanceId,
			'productid':productId,
			'spacename':spaceName,
		};
		$.ajax({
			type: 'get',
			async: false,
			url: myGetterUrl,
			data: ajaxdata,
			dataType: 'html',
			error: function(jqXHR, textStatus, errorThrown){
				alert('Error during document get: ' + textStatus);
			},
			success: function(data, textStatus, jqXHR){
				$("#content-wrapper").html(data);
			}
		});
	}

	// listen for event
	jstreeRef.on('activate_node.jstree', function (e, node) {
		var type = node.node.type;
		var id = node.node.id;
		getProperties(jstreeRef, id);
	});

});
</script>

<div id="wrapper" class="wrapper">
	<div id="sidebar-wrapper" class="sidebar-wrapper pane ui-layout-west navbar navbar-default navbar-inverse navbar-collapse" role="navigation">
		<div id="tree">
		</div>
	</div>

	<div id="content-wrapper" class="content-wrapper pane ui-layout-center">
	</div>
	<!-- /#page-wrapper -->
</div>
