<a class="btn btn-default btn-xs" href="<?echo $baseurl?>/rt/import/display">Enregistrer un refus technique</a>
<a class="btn btn-default btn-xs" href="<?echo $baseurl?>/rt/index/display">Voir les refus techniques</a>
<a class="btn btn-default btn-xs" href="<?echo $baseurl?>/RtCodes.php">Codes des RTs</a>
