{*Smarty template*}

<ul class="rb-navtabpanel tabnav">
	{if isset($SelectedProduct)}
	<li class="{$productTab} rb-navtab"><a
		href="{$baseurl}/ProductManage.php?space={$SelectedContainerType}">{$SelectedProduct}</a></li>
	{/if} {if isset($SelectedContainerId)}
	<li class="{$documentManage} rb-navtab"><a
		href="{$baseurl}/DocManage.php?space={$SelectedContainerType}&docfileManage=0">{$SelectedContainerNum}</a></li>
	{if $DisplayDocfileTab}
	<li class="{$docfileManage} rb-navtab"><a
		href="{$baseurl}/DocManage.php?space={$SelectedContainerType}&docfileManage=1">{$SelectedContainerNum}_Files</a></li>
	{/if} {/if}
	<li class="{$wildspaceTab} rb-navtab"><a
		href="{$baseurl}/wildspace.php">{tr}Wildspace{/tr}</a></li> {if
	isset($SelectedContainerId)}
	<li class="{$containerConsultTab} rb-navtab"><a
		href="{$baseurl}/containerConsult.php">{tr}Consultation{/tr}</a></li> {/if}

	{if $containerConsultTab=='active'}{include
	file='layouts/tabs/myConsultTabs.tpl'}{/if}
</ul>
