<ul class="rb-navtabpanel tabnav">
	<li class="{$projetUsers} rb-navtab"><a
		href="{$baseurl}/tiki-admingroups.php">{tr}Users{/tr}</a></li>
</ul>

<div id="BoiteActions">
	<p class=entete>Actions</p>
	<span class="button2"><a class="linkbut"
		href="javascript:popup('{$baseurl}/projectManage.php?action=create','projectCreate')">{tr}Create{/tr}</a></span>
	<span class="button2"><a class="linkbut"
		href="{$baseurl}/galaxia_admin_processes.php">{tr}Workflow{/tr}</a></span> <span
		class="button2"><a class="linkbut"
		href="javascript:popup('{$baseurl}/projectHistory.php','projetHistory')">{tr}History{/tr}</a></span>
</div>
