{*Smarty template*}

<div id="page-title">
  <h1 class="pagetitle">{tr}Batch Import of documents in{/tr} {$container_number}</h1>
  <h2 class="pagetitle">{tr}STEP{/tr} {$step} : {tr}{$step_description}{/tr}</h2>
</div>

<i>
The cvs file must be construct in accordance to this rules :<br />
<ul>
<li>The first line (header) define the name of the fields to import in the database.</li>
<li>If the header define a field 'file', this file will be store in the vault. This file must be in the wildspace</li>
<li>Be careful : the header define the field name and not the description show to the user</li>
<li>The next lines defines the value of each field.</li>
<li>You can define the header 'category_name' if you prefer set the usual name of the category in place to the id</li>
</ul>
</i>

<form action="{$baseurl}/document/import/visucsv" method="post" name="step1" enctype="multipart/form-data">
<table class="normal table table-bordered">
  <tr>
   <td>
   {assign var='helphead' value='<b>document_number;file;natif_issue;category_id;document_supplier;document_indice_id;designation</b><br />'}
   {assign var='helpcore' value='number;file name;issue;category;supplier;indice;designation'}
   {assign var='helphead' value='<b>document_number;file;natif_issue;category_id;document_supplier;document_indice_id;designation</b><br />'}
   {assign var='helpcore' value='numero;nom du fichier;issue;id de la categorie;fournisseur;id de l\'indice;designation'}
    {tr}Batch upload{/tr} (CSV file<a {popup text="$helphead $helpcore"}><img src="{$baseurl}/img/icons/help.png" border="0" height="16" width="16" alt='{tr}help{/tr}' /></a>):
   </td>
   <td>
    <input type="file" name="importDocumentCsvList"/>
    <input type="submit" value="visucvs" name="action" />
    <input type="hidden" name="container_id" value="{$container_id}" />
    <input type="hidden" name="space" value="{$CONTAINER_TYPE}" />
   </td>
  </tr>
</table>
</form>


<h2 class="pagetitle">{tr}Or select a zip file{/tr}</h1>
<form action="{$baseurl}/document/import/visuzipfile" method="post" name="step1" enctype="multipart/form-data">
<table class="normal table table-bordered">
  <tr>
   <td>
    {assign var='helpheadzip' value='The zip file must contains the files to import without subdirectory<br />'}
    {assign var='helpcorezip' value=''}
    {tr}Batch upload{/tr}(zip file<a {popup text="$helpheadzip $helpcorezip"}><img src="{$baseurl}/img/icons/help.png" border="0" height="16" width="16" alt='{tr}help{/tr}' /></a>):
   </td>
   <td>
    <input type="file" name="importzipfile"/>
    <input type="submit" value="visuzipfile" name="action" />
    <input type="hidden" name="container_id" value="{$container_id}" />
    <input type="hidden" name="space" value="{$CONTAINER_TYPE}" />
   </td>
  </tr>
</table>
</form>


<h2 class="pagetitle">{tr}Or select RbXmlTree{/tr}</h1>
<form action="{$baseurl}/document/import/visualize" method="post" name="step1" enctype="multipart/form-data">
<table class="normal table table-bordered">
  <tr>
   <td>
    {assign var='helpheadzip' value='The rbXml file is a xml file to define the childs documents of each document<br />'}
    {assign var='helpcorezip' value=''}
    {tr}Batch upload{/tr}(zip file<a {popup text="$helpheadzip $helpcorezip"}><img src="{$baseurl}/img/icons/help.png" border="0" height="16" width="16" alt='{tr}help{/tr}' /></a>):
   </td>
   <td>
    <input type="file" name="rbxmltreefile"/>
    <input type="submit" value="visualize" name="action" />
    <input type="hidden" name="container_id" value="{$container_id}" />
    <input type="hidden" name="space" value="{$CONTAINER_TYPE}" />
   </td>
  </tr>
</table>
</form>
