<div id="tabs">
	<ul class="rb-mainnavtabpanel rb-navtabpanel tabnav" id="mytab">
		<li class="rb-navtab"><a href="{$baseurl}/changelog.txt">Tab1</a></li>
		<li class="rb-navtab"><a href="{$baseurl}/application/home/index">Tab2</a></li>
	</ul>
</div>
