{literal}
<style>
</style>

<script>
$(function() {
});

function test_uniqId(){
	var div=$('<div></div>').uniqueId();
	$('html').append(div);
	
	div.attr('documentId', 100);
	div.attr('space', 'workitem');
	div.attr('reloadUrl', '{$baseurl}/document/detail/index');
	
	var object = new Object();
	object.name = "Toot thielmann";
	div.rbplug = object;
	//div.attr('rbplug', object); interdit
	
	console.log(div.attr('id'));
	
	div.dialog({
		'height':700,
		'width':1200,
		close: function( event, ui ) {
			console.log($(this).attr('space'));
			this.parentElement.remove();
			console.log("destroy dialog");
		}
	});
	console.log(div.attr('documentId'));
	console.log(div.attr('space'));
	console.log(div.attr('reloadUrl'));
	//console.log(div.attr('rbplug').name);
	console.log(div.rbplug.name);

}


</script>
{/literal}



<button onclick="return test_uniqId()">Click</button>

