{literal}
<style>
</style>

<script>
$(function() {
	$(".rbwidget").associatedFiles();
});

$.widget( "rb_document_detail.detail", {
});

$.widget( "rb_document_detail.associatedFiles", {
	 options: {
		 value: 0
	 },
	 _create: function() {
		 this.element.text("Test ok?");
	 },
	 
});

$.widget( "rb_document_detail.children", {
});


var div=$('<div></div>');
var t = div.uniqueId();
div.append(domfrag);
$('html').append(div);
div.dialog({
	'height':700,
	'width':1200,
	close: function( event, ui ) {
		this.parentElement.remove();
		console.log("destroy dialog");
	}
});




</script>
{/literal}

<div class=rbwidget>TOTO</div>





