<script>
$(function(){
	$(".user-btn").click(function(e){
		var url = "<?php echo $this->url('adminuser', array('action'=>'index'))?>";
		window.open(url,"_self");
	});

	$(".process-btn").click(function(e){
		var url = "<?php echo $this->url('process')?>";
		window.open(url,"_self");
	});

	$(".db-btn").click(function(e){
		var url = "<?php echo $this->url('database');?>";
		window.open(url,"_blank");
	});

	$(".properties-btn").click(function(e){
		var url = "<?php echo $this->url('extendedproperties');?>";
		window.open(url,"_blank");
	});
	
	
});
</script>

<button type="button" class="btn btn-primary btn-lg btn-block user-btn">Users</button>
<button type="button" class="btn btn-primary btn-lg btn-block process-btn">Process</button>
<button type="button" class="btn btn-primary btn-lg btn-block db-btn">Database</button>
<button type="button" class="btn btn-primary btn-lg btn-block properties-btn">Properties</button>
