<table class="normal table table-bordered">
	<tr>
		<td width="50%">
			<table class="normal table table-bordered table-striped">
				<thead><tr class="">
					<th class="heading" colspan="2">Basic properties</th>
				</tr></thead>
				<tbody>

				<tr class="transposeTable">
					<th class="title">Id</th>
					<td><?php echo $product->getId()?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Uid</th>
					<td><?php echo $product->getUid()?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Name</th>
					<td><?php echo $product->getName()?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Number</th>
					<td><?php echo $product->getNumber()?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Designation</th>
					<td><?php echo $product->description?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Version</th>
					<td><?php echo $product->version?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Document Id</th>
					<td><?php echo $product->documentId?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Document Uid</th>
					<td><?php echo $product->documentUid?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Document SpaceName</th>
					<td><?php echo $product->spaceName?></td>
				</tr>

				<tr class="transposeTable">
					<th class="title">Type</th>
					<td><?php echo $product->type?></td>
				</tr>

				<thead>
				<tr>
					<th class="heading" colspan="2">Physicals Properties</th>
				</tr>
				</thead>

				<tbody>
				<tr class="transposeTable">
					<th class="title">Weight</th>
					<td><?php echo $product->weight?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Volume</th>
					<td><?php echo $product->volume?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Wetsurface</th>
					<td><?php echo $product->wetsurface?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Density</th>
					<td><?php echo $product->density?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Gravity Center</th>
					<td><?php $product->gravityCenter?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Inertia Center</th>
					<td><?php $product->inertiaCenter?></td>
				</tr>
				<tr class="transposeTable">
					<th class="title">Materials</th>
					<td></td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>
