<?php
use Rbplm\People;

$siteName= 'Products Versions';
$currentUser = People\CurrentUser::get();
$username = $currentUser->getLogin();
$logoUrl = $this->basePath('img/logo.png');
?>

<style>
th.sortable{
	cursor:pointer;
}
th.sortable>span{
}
.form-control-paginator{
	height:30px;
	font-size:12px;
}
.btn-paginator-prev, .btn-paginator-next{
	height:30px;
	width:30px;
	font-size:12px;
}
.control-panel{
	left:20px;
}
th[data-field="id"]{
	width:50px;
}
th[data-field="uid"]{
	width:100px;
}
th[data-field="name"]{
	width:400px;
}
th[data-field="version"]{
	width:50px;
}
</style>

<script>
$(function(){
	var orderby = "<?php echo $orderby?>";
	var order = "<?php echo $order?>";
	var url = "<?php echo $this->url('pdm/default', array('controller'=>'productversion'));?>";
	initSortableHeader(orderby, order, url);

	$(".edit-btn").click(function($e){
		var id = $(this).data('id');
		var url = "<?php echo $this->url('pdm/default', array('action'=>'edit', 'controller'=>'productversion'))?>/"+id;
		window.open(url,"_self");
	});

	$(".delete-btn").click(function(){
		if(confirm("<?php echo tra('Do you want really suppress this doctype?')?>")){
			var id = $(this).data('id');
			var url = "<?php echo $this->url('pdm/default', array('action'=>'delete', 'controller'=>'productversion'))?>/"+id;
			window.open(url,"_self");
		}
		return false;

	});

	$(".refresh-btn").click(function(){
		document.location.reload(true);
		return false;
	});

	$(".enter-btn").click(function(){
		var id = $(this).data('id');
		var url = "<?php echo $this->url('pdm/default', array('action'=>'index', 'controller'=>'productexplorer'))?>/"+id;
		window.open(url,"_self");
		return false;
	});
});
</script>

<?php
function displaylist($headers, $list, $view, $mode='consult'){
?>

<table class="normal table table-bordered">
	<thead><tr>
		<?php
		foreach($headers as $h=>$p):
			echo '<th data-field="'.$p.'" class="heading sortable"><span class="glyphicon"></span>'.$h.'</th>';
		endforeach;
		echo '<th></th>';
		?>
	</tr></thead>

	<tbody>
		<?php
		foreach($list as $item):
			$id = $item['id'];
			$uid = $item['uid'];
			echo '<tr>';
			foreach($headers as $h=>$p):
				echo '<td>'.$item[$p].'</td>';
			endforeach;
			?>
			<td nowrap style="width:80px;">
				<div class="btn-group btn-group-xs project-btn" role="group" aria-label="...">

					<button type="button" class="btn btn-default enter-btn" id="enter-btn" data-id="<?php echo $id?>">
						<?php echo $view->translate('See') ?>
					</button>

					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" class="btn-default edit-btn" data-id="<?php echo $id ?>">
								<?php echo $view->translate('Edit') ?>
							</a>
						</li>
						<li>
							<a href="#" class="btn-danger delete-btn" data-id="<?php echo $id ?>">
								<?php echo $view->translate('Delete') ?>
							</a>
						</li>
					</ul>

				</div>
			</td>
			<?php
			echo '</tr>';
		endforeach;
		?>
	</tbody>
</table>
<?php } ?>

<div id="page-bar" class="panel panel-default">
<div class="panel-body">
	<a class="btn btn-default btn-xs pull-left add-btn"
		href="<?php echo $this->url('pdm/default', array('action'=>'create', 'controller'=>'productversion'))?>">
		<?php echo $this->translate('Add') ?>
	</a>
</div>
</div>

<h1 class="pagetitle">
		<?php echo $this->pageTitle ?>
</h1>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading" style="height:37px;">
				<h3 class="panel-title">
				</h3>
			</div>
			<div class="panel-body">
				<div class="control-panel">
					<div class="panel-filter" style="padding:0;margin:0;position:absolute;left:0px;top:0px;">
						<?php echo $this->filter->render($this)?>
					</div>
					<div class="panel-pagination text-center">
						<?php echo $this->paginator->render($this)?>
					</div>
				</div>

				<?php displaylist($headers, $list, $this); ?>
			</div>
		</div>
	</div>
</div>
