<script src="{$baseurl}/js/jQuery-MD5/jquery.md5.min.js"></script>

<style>
.dropchildrenzone{
	width: 500px;
	height: 60px;
	border: 3px dashed #BBBBBB;
	line-height:50px;
	text-align: center;
	}
</style>

<script>
$(function() {
	var dropChildrenDiv = $(".dropchildrenzone").last();

	dropChildrenDiv.droppable({
		drop:function(e, ui){
			var rbGuiContext = $(this).parents("div.rbgui-container").get(0).rbGuiManager;
			console.log(rbGuiContext.options);

			var childId = $(ui.draggable).attr("id");
			var childSpace = $(ui.draggable).attr("spacename");
			console.log(childId, childSpace);

			//create ajax request for create relation
			var spacename = rbGuiContext.options.spacename;
			var documentId = rbGuiContext.options.documentId;
			var baseurl = rbGuiContext.options.baseurl;
			var url= baseurl+"/rbdocument/detail/addchildren";

			var params={};
			params.space = spacename;
			params.documentid = documentId;
			params.encode = 'json';
			params.children={
				'child1':{
					'documentid':childId,
					'space':childSpace
				}
			};
			$.ajax({
				type : 'POST',
				url : url,
				data : params,
				dataType: 'json',
				success : function(data, textStatus, jqXHR){
				},
				error : function(data, textStatus, jqXHR){
					return ajaxErrorToMsg(data);
				}
			});
			$(this).css('border', '3px dashed #BBBBBB');
			rbGuiContext.reload('docchildren');
		},
		over:function(e,ui){
			$(this).css('border', '3px dashed red');
			return false;
		},
		out:function(e,ui){
			$(this).css('border', '3px dashed #BBBBBB');
			return false;
		}
	});
});
</script>

<div id="dropchildren{$documentid}" class="dropchildrenzone">Drop a document here to add relation</div>
