<?php
use Application\Model\Acl;
use Rbplm\People;

$siteName= 'SIER Gate';
$currentUser = People\CurrentUser::get();
$username = $currentUser->getLogin();
$logoUrl = 'img/logo.png';

if( isset($currentUser->appacl) && $currentUser->appacl->hasRight(Acl\Application::RIGHT_ADMIN)){
	$admin = true;
}

function displaylist($headers, $list, $view, $mode='consult'){
	$currentUser = People\CurrentUser::get();

?>
<table class="table">
	<tr>
		<?php
		echo '<th>#</th>';
		foreach($headers as $k=>$h):
			echo '<th>'.$k.'</th>';
		endforeach;
		echo '<th></th>';
		?>
		<?php
		foreach($list as $item):
			$attr = json_decode($item['attributes']);
			echo '<tr>';
			echo '<td>'.$item['id'].'</td>';
			foreach($headers as $h):
				if(isset($attr->$h)){
					echo '<td>'.$attr->$h.'</td>';
				}
				elseif(isset($item[$h])){
					echo '<td>'.$item[$h].'</td>';
				}
				else{
					echo '<td></td>';
				}
			endforeach;
			?>
			<td>
				<div class="btn-group btn-group-xs project-btn" role="group"
					aria-label="...">

					<button type="button" class="btn btn-default enter-btn" id=""
						onclick="enterProject(<?php echo $item['id'] ?>);">
						<?php echo $view->translate('Enter') ?>
					</button>

					<button type="button" class="btn btn-default build-btn" id=""
						onclick="buildProject(<?php echo $item['id'] ?>);">
						<?php echo $view->translate('Build') ?>
					</button>

					<button type="button" class="btn btn-warning edit-btn" id=""
						onclick="editProject(<?php echo $item['id'] ?>);">
						<?php echo $view->translate('Edit') ?>
					</button>

					<button type="button" class="btn btn-danger delete-btn" id=""
						onclick="deleteProject('<?php echo $item['uid'] ?>');">
						<?php echo $view->translate('Delete') ?>
					</button>
				</div>
			</td>
			<?php
			echo '</tr>';
		endforeach;
		?>

</table>
<?php } ?>

<script>
	function buildProject(id){
		$url="<?php echo $this->url('projectbuilder', array('action'=>'edit'))?>"+id;
		window.open($url,"_self");
	}

	function editProject(id){
		$url="<?php echo $this->url('project', array('action'=>'edit'))?>"+id;
		window.open($url,"_self");
	}

	function enterProject(id){
		$url="<?php echo $this->url('project', array('action'=>'consult'))?>"+id;
		window.open($url,"_self");
	}

	function deleteProject(id){
		var ok = confirm('Are you Sure?');
		if(ok == true){
			$url = "<?php echo $this->url('project', array('action'=>'delete'))?>"+id;
			window.open($url,"_self");
		}
	}

	function setMode()
	{
		var mode="<?php echo $mode?>";

		if(mode=='consult'){
			$(".add-btn, .save-btn, .delete-btn, .build-btn, .edit-btn").hide();
			document.mode='consult';
		}
	}

	$(function(){
		setMode();
	});
</script>


<div class="jumbotron">
	<h1>
		<img src="<?php echo $logoUrl?>" />
		<?php echo sprintf($this->translate('Welcome '.$username.' to %s'.$siteName.'%s'), '<span class="">', '</span>') ?>
	</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<?php echo $this->translate('My Projects') ?>
				</h3>
			</div>
			<div class="panel-body">
				<?php displaylist($myProjectHeaders, $myProjects, $this); ?>
				<p>
					<a class="btn btn-success add-btn pull-left add-btn"
						href="<?php echo $this->url('project', array('action'=>'add'))?>">
						<?php echo $this->translate('Add') ?>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>

<?php if ($mode<>'consult'):?>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<?php echo $this->translate('My Templates') ?>
				</h3>
			</div>
			<div class="panel-body">
				<?php displaylist($templateHeaders, $myTemplates, $this); ?>
				<p>
					<a class="btn btn-success pull-left add-btn"
						href="<?php echo $this->url('template', array('action'=>'add'))?>">
						<?php echo $this->translate('Add') ?>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
<?php endif; ?>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<?php echo $this->translate('Help &amp; Manage') ?>
				</h3>
			</div>
			<div class="panel-body">
				<p>
					<?php echo sprintf($this->translate('To get help about Rb Portail'), '') ?>
					<a class="btn btn-success help-btn"
						href="<?php echo $this->url('help', array('action'=>'index'))?>">
						<?php echo $this->translate('Help') ?>
					</a>
				</p>

				<?php if($admin): ?>
				<p>
					<?php echo sprintf($this->translate('To manage Siergate users roles'), '') ?>
					<a class="btn btn-success help-btn"
						href="<?php echo $this->url('user')?>">
						<?php echo $this->translate('Users Roles') ?>
					</a>
				</p>
				<?php endif?>
			</div>
		</div>
	</div>
</div>
