<?php
$form = $this->filterForm;
$form->prepare();
echo $this->form()->openTag($form);
?>

<fieldset>
	<div class="form-group"><?echo $this->formRow($form->get('find_number'));?></div>
	<b>NOTE:</b> <i>Ne pas utiliser le caractère "*" dans les champs de recherche.</i><br />

	<div class="form-group"><?echo $this->formRow($form->get('find_designation'));?></div>

	<input type="submit" name="filter" value="<?echo tra('filter')?>" class="btn btn-default btn-sm"/>
	<input type="submit" name="resetf" value="<?echo tra('Reset all filters')?>" class="btn btn-default btn-sm"/>
</fieldset>

<?php echo $this->form()->closeTag();?>
