<?php $this->headLink()
->prependStylesheet($this->basePath() . '/css/application.css')
->prependStylesheet($baseurl . '/styles/docsier.css');
?>

<h1 class="pagetitle"><img src="<?echo $baseurl?>/img/ranchbe.png" width="80px"/>RECHERCHE DE NORMES AIRBUS</h1>

<div id="searchbar">
<?echo $this->filter->render($this)?>
</div>

<hr />

<a name="result" ></a>

<h1 class="pagetitle">RESULTATS</h1>

<b><font color="white"><?echo $CountOutput?> documents trouvés</font></b><br />

<!-- {*--------------------Display messages------------------------------*} -->
<b><font color="red"><?echo $search_return?></font></b><br />

<!-- {*--------------------Display result--------------------------------*} -->
<form name="checkform" method="post" action="#">

<?
if($list):
foreach($list as $item):
?>
	<span class="texteresult">
	<div class="divbleu"><hr size ="1" color ="#FFFF99" />ID :
	<?echo $item['number']?><br />
	Description :
	<?echo $item['description']?><br />
	Indice majeur :
	<?echo $item['maj_int_ind']?><br />
	Indice mineur :
	<?echo $item['min_int_ind']?><br />
	Etat :
	<?echo $item['lifeStage']?><br />
	<a href="<?echo $baseurl?>/airbus/manual/viewdocument?documentid=<?echo $item['id']?>" title="View document">
	<?echo $this->doctypeFormater($item['doctypeId'])?>
	</a>

	<hr size ="1" color ="#FFFF99" />
	</div></span>
<?
endforeach;
endif;
?>
</form>
